.example-tab-icon {
    margin-right: 20px;
    margin-left: 1px;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .body{
    margin-top:20px;
    background:#FAFAFA;
  }
  .auto-shrink-text {
  display: inline-block;
  max-width: 100%;
  font-size: clamp(12px, 2vw, 18px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-card {
    color: #fff;
  }

  .bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }

  .bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }

  .bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }

  .bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
  }


  .card {
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .f-left {
    float: left;
  }

  .f-right {
    float: right;
  }

