
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.texto-lista{
  margin-top: 13px; 
  font-weight: bold;
}

.texto-detalle{
  margin-top: 13px; 
  font-size: 12.5px;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
margin-left: 8px;
}


input{
  text-transform: uppercase;
}
select{
  text-transform: uppercase;
}
textarea {
  text-transform: uppercase;
}
