<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Ayudantía</h6>
                            <h2 class="mb-0">Registrar Cotizaciones</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>reply</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <ul class="navbar-nav align-items-right d-none d-md-flex">
                                <li class="nav-item" ngbDropdown placement="bottom-right">
                                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                                        <div class="media align-items-center">
                                            <div class="example-button-row">
                                                <button mat-icon-button aria-label="">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                                        <a routerLinkActive="active" class="dropdown-item">
                                            <i class="fa fa-plus"></i>
                                            <span>Agregar Imagen</span>
                                        </a>


                                    </div>
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label > Nombre de la Empresa </label>
                                <input type="text" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.nombre" value="{{Cotizaciones.nombre}}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="tmsOrigen">Fecha</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="AAAA-MM-DD"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha"
                                                ngbDatepicker #fe="ngbDatepicker" [value]="formatter.format(ffecha)"
                                                [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fe.toggle()"
                                                    type="button">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="tmsOrigen">Vigencia</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="AAAA-MM-DD"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="vigencia"
                                                ngbDatepicker #vi="ngbDatepicker" [value]="formatter.format(fvigencia)"
                                                [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="vi.toggle()"
                                                    type="button">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtObjeto">Objeto de la Cotización</label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                    <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="editor"
                                        [(ngModel)]="Cotizaciones.objeto" [disabled]="false"
                                        [placeholder]="'Escibe aqui...'">
                                    </ngx-editor>
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                           
                            <div class="form-group col-md-3">
                                <label> Tiempo de Ejecución </label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                   
                                    [(ngModel)]="Cotizaciones.lapso" value="{{Cotizaciones.lapso}}">
                            </div>
                            <div class="form-group col-md-3">
                                <label> Monto Total </label>
                                <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.total" value="{{Cotizaciones.total}}"
                                    (blur)="restar()"
                                    >
                            </div>
                            <div class="form-group col-md-3">
                                <label>Monto Pagado</label>
                                <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.pagado" value="{{Cotizaciones.pagado}}" 
                                    (blur)="restar()"
                                >
                            </div>
                            <div class="form-group col-md-3">
                                <label>Deuda</label>
                                <input type="number" readonly class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.deuda" value="{{Cotizaciones.deuda}}">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Garantía</label>
                                <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.garantia" value="{{Cotizaciones.garantia}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Modalidad de Entrega</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.modalidad" value="{{Cotizaciones.modalidad}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Forma de Pago</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.forma_pago" value="{{Cotizaciones.forma_pago}}">
                            </div>

                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Responsable</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.responsable" value="{{Cotizaciones.responsable}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Cargo Responsable</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Cotizaciones.cargo_responsable" value="{{Cotizaciones.cargo_responsable}}">
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-right">
                                    <button class="btn bg-primary text-white" (click)="guardar()">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>