<div class="header bg-pastel-gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Secretaria</h6>
              <h2 class="mb-0">{{titulo}}</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" [routerLink]="['/secretaria']">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item" ngbDropdown placement="bottom-right" container="body">
                  <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                    <div class="media align-items-center">
                      <div class="example-button-row">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <a routerLinkActive="active" [routerLink]="['/configuracion']" class="dropdown-item">
                      <i class="ni ni-settings-gear-65"></i>
                      <span>Configuración</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
          (selectedIndexChange)="seleccionNavegacion($event)">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">folder_shared</mat-icon>
              MINISTERIAL
            </ng-template>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-action">ACCIÓN</th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear"
                            (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses"
                            (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <button mat-icon-button matTooltip="Editar" (click)="editar(e)">
                        <mat-icon class="text-gray">edit_note</mat-icon>
                      </button>
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]">
                            {{ e.numc }} <span class="document-type-symbol" style="color:green">{{ e.simbolo }}</span>
                          </a>
                          <small class="document-origin">{{ e.nori | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.coma | uppercase }} - {{ e.udep | uppercase }}</span>
                      <small class="document-date d-block">{{ e.fech | date : "dd/MM/yyyy hh:mm a" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button matTooltip="Recibir" (click)="open(observacion, e.idd)">
                          <mat-icon class="text-gray">account_tree</mat-icon>
                        </button>
                        <a [href]="dwUrl(e.numc, e.anom)" target="_top" rel="noopener noreferrer" mat-icon-button matTooltip="Descargar PDF">
                          <mat-icon class="text-red">picture_as_pdf</mat-icon>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>

          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">send</mat-icon>
              ENVIADOS A LA DIV. DE RESOLUCIONES
            </ng-template>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear"
                            (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses"
                            (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]" [matTooltip]="e.numc">
                            {{ getDetalle(e) }} <span class="document-type-symbol" style="color:green">{{ e.simbolo }}</span>
                          </a>
                          <small class="document-origin">{{ e.nori | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }}</span>
                      <br>
                      <small class="text-muted">{{ e.coma | uppercase }}</small>
                      <small class="document-date d-block">{{ e.fcre | date:"dd/MM/yyyy" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button matTooltip="Editar" (click)="editar(e)">
                          <mat-icon>edit_note</mat-icon>
                        </button>
                        <a [href]="dwUrl(e.numc, e.anom)" target="_top" rel="noopener noreferrer" mat-icon-button matTooltip="Descargar PDF">
                          <mat-icon class="text-red">picture_as_pdf</mat-icon>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>



          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">assignment_return</mat-icon>
              DEVUELTOS
            </ng-template>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear"
                            (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses"
                            (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]" [matTooltip]="e.numc">
                            {{ getDetalle(e) }} <span class="document-type-symbol" style="color:green">{{ e.simbolo }}</span>
                          </a>
                          <small class="document-origin">{{ e.nori | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }}</span>
                      <br>
                      <small class="text-muted">{{ e.coma | uppercase }}</small>
                      <small class="document-date d-block">{{ e.fcre | date:"dd/MM/yyyy" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button matTooltip="Editar" (click)="editar(e)">
                          <mat-icon>edit_note</mat-icon>
                        </button>
                        <a [href]="dwUrl(e.numc, e.anom)" target="_top" rel="noopener noreferrer" mat-icon-button matTooltip="Descargar PDF">
                          <mat-icon class="text-red">picture_as_pdf</mat-icon>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>



          </mat-tab>


        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<ng-template #observacion let-modal>
  <div class="modal-header bg-pastel-gradient">
    <h4 class="modal-title text-white" id="modal-basic-title">Acciones Generales</h4>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </div>
    <div class="form-group  col-md-12">
      <label>Acción</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="AccionTexto"
        (change)="selAccion()" id="slcaceptar">
        <option *ngFor="let e of lstAcciones" value="{{e.valor}}">{{e.texto}}</option>
      </select>

    </div>
    <div class="form-group  col-md-12" *ngIf="clasificacion">
      <label>Area</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cmbDestino">
        <option value="S">SELECCIONE</option>
        <option *ngFor="let x of lstEstados" value="{{ x.id }}">{{ x.nomb }}</option>
      </select>
    </div>

    <div class="form-group  col-md-12" *ngIf="vplazo">
      <label for="tmsCreacion">Plazo / Alerta</label>
      <div class="form-group div-style">
        <div class="input-group div-style">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="extender_plazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement"
            [positionTarget]="buttonEl" readonly>
          <div class="input-group-append">
            <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button" id="btnplazo"></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-pastel text-white " (click)="insertarObservacion();modal.close('Save')"
      id="btnaceptar">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
    <button class="btn btn-pastel-cancel text-white" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>



