<div class="header bg-pastel-gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>


<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">{{titulo}}</h2>
                        </div>
                        <div class="col-md-1 text-right">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Ver historico de operaciones"
                                        (click)="open(historico)" *ngIf="blHistorico">
                                        <mat-icon style="font-size: 36px;">history</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" (click)="irAnterior()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 text-right">

                            <ul class="navbar-nav align-items-right d-none d-md-flex">
                                <li class="nav-item" ngbDropdown placement="bottom-right" container="body">
                                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                                        <div class="media align-items-center">
                                            <div class="example-button-row">
                                                <button mat-icon-button aria-label="">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>

                                        <a routerLinkActive="active" [routerLink]="['/rsprocesos/oresoluciones']"
                                            class="dropdown-item">
                                            <i class="fa fa-plus"></i>
                                            <span>Agregar resuelto</span>
                                        </a>
                                        <a routerLinkActive="active" [routerLink]="['/rsconfiguracion']"
                                            class="dropdown-item">
                                            <i class="fa fa-cogs"></i>
                                            <span>Configuraciones</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row" *ngIf="menu">
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 sub-anim-item" [style.animation-delay]="1.5 +'ms'">
                            <a routerLinkActive="active" (click)="desactivar('Agregar Entradas');aentradas=true"
                                class="text-decoration-none">
                                <div class="card submenu-card h-100">
                                    <div
                                        class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-center">
                                        <div class="sub-icon-container">
                                            <i class="fa fa-file fa-2x"></i>
                                        </div>
                                        <h5 class="text-uppercase font-weight-bold mb-3 sub-text-title">Agregar Entradas
                                        </h5>
                                        <div class="mt-auto">
                                            <span class="badge badge-pill badge-secondary text-muted px-3 py-2"
                                                style="background-color: #f8f9fe; border: 1px solid #f0f2f5;">
                                                <i class="fa fa-chevron-right mr-1" style="font-size: 0.8em;"></i>
                                                Acceder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 sub-anim-item" [style.animation-delay]="1.5 +'ms'">
                            <a routerLinkActive="active" (click)="desactivar('Agregar Resolucion');aresolucion=true"
                                class="text-decoration-none">
                                <div class="card submenu-card h-100">
                                    <div
                                        class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-center">
                                        <div class="sub-icon-container">
                                            <i class="fa fa-book fa-2x"></i>
                                        </div>
                                        <h5 class="text-uppercase font-weight-bold mb-3 sub-text-title">Agregar Resolución
                                        </h5>
                                        <div class="mt-auto">
                                            <span class="badge badge-pill badge-secondary text-muted px-3 py-2"
                                                style="background-color: #f8f9fe; border: 1px solid #f0f2f5;">
                                                <i class="fa fa-chevron-right mr-1" style="font-size: 0.8em;"></i>
                                                Acceder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 sub-anim-item" [style.animation-delay]="1.5 +'ms'">
                            <a routerLinkActive="active" (click)="desactivar('Ingresos por lote');lotes=true"
                                class="text-decoration-none">
                                <div class="card submenu-card h-100">
                                    <div
                                        class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-center">
                                        <div class="sub-icon-container">
                                            <i class="fa fa-tasks fa-2x"></i>
                                        </div>
                                        <h5 class="text-uppercase font-weight-bold mb-3 sub-text-title">Ingresos por lote
                                        </h5>
                                        <div class="mt-auto">
                                            <span class="badge badge-pill badge-secondary text-muted px-3 py-2"
                                                style="background-color: #f8f9fe; border: 1px solid #f0f2f5;">
                                                <i class="fa fa-chevron-right mr-1" style="font-size: 0.8em;"></i>
                                                Acceder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>



                        <!-- <div class="col-xl-3 col-lg-4 col-md-6 mb-4 sub-anim-item" [style.animation-delay]="1.5 +'ms'">
                            <a routerLinkActive="active" (click)="desactivar('Publicaciones');dpublicaciones=true"
                                class="text-decoration-none">
                                <div class="card submenu-card h-100">
                                    <div
                                        class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-center">
                                        <div class="sub-icon-container">
                                            <i class="fa fa-upload fa-2x"></i>
                                        </div>
                                        <h5 class="text-uppercase font-weight-bold mb-3 sub-text-title">Publicaciones
                                        </h5>
                                        <div class="mt-auto">
                                            <span class="badge badge-pill badge-secondary text-muted px-3 py-2"
                                                style="background-color: #f8f9fe; border: 1px solid #f0f2f5;">
                                                <i class="fa fa-chevron-right mr-1" style="font-size: 0.8em;"></i>
                                                Acceder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div> -->



                         <div class="col-xl-3 col-lg-4 col-md-6 mb-4 sub-anim-item" [style.animation-delay]="1.5 +'ms'">
                            <a routerLinkActive="active" (click)="desactivar('Eliminaciones');eliminaciones=true"
                                class="text-decoration-none">
                                <div class="card submenu-card h-100">
                                    <div
                                        class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-center">
                                        <div class="sub-icon-container">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </div>
                                        <h5 class="text-uppercase font-weight-bold mb-3 sub-text-title">Eliminaciones
                                        </h5>
                                        <div class="mt-auto">
                                            <span class="badge badge-pill badge-secondary text-muted px-3 py-2"
                                                style="background-color: #f8f9fe; border: 1px solid #f0f2f5;">
                                                <i class="fa fa-chevron-right mr-1" style="font-size: 0.8em;"></i>
                                                Acceder
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>



                    </div>







                    <div class="row">
                        <div class="col-md-12">
                            <app-rsentradas *ngIf="aentradas"></app-rsentradas>
                            <app-rscdatosbasicos *ngIf="dbasico"></app-rscdatosbasicos>
                            <app-oresoluciones *ngIf="aresolucion"></app-oresoluciones>
                            <app-rscgeneral *ngIf="lotes"></app-rscgeneral>
                            <app-rscpublicaciones *ngIf="dpublicaciones"></app-rscpublicaciones>
                            <app-rseliminaciones *ngIf="eliminaciones"></app-rseliminaciones>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Fin de Tarjeta Padre -->
</div>




<!-- Adjuntar Imagenes al Documento -->
<ng-template #historico let-c="close" let-d="dismiss">

    <div class="modal-body">

        <div class="col-md-12">
            <h2>Historico de operaciones </h2>
        </div>
        <hr>
        <div class="col-md-12">
            <table style="width: 100%;" class="zigzag" border="1">
                <thead>

                    <tr>
                        <th style="width: 110px;"> CEDULA</th>
                        <th> RESUELTO</th>
                        <th> FECHA OPERACION</th>
                        <th> ASUNTO </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of lstHistorico">
                        <td>{{ e.cedula }}</td>
                        <td>{{ e.numero }}</td>
                        <td>{{ e.registro }}</td>
                        <td>{{ e.asunto.substring(0,20) }}</td>
                    </tr>
                </tbody>


            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn bg-primary text-white " (click)="c('Save')">
            <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>

    </div>
</ng-template>







