<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">Procesos</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>reply</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
                        (selectedIndexChange)="selNavegacion($event)">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                &nbsp;ENTRADAS
                            </ng-template>

                            <div class="container">


                                <mat-selection-list #lstDocumentos>
                                    <mat-list *ngFor="let e of lstProyectos; let i=index "
                                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                                        <div class="row">
                                            <div class="col-md-3 texto-lista">
                                                {{ e.nombre | uppercase }}
                                            </div>
                                            <div class="col-md-3 texto-lista">
                                                {{ e.ente | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-lista">
                                                {{ e.tipo | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-lista  {{ e.color }}">
                                                {{ e.fecha_origen | date:"dd-MM-yyyy" }}
                                            </div>

                                            <div class="col-md-2 text-right">

                                                <button mat-icon-button aria-label="Editar"
                                                    (click)="editar('proyecto', e.id )">
                                                    <mat-icon class="text-pink">edit_note</mat-icon>
                                                </button>
                                                <button mat-icon-button aria-label="Avance"
                                                    (click)="open(avance, e.id)">
                                                    <mat-icon class="text-info">add_circle</mat-icon>
                                                </button>
                                                <button mat-icon-button aria-label="Eliminar"
                                                    (click)="eliminar(e.numc, e.id)">
                                                    <mat-icon class="text-purple">delete</mat-icon>
                                                </button>


                                            </div>
                                        </div>
                                    </mat-list>
                                </mat-selection-list>
                            </div>

                            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
                                [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
                                aria-label="Seleccionar">
                            </mat-paginator>

                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                &nbsp;RESOLUCIONES
                            </ng-template>


                            <div class="container">
                                <mat-selection-list>
                                    <mat-list *ngFor="let e of lstCotizaciones; let i=index "
                                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                                        <div class="row">
                                            <div class="col-md-2 texto-lista">
                                                {{ e.nombre | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-lista">
                                                {{ e.vigencia | date:"dd-MM-yyyy" }}
                                            </div>
                                            <div class="col-md-2 texto-lista">
                                                {{ e.modalidad | uppercase }}
                                            </div>
                                            <div class="col-md-4 texto-lista">
                                                {{ e.responsable | uppercase }}
                                            </div>

                                            <div class="col-md-2 text-right">

                                                <button mat-icon-button aria-label="Editar"
                                                    (click)="editar('aycotizaciones', e.id )">
                                                    <mat-icon class="text-pink">edit_note</mat-icon>
                                                </button>
                                                <button mat-icon-button aria-label="Eliminar"
                                                    (click)="eliminar(e.numc, e.id)">
                                                    <mat-icon class="text-purple">delete</mat-icon>
                                                </button>

                                            </div>
                                        </div>
                                    </mat-list>
                                </mat-selection-list>
                            </div>
                            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
                                [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
                                aria-label="Seleccionar">
                            </mat-paginator>



                        </mat-tab>

                    </mat-tab-group>


                </div>
            </div>
        </div>

    </div>
    <!-- Fin de Tarjeta Padre -->
</div>