<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">

        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
              <h2 class="mb-0">Buzón</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item" ngbDropdown placement="bottom-right">
                  <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                    <div class="media align-items-center">
                      <div class="example-button-row">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <a routerLinkActive="active" [routerLink]="['/rsreportes']" class="dropdown-item">
                      <i class="fa fa-search"></i>
                      <span>Reportes</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/rsentradas']" class="dropdown-item">
                      <i class="fa fa-search"></i>
                      <span>Entradas</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [selectedIndex]="selected.value"
          (selectedIndexChange)="selected.setValue($event);seleccionNavegacion($event)" dynamicHeight>

          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;RECIBIDOS
            </ng-template>
            <ngx-ui-loader [loaderId]="'ldbuzon'"></ngx-ui-loader>

            <div class="example-large-box mat-elevation-z4">

              <mat-selection-list style="padding: 15px; width: 100%;">
                <mat-list *ngFor="let e of lstAll; let i=index "
                  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1">
                      <button mat-icon-button aria-label="Visibilidad" class="text-grey"
                        (click)="open(observacion, e.idd)" id="procesados">
                        <mat-icon>add_circle</mat-icon>
                      </button>
                    </div>
                    <div class="col-md-2 texto-lista">
                      <a routerLinkActive="active" [routerLink]="['/constancia', constancia( e.numc )]">{{ e.numc }}
                        &nbsp;<font color="{{e.color}}">{{ e.simbolo }}</font></a>

                    </div>
                    <div class="col-md-3 texto-lista">
                      {{ e.fcre | date:"dd-MM-yyyy" }} | {{ e.nori | uppercase }}
                    </div>

                    <div class="col-md-5 texto-detalle" #tooltip="matTooltip" matTooltip="  {{ e.cont | uppercase }}">

                      {{ e.udep | uppercase }}
                    </div>
                    <div class="col-md-1 text-right">
                      <a [href]="dwUrl(e.numc, e.anom)" target="_top" rel="noopener noreferrer"
                        style="color:darkgrey;font-size: 18px;font-weight: normal;">
                        <img src="./assets/img/theme/pdf2.jpeg" alt="Descargar archivo"
                          style="width: 20px;margin-top: 4px;" />
                      </a>
                      <button mat-icon-button aria-label="Privado">
                        <mat-icon class="text-grey" style="font-size: 27px;margin-top: 2px;"
                          (click)="MoverForm(e)">preview</mat-icon>
                      </button>
                    </div>

                  </div>
                </mat-list>
              </mat-selection-list>
              <br>

              <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
              </mat-paginator>


            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;CLASIFICAR
            </ng-template>
            <ngx-ui-loader [loaderId]="'ldclasificar'"></ngx-ui-loader>
            <div class="example-large-box mat-elevation-z4">

              <mat-selection-list style="padding: 15px; width: 100%; margin-bottom: -30px;" #documento>
                <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1" [ngStyle]="{'display':estilocheck}">
                      <mat-checkbox [checked]="allComplete" color="primary" [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)" class="example-margin texto-lista" id="check">
                      </mat-checkbox>
                    </div>
                    <div class="col-md-2">
                      <button mat-icon-button aria-label="Example " (click)="open(content, 0)" id="clasificar">
                        <mat-icon>assignment_turned_in</mat-icon>
                      </button>
                    </div>

                  </div>

                </mat-list>
              </mat-selection-list>

              <mat-selection-list style="padding: 15px; margin-top: -10px; width: 100%;" #lstDocumentos>
                <mat-list *ngFor="let e of lstAll; let i=index "
                  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1">
                      <mat-checkbox class="example-margin texto-lista" [(ngModel)]="e.completed" color="warn"
                        (ngModelChange)="updateAllComplete()">
                      </mat-checkbox>
                    </div>
                    <div class="col-md-2 texto-lista">
                      <a routerLinkActive="active" [routerLink]="['/constancia', constancia( e.numc )]">{{ e.numc }}
                        &nbsp;<font color="{{e.color}}">{{ e.simbolo }}</font></a>

                    </div>
                    <div class="col-md-3 texto-lista">
                      {{ e.fcre | date:"dd-MM-yyyy" }} | {{ e.nori | uppercase }}
                    </div>

                    <div class="col-md-5 texto-detalle" #tooltip="matTooltip" matTooltip="  {{ e.cont | uppercase }}">

                      {{ e.udep | uppercase }}
                    </div>
                    <div class="col-md-1 text-right">
                      <a [href]="dwUrl(e.numc, e.anom)" target="_top" rel="noopener noreferrer"
                        style="color:darkgrey;font-size: 18px;font-weight: normal;">
                        <img src="./assets/img/theme/pdf2.jpeg" alt="Descargar archivo"
                          style="width: 20px;margin-top: 4px;" />
                      </a>
                      <button mat-icon-button aria-label="Privado">
                        <mat-icon class="text-green" style="font-size: 27px;margin-top: 2px;"
                          (click)="MoverForm(e)">preview</mat-icon>
                      </button>
                    </div>

                  </div>
                </mat-list>
              </mat-selection-list>

              <br>

              <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
              </mat-paginator>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;EN PROCESO
            </ng-template>
            <ngx-ui-loader [loaderId]="'ldcarpetas'"></ngx-ui-loader>
            <br>
            <div class="example-large-box mat-elevation-z4">
             
                  <div class="row" style="border-bottom:solid 1px;border-color:#CCC;color:#CCC;margin:0px;padding:0px;margin-bottom: -15px;" >
                    <div class="col-md-9">
                    
                    </div>
                    <div class="col-md-3 text-right">
                      <mat-form-field appearance="outline" style="margin:0px;padding:0px;margin-bottom: -15px;">
                            <mat-label>N&uacute;mero carpeta</mat-label>
                            <input matInput placeholder="N&uacute;mero carpeta">
                        </mat-form-field>

                    </div>

                  </div>
                

              <div class="row">
                <div class="col-md-2 cardround" *ngFor="let e of lstCarpetas">
                  <a routerLinkActive="active">
                    <div class="text-center botones">
                      <br>
                      <h2 class="text-center text-purple"><i class="fa fa-folder" style="font-size: 42px;"></i>
                      </h2>
                      <p style="font-weight: bold;font-family: Roboto;">{{e.llav}}</p>
                    </div>
                  </a>
                </div>
              </div>

            </div>

          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;VISTA
            </ng-template>

            <div class="container">

            </div>


          </mat-tab>
        </mat-tab-group>

        <br><br><br><br><br>
      </div>
    </div>
  </div>
</div>




<!-- Clasificacion de Documentos -->
<ng-template #content let-modal>
  <div class="modal-header header bg-gradient-success">
    <h1 style="margin-bottom: -5px; padding-top: -5px;" class="modal-title text-white" id="modal-basic-title">Asignar
      numero de carpeta</h1>
  </div>
  <div class="modal-body">

    <div class="col-md-12">
      <div class="form-group col-md-12">


        <mat-form-field appearance="outline">
          <mat-label>N&uacute;mero de la carpeta</mat-label>
          <input matInput placeholder="N&uacute;mero de la carpeta" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="numCarpeta" id="numCarpeta">
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>


      </div>
    </div>

    <div class="col-md-12 text-right" style="padding-right: 30px;">
      <button class="btn bg-gradient-success text-white " (click)="crearCarpeta();modal.close('Save')" id="btncls">
        <span class="fa fa-share"></span>&nbsp;&nbsp;Asignar </button>
      <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
        <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
  </div>
</ng-template>

<ng-template #observacion let-modal>
  <div class="modal-header header bg-gradient-info">
    <h4 class="modal-title text-white" id="modal-basic-title">Acciones Generales</h4>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </div>
    <div class="form-group  col-md-12">
      <label>Acción</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="AccionTexto"
        (change)="selAccion()" id="slcaceptar">
        <option *ngFor="let e of lstAcciones" value="{{e.valor}}">{{e.texto}}</option>
      </select>

    </div>
    <div class="form-group  col-md-12" *ngIf="clasificacion">
      <label>Area</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cmbDestino">
        <option value="S">SELECCIONE</option>
        <option *ngFor="let x of lstEstados" value="{{ x.id }}">{{ x.nomb }}</option>
      </select>
    </div>

    <div class="form-group  col-md-12" *ngIf="vplazo">
      <label for="tmsCreacion">Plazo / Alerta</label>
      <div class="form-group" style="width:100%">
        <div class="input-group" style="width:100%">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="extender_plazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement"
            [positionTarget]="buttonEl" readonly>
          <div class="input-group-append">
            <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button" id="btnplazo"></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-info text-white " (click)="insertarObservacion();modal.close('Save')"
      id="btnaceptar">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
    <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>

<ng-template #adjuntar let-c="close" let-d="dismiss">
  <div class="modal-header header bg-gradient-success">
    <h4 class="modal-title" id="modal-basic-title">Cargar Archivo en {{ numControl }}</h4>

  </div>
  <div class="modal-body">


    <form method="post" enctype="multipart/form-data" id="forma" name="forma">
      <input type="hidden" name="txtFileID" id="txtFileID" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="numControl" value="{{numControl}}" readonly="readonly">
      <label for="input-folder-2">Seleccionar Archivo</label>
      <div class="file-loading">
        <input id="input-folder-2" (change)="fileSelected($event)" class="file-input" name="input-folder-2" type="file"
          multiple accept=".pdf">
      </div>
      <div id="errorBlock" class="help-block"></div>
    </form>



  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-success text-white " (click)="SubirArchivo();c('Save')">
      <span class="fa fa-upload"></span>&nbsp;&nbsp;Enviar Archivos </button>
    <button class="btn btn-warning" aria-label="Close" (click)="c('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>