<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">Procesos</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <ul class="navbar-nav align-items-right d-none d-md-flex">
                                <li class="nav-item" ngbDropdown placement="bottom-right">
                                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                                        <div class="media align-items-center">
                                            <div class="example-button-row">
                                                <button mat-icon-button aria-label="">
                                                    <mat-icon>add</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                                        <a routerLinkActive="active" [routerLink]="['/documento']"
                                            class="dropdown-item">
                                            <i class="fa fa-plus"></i>
                                            <span>Agregar entrada</span>
                                        </a>
                                        <a routerLinkActive="active" [routerLink]="['/rsprocesos/oresoluciones']"
                                            class="dropdown-item">
                                            <i class="fa fa-plus"></i>
                                            <span>Agragar resuelto</span>
                                        </a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>








                <div class="card-body">
                    <div class="row">

                        <div class="col-md-12">
                            <ngx-ui-loader [loaderId]="'loader-buscar'"></ngx-ui-loader>
                            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
                                [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        &nbsp;ESPECIFICA
                                    </ng-template>
                                    <br>
                                    <div class="container">


                                        <div class="row">

                                            <div class="form-group col-md-5">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Cédula</mat-label>
                                                    <input matInput placeholder="Cédula"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="cedula"
                                                        (keypress)="consultarCedula($event)">
                                                    <mat-icon matSuffix>search</mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <div class="form-group col-md-5">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Numero de resuelto</mat-label>
                                                    <input matInput placeholder="Numero de resuelto"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="IResolucion.numero" value="{{IResolucion.numero}}"
                                                        (keypress)="consultarResolucion($event)">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="text-left" style="padding-top: 5px;">
                                                    <button class="btn bg-primary text-white" style="height: 50px;"
                                                        (click)="verificar()">
                                                        Consultar

                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <hr>
                                        <div class="row" *ngIf="dbTools">
                                            <div class="col-md-11">

                                            </div>
                                            <div class="col-md-1">
                                                <div class="media align-items-center">
                                                    <div class="example-button-row">
                                                        <button mat-icon-button title="Volver resuelto"
                                                            (click)="obtenerResuelto()">
                                                            <mat-icon style="color:brown">arrow_forward</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="dbDatos">
                                            <div class="col-md-12">
                                                <table style="width: 100%;" border="1" class="zigzag">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="3" class="text-center" style="padding: 15px;">
                                                                FICHA DE DATOS PERSONALES</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>CEDULA</th>
                                                            <td>V-{{IDatosBasicos.cedula}}</td>
                                                            <td style="width: 180px;">FOTO</td>
                                                        </tr>
                                                        <tr>
                                                            <th>GRADO</th>
                                                            <td>{{IDatosBasicos.grado}}</td>
                                                            <td rowspan="7" valing="center" style="text-align: center;">
                                                                <div
                                                                    style="border:1px solid #CCC; padding: 1px;width: 160px">
                                                                    <img src="{{ obtenerFoto(IDatosBasicos.cedula) }}"
                                                                        style="width: 155px">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>NOMBRE COMPLETO</th>
                                                            <td>{{IDatosBasicos.nombres}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>COMPONENTES</th>
                                                            <td>{{IDatosBasicos.componente}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>CATEGORIA</th>
                                                            <td>{{IDatosBasicos.categoria}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>CLASIFICACION</th>
                                                            <td>{{IDatosBasicos.clasificacion}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>SEXO</th>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <th>SITUACION</th>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row" *ngIf="dbDatos">
                                            <div class="col-md-12">
                                                <table style="width: 100%;" class="zigzag" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="5" class="text-center" style="padding: 15px;">
                                                               ENTRADAS</th>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>CUENTA</th>
                                                            <th>TIPO</th>
                                                            <th>ASUNTO</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstEntradas">
                                                            <td>{{e.fecha_entrada}}</td>
                                                            <td>{{e.cuenta_oficio}}</td>
                                                            <td>{{ obtenerTipo(e.tipo) }}</td>
                                                            <td >{{ e.asunto | uppercase}}
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>
                                        <br><br>
                                        <div class="row" *ngIf="dbDatos">
                                            <div class="col-md-12">
                                                <table style="width: 100%;" class="zigzag" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="5" class="text-center" style="padding: 15px;">
                                                               RESOLUCIONES</th>
                                                        </tr>
                                                        <tr>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>NUMERO</th>
                                                            <th>TIPO</th>
                                                            <th>ASUNTO</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstResoluciones">
                                                            <td>{{e.fecha}}</td>
                                                            <td><a *ngIf="!validarSeguridad(e)" class="enlace"
                                                                    href="{{ obtenerUbicacion(e) }}" target="_blank"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{e.titulo}} </a> </td>
                                                            <td>{{ obtenerTipo(e.tipo) }}</td>
                                                            <td *ngIf="validarSeguridad(e)" style="color:brown;">

                                                                <b>DEBE CONSULTAR CON EL DEPARTAMENTO DE
                                                                    RESOLUCIONES</b>
                                                            </td>
                                                            <td *ngIf="!validarSeguridad(e)">{{ e.asunto | uppercase}}
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>

                                        <div class="row" *ngIf="dbResolucion">

                                            <div class="col-md-12">
                                                <table style="width: 100%;" class="zigzag" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="7" class="text-center" style="padding: 15px;">
                                                                FICHA DE DATOS RESOLUCIONES ( {{ resolucion }} ) </th>
                                                        </tr>
                                                        <tr>
                                                            <th> NUM.</th>
                                                            <th> GRADO</th>
                                                            <th> NOMBRE COMPLETO</th>
                                                            <th style="width: 110px;"> CEDULA</th>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>TIPO</th>
                                                            <th>ASUNTO</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstResolucionesS; index as i">
                                                            <td>{{ i+1 }}</td>
                                                            <td>{{ e.grado_abreviado }}</td>
                                                            <td>{{ e.nombres_apellidos }}</td>
                                                            <td><a class="enlace" (click)="obtenerCedula(e.cedula)"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{e.cedula}} </a></td>

                                                            <td>{{ e.fecha_resolucion }}</td>
                                                            <td><a *ngIf="!validarSeguridad(e)" class="enlace"
                                                                    href="{{ obtenerUbicacion(e) }}" target="_blank"
                                                                    style="font-weight: bold; color: brown;"> {{
                                                                    obtenerTipo(e.tipo) }} </a> </td>
                                                            <td *ngIf="validarSeguridad(e)" style="color:brown;">

                                                                <b>DEBE CONSULTAR CON EL DEPARTAMENTO DE
                                                                    RESOLUCIONES</b>
                                                            </td>
                                                            <td *ngIf="!validarSeguridad(e)">
                                                                {{e.administracion}}
                                                                <br>
                                                                {{e.asunto}}
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </mat-tab>
                                <mat-tab  >
                                    <ng-template mat-tab-label>
                                        &nbsp;FILTRADA
                                    </ng-template>
                                    <br>
                                    <div class="container">
                                        <div *ngIf="blFiltro">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width" appearance="outline"
                                                        style="width:100%">
                                                        <mat-label style="width:100%">Tipo de Resolución</mat-label>
                                                        <input type="text" matInput [formControl]="myControl" (blur)="seleccionTipo()"
                                                            [matAutocomplete]="auto" [(ngModel)]="tipo">
                                                        <mat-autocomplete #auto="matAutocomplete"  
                                                            [displayWith]="displayFn" style="width:100%">
                                                            <mat-option *ngFor="let option of filteredOptions | async"
                                                                [value]="option">
                                                                {{option.nombre}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                        <mat-icon matSuffix>search</mat-icon>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width" appearance="outline" style="width:100%">
                                                        <mat-label>Causa</mat-label>
                                                        <mat-select placeholder="Tipo de Comision" [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="causa" (selectionChange)="getMotivo()">
                                                            <mat-option value="%">TODOS</mat-option>
                                                            <mat-option *ngFor="let e of lstCausa"
                                                                value="{{e.codigo}}">{{e.nombre}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4"  >
                                                    <mat-form-field class="example-full-width" appearance="outline" style="width:100%">
                                                        <mat-label>Categoria</mat-label>
                                                        <mat-select placeholder="Categoria" [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="categoria">
                                                            <mat-option value="%">TODOS</mat-option>
                                                            <mat-option *ngFor="let e of Categorias;" [value]="e.cod_categoria">{{e.nombre_categoria}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-4" >
                                                    <mat-form-field class="example-full-width" appearance="outline" style="width:100%">
                                                        <mat-label>Componente</mat-label>
                                                        <mat-select placeholder="Componente" [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="componente">
                                                            <mat-option value="%">TODOS</mat-option>
                                                            <mat-option *ngFor="let e of Componentes;" [value]="e.cod_componente">{{e.nombre_componente}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                        
                                                <div class="col-md-4">
                                                    <mat-form-field class="example-full-width" appearance="outline" style="width:100%">
                                                        <mat-label>Grado</mat-label>
                                                        <mat-select placeholder="Grado" [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="grado">
                                                            <mat-option value="%">TODOS</mat-option>
                                                            <mat-option *ngFor="let e of Grados"
                                                                value="{{e.cod_grado}}">{{e.nombre_corto }} - {{e.nombres_grado }}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <div class="NgxEditor__Wrapper">
                                                        <angular-editor [placeholder]="'Introduzca el Asunto...'" [config]="editorConfig"
                                                            [(ngModel)]="asunto"></angular-editor>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <div class="NgxEditor__Wrapper">
                                                        <angular-editor [placeholder]="'Instrucciones especiales'" [config]="editorConfig"
                                                            [(ngModel)]="instrucciones"></angular-editor>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <div class="NgxEditor__Wrapper">
                                                        <angular-editor [placeholder]="'Introduzca la Observacion...'" [config]="editorConfig"
                                                            [(ngModel)]="observaciones"></angular-editor>
                                                    </div>
                                                </div>
                                            </div>  

                                            <div class="row">

                                                
                                                <div class="col-md-3">
                                                    <mat-form-field class="example-form-field" appearance="outline">
                                                        <mat-label>Rango del resuelto</mat-label>
                                                        <mat-date-range-input [formGroup]="fechaRango"
                                                            [rangePicker]="fechaRangoPicker"
                                                            [comparisonStart]="fechaRango.value.start"
                                                            [comparisonEnd]="fechaRango.value.end">
                                                            <input matStartDate placeholder="Start date"
                                                                formControlName="start">
                                                            <input matEndDate placeholder="End date" formControlName="end">
                                                        </mat-date-range-input>

                                                        <mat-datepicker-toggle matSuffix
                                                            [for]="fechaRangoPicker"></mat-datepicker-toggle>
                                                        <mat-date-range-picker #fechaRangoPicker></mat-date-range-picker>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-3">
                                                    <mat-form-field class="example-full-width" appearance="outline"
                                                        style="width:100%">
                                                        <mat-label>Tipo de Buscada</mat-label>
                                                        <mat-select placeholder="Documento"
                                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="busqueda">
                                                            <mat-option value="0">DETALLADA</mat-option>
                                                            <mat-option value="1">AGRUPADA</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <!-- <div class="col-md-3">
                                                    <mat-form-field class="example-full-width" appearance="outline"
                                                        style="width:100%">
                                                        <mat-label>Formato de Campos</mat-label>
                                                        <mat-select placeholder="Formato"
                                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="campos">
                                                            <mat-option value="0">SIMPLES</mat-option>
                                                            <mat-option value="1">EXTENDIDOS</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div> -->
                                                <div class="col-md-2">
                                                    <div class="text-left" style="padding-top: 5px;">
                                                        <div class="example-button-container">
                                                            <button class="btn bg-success text-white" style="height: 50px;"
                                                                (click)="FilConsultar()">
                                                                Listar datos

                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <hr *ngIf="blFiltro">
                                        <div *ngIf="!blFiltro">
                                            <div class="row">
                                               
                                                <div class="col-md-12 text-right">
                                                    
                                                        <button class="btn bg-success text-white "
                                                            (click)="MostrarFiltro();">
                                                            <span class="fa fa-upload"></span>&nbsp;&nbsp;Mostrar formulario </button>

                                                            <button class="btn bg-info text-white "
                                                            (click)="downloadCSV();">
                                                            <span class="fa fa-download"></span>&nbsp;&nbsp;Descargar consulta </button>
                                                            <br><br>
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="row" *ngIf="dbResolucionFil">

                                            <div class="col-md-12">
                                                <table style="width: 100%;" class="zigzag" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="9" class="text-center" style="padding: 15px;">
                                                                FICHA DE DATOS RESOLUCIONES ( {{ resolucion }} ) </th>
                                                        </tr>
                                                        <tr>
                                                            <th> NUM.</th>
                                                            <th style="width: 80px;"> GRADO</th>
                                                            <th> NOMBRE COMPLETO</th>
                                                            <th> CEDULA</th>
                                                            <th> RESOLUCION</th>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>TIPO</th>
                                                            <th>DESCRIPCION</th>
                                                            <th>ASUNTO</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstResolucionesX; index as i">
                                                            <td>{{ i+1 }}</td>
                                                            <td>{{ e.grado_abreviado }}</td>
                                                            <td>{{ e.nombres_apellidos }}</td>

                                                            <td><a class="enlace"
                                                                    (click)="obtenerCedula(e.cedula);MoverForm(e.cedula)"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{e.cedula}} </a></td>


                                                            <td><a *ngIf="!validarSeguridad(e)" class="enlace"
                                                                    href="{{ obtenerUbicacion(e) }}" target="_blank"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{ e.numero }} </a> </td>
                                                            <td>{{ e.fecha_resolucion }}</td>
                                                            <td>{{ obtenerTipo(e.tipo) }}</td>
                                                            <td>{{ e.administracion }}</td>
                                                            <td *ngIf="validarSeguridad(e)" style="color:brown;">

                                                                <b>DEBE CONSULTAR CON EL DEPARTAMENTO DE
                                                                    RESOLUCIONES</b>
                                                            </td>
                                                            <td *ngIf="!validarSeguridad(e)">
                                                                {{e.administracion}}
                                                                <br>
                                                                {{e.asunto}}
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>


                                        <div class="row" *ngIf="dbResolucionTipo">
                                            <div class="col-md-12">
                                                <table style="width: 100%;" class="zigzag" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="7" class="text-center" style="padding: 15px;">
                                                                FICHA DE DATOS RESOLUCIONES ( {{ resolucion }} ) </th>
                                                        </tr>
                                                        <tr>
                                                            <th>NUM.</th>
                                                            <th>RESOLUCION</th>
                                                            <th style="width: 150px;">FECHA</th>
                                                            <th>TIPO</th>
                                                            <th>DESCRIPCION</th>
                                                            <th style="width: 80px;">CANT.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstResolucionesTipo; index as i;">
                                                            <td>{{ i+1 }}</td>
                                                            <td><a *ngIf="!validarSeguridad(e)" class="enlace"
                                                                    href="{{ obtenerUbicacion(e) }}" target="_blank"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{e.numero}} </a> </td>
                                                            <td>{{ e.fecha_resolucion }}</td>
                                                            <td>{{ obtenerTipo(e.tipo) }}</td>
                                                            <td *ngIf="validarSeguridad(e)" style="color:brown;">

                                                                <b>DEBE CONSULTAR CON EL DEPARTAMENTO DE
                                                                    RESOLUCIONES</b>
                                                            </td>
                                                            <td *ngIf="!validarSeguridad(e)">{{ e.administracion }}</td>
                                                            <td style="text-align: center; font-weight: bold;">{{
                                                                e.cantidad }}</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="5"
                                                                style="text-align: right;font-weight: bold;">
                                                                TOTAL&nbsp;&nbsp;&nbsp;
                                                            </td>
                                                            <td style="text-align: center; font-weight: bold;">
                                                                {{ total }}
                                                            </td>
                                                        </tr>
                                                    </tfoot>

                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                </mat-tab>
                                <mat-tab *ngIf="blConfidencial">
                                    <ng-template mat-tab-label>
                                        &nbsp;EXPANDIDA
                                    </ng-template>
                                    <br>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-1">

                                            </div>
                                            <div class="form-group col-md-7">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Nombre Completo</mat-label>
                                                    <input matInput placeholder="Nombre completo"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="nombre"
                                                        (keypress)="consultarNombre($event);">
                                                    <mat-icon matSuffix>search</mat-icon>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-left" style="padding-top: 5px;">
                                                    <button class="btn bg-primary text-white" style="height: 50px;"
                                                        (click)="verificarNombre()">
                                                        Consultar Nombre
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-1">

                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row" *ngIf="dbDatosNombre">
                                            <div class="col-md-12">
                                                <table style="width: 100%;" class="zigzag" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="7" class="text-center" style="padding: 15px;">
                                                                FICHA DE DATOS POR NOMBRE ( {{cantNombre} }) </th>
                                                        </tr>
                                                        <tr>
                                                            <th> NUM.</th>
                                                            <th> GRADO</th>
                                                            <th> NOMBRE COMPLETO</th>
                                                            <th style="width: 110px;"> CEDULA</th>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>SITUACION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstNombres; index as i">
                                                            <td>{{ i+1 }}</td>
                                                            <td>{{ e.grado_abreviado }}</td>
                                                            <td>{{ e.nombres }}</td>
                                                            <td><a class="enlace" (click)="MoverForm(e.cedula)"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{e.cedula}} </a>
                                                            </td>
                                                            <td>
                                                                {{e.nacimiento}}
                                                            </td>
                                                            <td>
                                                                {{e.situacion}}
                                                            </td>

                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>

                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        &nbsp;BUSCAR POR ARCHIVO
                                    </ng-template>
                                    <br>
                                    <br>
                                    <div class="container">
                                        
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <p>
                                                    Los archivo que intente subir por esta via deben  ser de extension *.csv preferiblemente separado por coma (,) 
                                                    y cumplir con el siguiente formato:
                                                </p>
                                                <ul>
                                                    <li>1.- La codificacion del fichero preferiblemente en UTF-8</li>
                                                    <li>2.- Deben iniciar sin cabecera o algun titulo de columna.</li>
                                                    <li>3.- La primera columna del archivo debe contener un campo cedula.</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">

                                                <!-- Adjuntar Imagenes al Documento -->
                                                <form method="post" enctype="multipart/form-data" id="forma"
                                                    name="forma">
                                                    <input type="hidden" name="identificador" value="{{codigoSession}}"
                                                        readonly="readonly">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div class="input_container">
                                                                <input id="fileUpload" type="file" name="archivos"
                                                                    accept=".csv" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button class="btn bg-success text-white "
                                                                (click)="SubirArchivo($event);">
                                                                <span class="fa fa-upload"></span>&nbsp;&nbsp;Enviar
                                                                Archivos </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-1"></div>

                                        </div>
                                        <hr>

                                    </div>
                                </mat-tab>
                            </mat-tab-group>


                        </div>


                    </div>

                    <br><br>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <!-- Fin de Tarjeta Padre -->
</div>