

.titulo {
  font : 800 18px / 1px Roboto, "Helvetica Neue", sans-serif;
}


.mat-form-field {
  width: 100%;
}


.calendario {
  width: 2.75rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  border-color: #bbbfc5 !important;
}
input{
  text-transform: uppercase;
}
select{
  text-transform: uppercase;
}
textarea {
  text-transform: uppercase;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.texto-lista{
  margin-top: 13px; 
  font-weight: bold;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.enlace :hover {
  cursor: pointer;
  color:blue;
}

table {  
  font-family:sans-serif;
  th, td {
    padding:.25em .5em;
    text-align:left;
    &:nth-child(2) {
      text-align:left;
    }
  }
  // td {
  //   background-color:#f1f1f1;
  // }
  th {
    background-color:rgb(111, 111, 212);
    color:#fff;
  }
  tr {
    border-bottom: #b9aeae;
  }
  tr:nth-child(odd)   { background-color:#f1f1f1; }
  tr:nth-child(even)    { background-color:#fff; }
}

// .zigzag {
//   border-collapse:separate;
//   border-spacing:.25em 1em;
//   tbody tr:nth-child(odd) {
//     transform:rotate(2deg);
//   }
//   thead tr,
//   tbody tr:nth-child(even) {
//     transform:rotate(-2deg);
//   }
// }