

.titulo {
  font : 800 18px / 1px Roboto, "Helvetica Neue", sans-serif;
}


.mat-form-field {
  width: 100%;
}


.iconElimi{
  color:#a00c1f !important;
  font-size: 22px !important;
  cursor: pointer;
}

.iconEdit{
  color:#5e72e4 !important;
  font-size: 22px !important;
  cursor: pointer;
  padding-right: 6%;
}

input{
  text-transform: uppercase;
}
select{
  text-transform: uppercase;
}
textarea {
  text-transform: uppercase;
}

angular-editor{
  text-transform: uppercase;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.texto-lista{
  margin-top: 13px; 
  font-weight: bold;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}



.input_container {
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
}

input[type=file]::file-selector-button {
  background-color: #85c889;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
  text-transform: capitalize;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  text-transform: capitalize;
}
