<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active" [routerLink]="['/dashboard']">{{getTitle()}}</a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Escudo" src="assets/img/theme/sketch.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">{{ nombre }}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/perfil']">
            <i class="ni ni-single-02"></i>
            <span>Perfil</span>
          </a>
          <a class="dropdown-item" (click)="open(contra)">
            <i class="ni ni-key-25"></i>
            <span>Cambiar Contraseña</span>
          </a>
        
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" (click)="cerrar()">
            <i class="ni ni-button-power"></i>
            <span>Cerrar Sesión</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<ng-template #contra let-modal>
  <div class="modal-header header bg-gradient-success font-weight-bold">
    <h4 class="modal-title text-white" id="modal-basic-title">CAMBIAR CONTRASEÑA</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="form-row">
        <div class="form-group col-md-12">
            <label for="txtControl"> Clave Actual </label>                    
            <input type="text" class="form-control" id="txtClaveActual">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-row">
        <div class="form-group col-md-12">
            <label for="txtControl"> Clave Nueva </label>                    
            <input type="text" class="form-control" id="txtClaveNueva">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-row">
        <div class="form-group col-md-12">
            <label for="txtControl"> Repetir </label>                    
            <input type="text" class="form-control" id="txtClaveRepetida">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-success text-white "  (click)="clasificarBuzon();modal.close('Save')"> 
      <span class="fa fa-save"></span>&nbsp;&nbsp;Guardar </button>
    <button  class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>
