<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
     <div class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active">
      <a (click)="onChangeSidenav()" >
          <i [class]="booleanIsSidenav ? 'ni ni-bold-left' : 'ni ni-bold-right'"></i>
      </a>
      &nbsp;&nbsp;&nbsp;
      <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" [routerLink]="['/dashboard']">{{getTitle()}}</a>
     </div>

    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <!-- Alert/Bell Icon -->
      <li class="nav-item" *ngIf="alerta">
        <a class="nav-link bell-icon-container" [routerLink]="['/rsalertas']" routerLinkActive="active" title="Alertas">
          <div class="avatar rounded-circle bg-white d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
            <i class="ni ni-bell-55 text-warning bell-icon" style="font-size: 22px;"></i>
          </div>
        </a>
      </li>
      
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Escudo" src="assets/img/theme/sketch.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm  font-weight-bold">{{ nombre }}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/perfil']">
            <i class="ni ni-single-02"></i>
            <span>Perfil</span>
          </a>
        
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" (click)="cerrar()">
            <i class="ni ni-button-power"></i>
            <span>Cerrar Sesión</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
