<div class="header bg-pastel-gradient pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Control y Gestión</h6>
              <h2 class="mb-0">Documentos</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás"  [routerLink]="['/control']">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item" ngbDropdown placement="bottom-right">
                  <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                    <div class="media align-items-center">
                      <div class="example-button-row">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <a routerLinkActive="active" [routerLink]="['/documento']" class="dropdown-item">
                      <i class="fa fa-plus"></i>
                      <span>Nuevo Documento</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/notasentregas']" class="dropdown-item">
                      <i class="fa fa-search"></i>
                      <span>Notas de Entrega</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/configuracion']" class="dropdown-item">
                      <i class="ni ni-settings-gear-65"></i>
                      <span>Configuración</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
          (selectedIndexChange)="seleccionNavegacion($event)">
          
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">inbox</mat-icon>
              RECIBIDOS
            </ng-template>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-main">
                      
                    </th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear" (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses" (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <button mat-icon-button aria-label="Recibir " class="text-gray"
                          (click)="open(observacion, e.idd)" id="recibir" matTooltip="Recibir">
                          <mat-icon>task_alt</mat-icon>
                      </button>
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]">
                            {{ e.numc }} <span class="document-type-symbol" [style.color]="e.color">{{ e.simbolo }}</span>
                          </a>
                          <small class="document-origin">{{ e.nori | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }} ( {{ e.ultimo_nombre | uppercase }})</span>
                      <small class="document-date">{{ e.fcre | date:"dd-MM-yyyy" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button matTooltip="Privado" *ngIf="e.privado">
                          <mat-icon class="text-warning">no_encryption</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">check_circle</mat-icon>
              PROCESADOS
            </ng-template>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-main">
                      
                    </th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear" (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses" (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <button mat-icon-button aria-label="Visibilidad" class="text-gray" (click)="open(observacion, e.idd)" id="procesados">
                        <mat-icon>add_circle</mat-icon>
                      </button>
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]">
                            {{ e.numc }} <span class="document-type-symbol" [style.color]="e.color">{{ e.simbolo }}</span>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }}</span>
                      <small class="document-date">{{ e.fcre | date:"dd-MM-yyyy" }} - {{ e.observacion_accion | uppercase }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button aria-label="Editar" (click)="editar(e.idd)" matTooltip="Editar">
                          <mat-icon class="text-gray">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Adjuntar" (click)="open(adjuntar, e.numc)" matTooltip="Adjuntar">
                          <mat-icon class="text-gray">attach_file</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">pending</mat-icon>
              PENDIENTES
            </ng-template>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-checkbox" [ngStyle]="{'display':estilocheck}">
                    </th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear" (change)="seleccionNavegacion(2)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses" (change)="seleccionNavegacion(2)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td >
                       <button mat-icon-button aria-label="Visibilidad" class="text-gray" (click)="open(observacion, e.idd)" id="pndt">
                        <mat-icon>add_circle</mat-icon>
                      </button>
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]">
                            {{ e.numc }} <span class="document-type-symbol" [style.color]="e.color">{{ e.simbolo }}</span>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }}</span>
                      <small class="document-date">{{ e.fcre | date:"dd-MM-yyyy" }} - {{ e.nombre_accion | uppercase }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button aria-label="Editar" (click)="editar(e.idd)" matTooltip="Editar">
                          <mat-icon class="text-gray">edit_note</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Adjuntar" (click)="open(adjuntar, e.numc)" matTooltip="Adjuntar">
                          <mat-icon class="text-gray">attach_file</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>

          </mat-tab>



          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">notification_important</mat-icon>
              ALERTAS
            </ng-template>


            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-main">
                      CODIGO
                    </th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear" (change)="seleccionNavegacion(3)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses" (change)="seleccionNavegacion(3)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td >
                      <!--  -->
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.id )]">
                            {{ e.ncontrol }} <span class="document-type-symbol" [style.color]="e.color">{{ e.simbolo }}</span>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.unidad | uppercase }}</span>
                      <small class="document-date">{{ e.plazo | date:"dd-MM-yyyy" }} - <span [class]="e.color">{{ e.texto | uppercase }}</span></small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button aria-label="Privado" matTooltip="Ver Alerta">
                          <mat-icon class="text-warning" (click)="open(alerta, e.id_alerta, e.id)">today</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>

          
        </mat-tab-group> 
      </div>
    </div>
  </div>
</div>

<ng-template #observacion let-modal>
  <div class="modal-header bg-pastel-gradient">
    <h4 class="modal-title text-white" id="modal-basic-title">Acciones Generales</h4>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </div>
    <div class="form-group  col-md-12">
      <label>Acción</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="AccionTexto"
        (change)="selAccion()" id="slcaceptar">
        <option *ngFor="let e of lstAcciones" value="{{e.valor}}">{{e.texto}}</option>
      </select>

    </div>
    <div class="form-group  col-md-12" *ngIf="clasificacion">
      <label>Area</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cmbDestino">
        <option value="S">SELECCIONE</option>
        <option *ngFor="let x of lstEstados" value="{{ x.id }}">{{ x.nomb }}</option>
      </select>
    </div>

    <div class="form-group  col-md-12"  *ngIf="vplazo">
      <label for="tmsCreacion">Plazo / Alerta</label>
      <div class="form-group" style="width:100%">
        <div class="input-group" style="width:100%">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="extender_plazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement"
            [positionTarget]="buttonEl" readonly>
          <div class="input-group-append">
            <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button" id="btnplazo"></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-pastel text-white " (click)="insertarObservacion();modal.close('Save')" id="btnaceptar">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
    <button class="btn btn-pastel-cancel text-white" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>



<ng-template #adjuntar let-c="close" let-d="dismiss">
  <div class="modal-header bg-pastel-gradient">

    <h4 class="modal-title" id="modal-basic-title">Cargar Archivo en {{ numControl }}</h4>

  </div>
  <div class="modal-body">


    <form method="post" enctype="multipart/form-data" id="forma" name="forma">
      <input type="hidden" name="identificador" value="{{hashcontrol}}" readonly="readonly">
      <label>Seleccionar Archivo</label>
      <div class="file-loading">
        <input (change)="fileSelected($event)" class="file-input" name="archivos" type="file" accept=".pdf" multiple>
      </div>
      <div id="errorBlock" class="help-block"></div>
    </form>



  </div>
  <div class="modal-footer">
    <button class="btn btn-pastel text-white " (click)="SubirArchivo();c('Save')">
      <span class="fa fa-upload"></span>&nbsp;&nbsp;Enviar Archivos </button>
    <button class="btn btn-pastel-cancel text-white" aria-label="Close" (click)="c('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>
