<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
</div>

<div class="container-fluid mt--9">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col-md-10">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Control y Gestión</h6>
                  <h2 class="mb-0">Documentos</h2>
              </div>
              <div class="col-md-1">
                <div class="media align-items-center">
                  <div class="example-button-row">
                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                      <mat-icon>reply</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                  <li class="nav-item" ngbDropdown placement="bottom-right">
                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                      <div class="media align-items-center">
                        <div class="example-button-row">
                          <button mat-icon-button aria-label="Example icon-button with a heart icon">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        </div>
                      </div>
                    </a>
                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                      <a routerLinkActive="active" [routerLink]="['/configuracion']" class="dropdown-item">
                        <i class="ni ni-settings-gear-65"></i>
                        <span>Configuración</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" >
            <mat-tab>
              <ng-template mat-tab-label>
              &nbsp;RECIBIDOS
              </ng-template>
              
                <div class="container">
                  <mat-selection-list #documento>
                    <mat-list  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                      <div class="row">
                        <div class="col-md-1" [ngStyle]="{'display':estilocheck}">
                          <mat-checkbox 
                            [checked]="allComplete"
                            color="primary"
                            [indeterminate]="someComplete()"
                            (change)="setAll($event.checked)"
                            class="example-margin texto-lista">
                          </mat-checkbox>  
                        </div>
                        <div class="col-md-2" >
                          <button mat-icon-button aria-label="Example " (click)="open(content)">
                            <mat-icon>create_new_folder</mat-icon>
                          </button>
                        </div>
                       
                      </div>

                    </mat-list>
                  </mat-selection-list>

                  <mat-selection-list #lstDocumentos>
                    <mat-list *ngFor="let e of bzRecibido; let i=index " 
                      style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                      <div class="row">
                        <div class="col-md-1">
                            <mat-checkbox class="example-margin texto-lista"  
                              [(ngModel)]="e.completed"
                              color="warn"
                              (ngModelChange)="updateAllComplete()">
                            </mat-checkbox>
                        </div>
                        <div class="col-md-2 texto-lista">
                          {{ e.numc }}
                        </div>
                        <div class="col-md-1 texto-lista">
                          {{ e.nori | uppercase }}
                        </div>
                        <div class="col-md-2 texto-lista">
                          {{ e.fcre | date:"dd-MM-yyyy" }}
                        </div>
                        <div class="col-md-3 texto-lista">
                          {{ e.udep | uppercase }}
                        </div>
                        <div class="col-md-3 text-right" >
                          <button mat-icon-button aria-label="Privado" >
                            <mat-icon *ngIf="e.priv" class="text-warning">no_encryption</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Editar" (click)="editar(e.numc)">
                            <mat-icon  class="text-pink">edit_note</mat-icon>
                          </button>
                          <button *ngIf="e.existe" mat-icon-button aria-label="Adjuntar" (click)="open(adjuntar, e.numc)">
                            <mat-icon class="text-info">attach_file</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Eliminar" (click)="eliminar(e.numc, e.id)">
                            <mat-icon  class="text-purple">delete</mat-icon>
                          </button>

                        </div>
                      </div>
                    </mat-list>
                  </mat-selection-list>
                </div>

              <mat-paginator [length]="lengthOfi"
                  (page)="pageChangeEvent($event)"
                  [pageSize]="pageSizeOfi"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageEvent = $event"
                  aria-label="Seleccionar">
              </mat-paginator>
              
          </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                &nbsp;PROCESADOS
                </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
              &nbsp;PENDIENTES
              </ng-template>
            </mat-tab>
            <mat-tab>
            <ng-template mat-tab-label>
            &nbsp;CERRADOS
            </ng-template>
            </mat-tab>
          </mat-tab-group>  
        </div>
      </div>
    </div>    
</div>

<ng-template #content let-modal>
  <div class="modal-header header bg-gradient-success">
    <h4 class="modal-title text-white" id="modal-basic-title">DISTRIBUCIÓN</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"><i class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Seleccionar Área</label>
          <select class="form-control">
              <option value="0">Seleccione</option>
              <option value="1">Control de Gestión</option>
              <option value="2">Secretaría</option>
              <option value="3">Resoluciones</option>
              <option value="4">Ayudantía</option>
              <option value="5">Timonel</option>
              <option value="6">Acami</option>
              <option value="6">Personal</option>
          </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm bg-gradient-success text-white fa fa-share" type="button" (click)="modal.close('Save click')">Enviar</button>
  </div>
</ng-template>