<ngx-ui-loader [loaderId]="'loader-x'"></ngx-ui-loader>


<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Resoluciones pendientes">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Sleccionar resoluciones</ng-template>
      <br>

      <div class="row">
        <div class="col-md-12 col-lg-12 text-right">
          <mat-form-field appearance="outline" class="search-input-field" style="width: 350px;">
            <mat-label>Número de resuelto</mat-label>
            <input matInput placeholder="Número de resuelto" [ngModelOptions]="{standalone: true}" [(ngModel)]="numero"
              (keyup.enter)="consultarResolucion($event)">

            <button mat-icon-button matSuffix (click)="consultarResolucion(undefined)">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <hr>

      <div *ngIf="blistar">

        <div class="row" class="controlador">

          <div class="col-md-12">

            <table style="width: 100%;" border="1">
              <thead>
                <tr>
                  <th>#</th>
                  <th>RESOLUCIONES.</th>
                  <th style="text-align:center">CANT.</th>
                  <th>FECHA</th>
                  <th>ACC</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of lstResoluciones; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ e.numero_resol }} - {{ e.des_resol }}</td>
                  <td style="text-align:center"> <b> {{e.cantidad}} </b></td>
                  <td style="text-align:right"> {{e.fecha_resol | date:'dd/MM/YY'}}</td>
                  <td style="text-align: center;">
                    <button mat-icon-button aria-label="Editar" 
                    (click)="agregar(e.numero_resol, e.fecha_resol, i)">
                      <mat-icon class="text-blue">check_circle</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>


            <hr>
          </div>

        </div>
        <br><br>
        <div class="row">
          <div class="col-md-12" style="padding-left: 30px;">

            <B>
              <font style="color:rgb(87, 44, 44)">
                NOTA: RECUERDE TENER PRESENTE QUE ESTA ACCION ACTIVARA LOS RESUELTOS PARA SER VISUALIZADOS POR OTROS
                USUARIOS
              </font>
            </B>
          </div>

        </div>
        <hr>
      </div>






      <div style="text-align: right;">
        <!-- <p>Go to a different step to see the error state</p> -->
        <button mat-button matStepperNext class="btn-primary pull-rigth">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Seleccionar usuarios</ng-template>

      <div class="form-group col-md-12">
        <mat-form-field class="example-chip-list" appearance="">
          <mat-label>Resoluciones para publicar</mat-label>
          <mat-chip-list #chipList aria-label="Resoluciones">
            <mat-chip *ngFor="let rsl of resoluciones" (removed)="remove(rsl)">
              {{rsl.numero}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div class="row" class="controlador">
        <div class="col-md-12 text-right">
          <mat-form-field appearance="outline" class="search-input-field" style="width: 350px;">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Buscar" 
            (blur)="consultarUsuarios()" (keyup.enter)="consultarUsuarios()"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="search">
            <button mat-icon-button matSuffix (click)="consultarUsuarios()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field> 
        </div>
        <div class="col-md-12">

          <table style="width: 100%;" border="1">
            <thead>
              <tr>
                <th style="width: 30px;">#</th>
                <th>Codigo</th>
                <th style="text-align:center">Nombre / Correo</th>
                <th>Oficina</th>
                <th style="width: 40px;text-align: center;">#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of lstUsr; let i = index">
                <td style="text-align: center;font-weight: bold;">{{ i+1 }}</td>
                <td>V-{{ e.cedula }} </td>
                <td style="text-align:left"> {{ e.nombre }} / {{e.correo}}</td>
                <td style="text-align:left"> {{e.sucursal }}</td>
                <td style="text-align: center;">
                  <button mat-icon-button aria-label="Editar"
                    (click)="agregarUsuario(e.nombre, e.correo,  e.login,  e.sucursal, i)">
                    <mat-icon class="text-blue">check_circle</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>



      <div style="text-align: right;">
        <!-- <p>Go to a different step to see the error state</p> -->
        <button mat-button matStepperPrevious class="btn-warning">Anterior</button> &nbsp;&nbsp;
        <button mat-button matStepperNext class="btn-primary">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Publicar</ng-template>
    
     <div class="form-group col-md-12">
        <mat-form-field class="example-chip-list" appearance="">
          <mat-label>Resoluciones para publicar</mat-label>
          <mat-chip-list #chipList aria-label="Resoluciones">
            <mat-chip *ngFor="let rsl of resoluciones" (removed)="remove(rsl)">
              {{rsl.numero}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div class="form-group col-md-12">

      </div>




       <div class="form-group col-md-12">
        <mat-form-field class="example-chip-list" appearance="">
          <mat-label>Usuarios para publicar</mat-label>
          <mat-chip-list #chipList aria-label="Usuarios">
            <mat-chip *ngFor="let rsl of usuarios" (removed)="remove(rsl)">
              {{rsl.nombre}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </div>
    


    <div style="text-align: right;">
       <button mat-button matStepperPrevious class="btn-warning">Anterior</button> &nbsp;&nbsp;
        <button mat-button matStepperNext class="btn-success" (click)="validarUsuarios()">Enviar y publicar</button>
    </div>
  </mat-step>
</mat-stepper>



<!-- <br>

 -->



<br>



<ng-template #observacion let-modal>
  <div class="modal-body">





    <div class="form-group col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </div>

    <div class="form-group  col-md-12" *ngIf="clasificacion">
      <label>Usuarios</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cmbDestino">
        <option value="S">SELECCIONE</option>
        <option *ngFor="let x of lstUser" value="{{ x.login }}">{{ x.nombre }}</option>
      </select>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-info text-white " (click)="insertarObservacion();modal.close('Save')"
      id="btnaceptar">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar
    </button>
    <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar
    </button>
  </div>
</ng-template>