<ngx-ui-loader [loaderId]="'loader-x'"></ngx-ui-loader>
<div class="row">

  <!-- En el Modulo de Reportes -->
  <div class="row" *ngIf="formularioAGenerar != 0">
    <div class="form-group col-md-3">
      <label for="">Componente</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="componente"
        (change)="consultarEspecialidades(); consultarEstudios()" value="{{componente}}">
        <option value="0">SELECCIONAR COMPONENTE</option>
        <option value="%">TODOS LOS COMPONENTES</option>
        <option *ngFor="let e of Componentes;" [value]="e.cod_componente + '|' + e.nombre_componente">{{
          e.nombre_componente }}
        </option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label for="">Situación</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="situacion" value="{{situacion}}">
        <option value="ACT">ACTIVO</option>
        <option value="RINC">REINCORPORADO</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label for="">Categoria</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="categoria" value="{{categoria}}">
        <option value="%">TODAS</option>
        <option *ngFor="let e of Categorias;" [value]="e.cod_categoria">{{e.nombre_categoria}}
        </option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label for="">Clasificación</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="clasificacion"
        value="{{clasificacion}}">
        <option value="%">TODAS</option>
        <option *ngFor="let e of Clasificaciones;" [value]="e.cod_clasificacion ">
          {{e.des_clasificacion}}</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="">Grado</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="grado" value="{{grado}}">
        <option value="%">TODOS</option>
        <option *ngFor="let e of Grados;" [value]="e.cod_grado">{{e.nombres_grado}}</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="">Codigo</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="codigos" value="{{codigos}}">
        <option value="0">SELECCIONE EL CODIGO</option>
        <option value="1">AZUL</option>
        <option value="2">AMARILLO</option>
        <option value="3">ROJO</option>
      </select>
    </div>

    <div class="form-group col-md-4 text-left botones">
      <button class="btn bg-primary text-white " (click)="consultarListado()">
        <span class="fa fa-search"></span>&nbsp;&nbsp;Generar {{txtBoton}}
      </button>
      &nbsp;&nbsp;&nbsp;

      <button class="btn bg-orange text-white" (click)="downloadCSVEx()">
        <span class="fa fa-print"></span>&nbsp;&nbsp;Generar CSV
      </button>
    </div>
  </div>


  <!-- En la configuracion -->
  <div class="form-group col-md-3" *ngIf="formularioAGenerar == 0">
    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="codigos" value="{{codigos}}">
      <option value="0">SELECCIONE EL CODIGO</option>
      <option value="1">AZUL</option>
      <option value="2">AMARILLO</option>
      <option value="3">ROJO</option>
    </select>
  </div>

  <div class="form-group col-md-6 text-left" *ngIf="formularioAGenerar == 0">
    <button class="btn bg-primary text-white " (click)="consultarListado()">
      <span class="fa fa-search"></span>&nbsp;&nbsp;Generar Reporte
    </button>
    &nbsp;&nbsp;&nbsp;

    <button *ngIf="bxls" class="btn bg-orange text-white" (click)="downloadCSVEx()">
      <span class="fa fa-print"></span>&nbsp;&nbsp;Generar CSV
    </button>
  </div>
</div>

<!-- TABLA -->
<div class="row" *ngIf="dbDatosNombre">
  <div class="col-md-12">

    <table style="width: 100%;" class="zigzag" border="1">
      <thead>
        <tr>
          <th style="width: 60px;"> NUM.</th>
          <th> COMPONENTE</th>
          <th> GRADO</th>
          <th> NOMBRE COMPLETO</th>
          <th style="width: 110px;"> CEDULA</th>
          <th> MOTIVO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of lstNombres; index as i">
          <td>{{ i+1 }}</td>
          <td>{{e.cnombre}} </td>
          <td>{{e.gnombre}} </td>
          <td>{{ e.nombres_apellidos }}</td>
          <td>{{e.cedula}} </td>
          <td [innerHTML]="e.motivo"></td>

        </tr>
      </tbody>

    </table>
    <div class="row justify-content-center mt-4">
      <button class="btn bg-primary text-white " (click)="openDialog()">
        <span class="fa fa-print"></span>&nbsp;&nbsp;Imprimir {{txtBoton}}
      </button>
    </div>
  </div>
</div>