table {  
  font-family:sans-serif;
  th, td {
    padding:.35em .5em;
    text-align:left;
    &:nth-child(2) {
      text-align:left;
    }
  }
  th {
    background-color:rgb(148, 27, 11);
    color:#fff;
  }
  tr {
    border-bottom: #b9aeae;
  }
  tr:nth-child(odd)   { background-color:#f1f1f1; }
  tr:nth-child(even)    { background-color:#fff; }
}

.botones{
  display: flex;
  align-items: self-end;
  padding-bottom: 3px;
}

.example-chip-list {
  width: 100%;
}

.controlador {
  height: 380px; 
  overflow-y: scroll;
  scrollbar-width: thin; 
  scrollbar-color: #007bff #f5f5f5;
}