<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Ayudantía</h6>
                            <h2 class="mb-0">Registrar Proyecto</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>reply</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <ul class="navbar-nav align-items-right d-none d-md-flex">
                                <li class="nav-item" ngbDropdown placement="bottom-right">
                                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                                        <div class="media align-items-center">
                                            <div class="example-button-row">
                                                <button mat-icon-button aria-label="">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                                        <a routerLinkActive="active" class="dropdown-item">
                                            <i class="fa fa-plus"></i>
                                            <span>Agregar Imagen</span>
                                        </a>


                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtNombre"> Nombre del Proyecto </label>
                                <input type="txtNombre" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.nombre" value="{{Proyecto.nombre}}" class="form-control">
                            </div>
                            <div class="form-group col-md-{{campos}}">
                                <label for="cmbTipo">Tipo de Proyecto</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.tipo" value="{{Proyecto.tipo}}" (change)="selSistemaArmas()">
                                    <option value="0">Seleccione</option>
                                    <option value="Infraestructura">INFRAESTRUCTURA</option>
                                    <option value="Intendencia">INTENDENCIA</option>
                                    <option value="Sistema">SISTEMA DE ARMAS</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3" [ngStyle]="{'display':aplicasistema}">
                                <label for="cmbTipo">Sistema de Armas </label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.sistema_armas" value="{{Proyecto.sistema_armas}}">
                                    <option *ngFor="let s of SistemaArmas" value="{{s.id}}">{{s.nombre}}</option>
                                    <option value="0" selected>Seleccione</option>
                                </select>
                            </div>



                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="cmbTipo">Estatus</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.estatus" value="{{Proyecto.estatus}}">
                                    <option value="0">Seleccione</option>
                                    <option value="ACTIVO">POR INICIAR</option>
                                    <option value="CERRADO">EJECUCIÓN</option>
                                    <option value="FINALIZADO">FINALIZADO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="txtEnte"> Jefe del Proyecto </label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.jefe_proyecto" value="{{Proyecto.jefe_proyecto}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label> Telefono Jefe de Proyecto </label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.telefono_jefe" value="{{Proyecto.telefono_jefe}}">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label> Ente Contratante </label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.ente" value="{{Proyecto.ente}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label> Empresa Ejecutante </label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.empresa" value="{{Proyecto.empresa}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cmbPais">País de Empresa Ejecutante</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.pais" value="{{Proyecto.pais}}">
                                    <option value="0">Seleccione</option>
                                    <option *ngFor="let e of Paises" value="{{e.iso3166a2}}">{{e.nombre}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-{{camposotros}}">
                                <label for="cmbFuente">Fuente de Financiamiento</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.fuente" value="{{Proyecto.fuente}}" (change)="selFondo()">
                                    <option value="0">Seleccione</option>
                                    <option value="Fonden">FONDEN</option>
                                    <option value="Mppd">MPPD</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>

                            <div class="form-group col-md-{{camposotros}}" [ngStyle]="{'display':otros}">
                                <label>Otros</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="otros" value="{{otros}}">
                            </div>

                            <div class="form-group col-md-{{camposotros}}">
                                <label for="cmbUsuario">Usuario Final</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.usuario_final" value="{{Proyecto.usuario_final}}">
                                    <option value="0">Seleccione</option>
                                    <option value="Presidencia">EJÉRCITO BOLIVARIANO</option>
                                    <option value="Ministerio">ARMADA BOLIVARIANA</option>
                                    <option value="Presidencia">AVAIACIÓN MILITAR BOLIVARIANA</option>
                                    <option value="Ministerio">GUARDIA NACIONAL BOLIVARIANA</option>
                                    <option value="Presidencia">CODAI</option>
                                    <option value="Ministerio">COMANDO ÁEREO DEL EJERCITO BOLIVARIANO</option>
                                    <option value="Ministerio">COMANDO ÁEREO DE LA GUARDIA NACIONAL BOLIVARIANA</option>
                                    <option value="Ministerio">AVIACIÓN NAVAL BOLIVARIANA</option>
                                </select>
                            </div>

                            <div class="form-group col-md-{{camposotros}}">
                                <label for="txtSistema">Sistema</label>
                                <input type="txtSistema" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.sistema" value="{{Proyecto.sistema}}">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="tmsDesde">Fecha Desde</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="AAAA-MM-DD"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="fdesde" ngbDatepicker
                                                #fd="ngbDatepicker" [value]="formatter.format(fdesdeDate)"
                                                [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fd.toggle()"
                                                    type="button">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="tmsHasta">Fecha Hasta</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="AAAA-MM-DD"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="fhasta" ngbDatepicker
                                                #fh="ngbDatepicker" [value]="formatter.format(fhastaDate)"
                                                [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fh.toggle()"
                                                    type="button">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>



                            <div class="form-group col-md-4">
                                <label for="txtDeuda">Numero de Contrato</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.numero_contrato" value="{{Proyecto.numero_contrato}}">
                            </div>
                        </div>




                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtObjeto">Objeto del Proyecto</label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                    <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="editor"
                                        [(ngModel)]="Proyecto.objeto" [disabled]="false"
                                        [placeholder]="'Escibe aqui...'">
                                    </ngx-editor>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtObservacion">Observaciones</label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="xeditor"> </ngx-editor-menu>
                                    <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="xeditor"
                                        [(ngModel)]="Proyecto.observacion" [disabled]="false"
                                        [placeholder]="'Escibe aqui...'">
                                    </ngx-editor>
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="tmsOrigen">Fecha Origen</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="AAAA-MM-DD"
                                                [ngModelOptions]="{standalone: true}" [(ngModel)]="flapso" ngbDatepicker
                                                #fo="ngbDatepicker" [value]="formatter.format(flapsoDate)"
                                                [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fo.toggle()"
                                                    type="button">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cmbMoneda">Tipo de Moneda</label>
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.moneda" value="{{Proyecto.moneda}}">
                                    <option value="0">Seleccione</option>
                                    <option value="1">BOLIVARES</option>
                                    <option value="2">DÓLARES</option>
                                    <option value="3">EUROS</option>
                                    <option value="3">YUANES</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="txtMonto">Monto Total</label>
                                <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.monto_total" value="{{Proyecto.monto_total}}">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="nombre">Monto Pagado</label>
                                <input type="number" class="form-control" (blur)="restar()"
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="Proyecto.monto_pagado"
                                    value="{{Proyecto.monto_pagado}}">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="txtDeuda">Deuda Pendiente</label>
                                <input type="number" readonly class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Proyecto.monto_deuda" value="{{Proyecto.monto_deuda}}">
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-right">
                                    <button class="btn bg-primary text-white" (click)="guardar()">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>