<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Secretaria</h6>
              <h2 class="mb-0">Reportes Generales</h2>
            </div>
            <div class="col-md-7">
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
         
          <div class="row" style="padding: -10px;">

            <div class=" col-md-4">
              <label for="">Componente</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="componente">
               
                <option value="0">TODOS LOS COMPONENTES</option>
                <option value="EB">EJERCITO</option>
                <option value="AB">ARMADA</option>
                <option value="AMB">AVIACION</option>
                <option value="GNB">GUARDIA NACIONAL BOLIVARIANA</option>
                <option value="MB">MILICIA</option>

              </select>
            </div>


           
            <div class="col-md-3">
              <label for="">Dependencia</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="dependencia">
                <option value="0">SELECCIONE</option>
                <option *ngFor="let x of lstC" value="{{x.nomb}}">{{ x.nomb }}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label for="">Año</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="year">
                <option value="0">TODOS</option>
                <option *ngFor="let e of lstYear" value="{{e}}">{{e}}</option>

              </select>
            </div>

            <div class="col-md-3">
              <label for="">Número de Cuenta / Oficio</label>
              <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cuenta" />


            </div>

            
        
           
          
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label for="">Asunto</label>
              <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="asunto" />


            </div>

            <div class="col-md-3">
              <label for="">Cédula de Identidad</label>
              <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cedula" />


            </div>

            <div class="col-md-3">
              <label for="">Número</label>
              <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="numero" />


            </div>
          

           
           

          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label for="">Estatus / Ubicación</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="estatus">
                <option value="0">TODAS</option>
                <option *ngFor="let e of lstAcciones" value="{{e.valor}}">{{e.texto}}</option>
              </select>
            </div>
            <div class=" col-md-4">
              <label>Decisión</label>
              <select class="form-control" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="decision">
                <option value="0">TODAS</option>
                <option value="APROBADO">APROBADO</option>
                <option value="NEGADO">NEGADO</option>
                <option value="VISTO">VISTO</option>
                <option value="DIFERIDO">DIFERIDO</option>
                <option value="OTRO">OTRO</option>
              </select>
            </div>

            <div class="col-md-2 text-right pull-rigth">
              <label for="">&nbsp;</label><br>
              <button class="btn bg-primary text-white text-right pull-rigth" (click)="buscarDocumento()">
                <span class="fa fa-search"></span>&nbsp;&nbsp;Generar resultado
              </button>
            </div>
           

          <div class="col-md-2">
            <label for="">&nbsp;</label><br>
            <button class="btn bg-warning text-white " (click)="limpiarBusqueda()">
              <span class="fa fa-trash"></span>&nbsp;&nbsp;Generar consulta
            </button>
          </div>

           
         






            


          </div>

          <div *ngIf="vistacontenido">
            <div *ngIf="!cargador">
              <h3 class="text-center">Cargando información...</h3>
            </div>
            <br>
            <div class="row" *ngIf="cargador">
             
                <div class="col-md-12">
                  <table style="width: 100%;" class="zigzag" border="1">
                    <thead>

                      <tr>
                        <th>#</th>
                        <th style="text-align: center;">COMPONENTE</th>
                        <th style="text-align: center;">DEPENDENCIA </th>
                        <th style="text-align: center;">AÑO</th>
                        <th style="text-align: center;">N. DE CUENTA</th>
                        <th style="text-align: center;">FECHA</th>
                        <th style="text-align: center;">ASUNTO</th>
                        <th style="text-align: center;" *ngIf="!bdecision">UBICACION</th>
                        <th style="text-align: center;" *ngIf="bdecision">DECISIÓN DEL MPPD</th>
                        <th style="text-align: center;">OBSERVACIONES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let e of lstDatos; let i=index">
                        <td>{{ i + 1 }}</td>
                        <td style="text-align: center;"> {{ !getPrint(e.componente)?'-':e.componente}} </td>
                        <td style="text-align: center;"> {{ getPrint(e.componente)?'-':e.udep }} </td>
                        <td style="text-align: center;"> {{ e.fcre | date : "yyyy" }} </td>
                        <td style="text-align: center;"> {{ e.cuen }} </td>
                        <td style="text-align: center;"> {{ getFecha(e.subdocumento) | date : "dd/MM/yyyy" }} </td>
                        <td [innerHTML]="e.cont | uppercase" style="text-align: justify;"></td>
                        <td *ngIf="!bdecision" style="text-align: center;"> {{ getStatus(e.esta) }} </td>
                        <td *ngIf="bdecision" style="text-align: center;"> {{ e.deci }} </td>
                        
                        <td  style="text-align: justify;"> {{ e.acci }} </td>
                      </tr>
                    </tbody>

                  </table>


                </div>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
  </div>