<div class="header bg-pastel-gradient pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Secretaria</h6>
              <h2 class="mb-0">Presidencial</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" [routerLink]="['/secretaria']">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Agregar Nuevo Documento" routerLinkActive="active"
                    [routerLink]="['/snuevo']">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
          (selectedIndexChange)="seleccionNavegacion($event)">

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">folder_shared</mat-icon>
              PRESIDENCIAL
            </ng-template>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-action">ACCIÓN</th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear"
                            (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses"
                            (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <button mat-icon-button aria-label="Editar" (click)="work(e)" matTooltip="Procesar">
                        <mat-icon class="text-gray">edit_note</mat-icon>
                      </button>
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]">{{ e.nori }}</a>
                          <small class="document-origin">{{ e.remi | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }}</span>
                      <small class="document-date">{{ e.fcre | date:"dd/MM/yyyy" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container" *ngIf="!e.statusprogreso">

                        <button mat-icon-button aria-label="Adjuntar" (click)="open(adjuntar, e.numc, i)"
                          matTooltip="Adjuntar">
                          <mat-icon [ngClass]="e.anom!='' ? 'text-blue' : 'text-gray'">attach_file</mat-icon>
                        </button>
                      </div>
                      <div class="progress-container" *ngIf="e.statusprogreso">
                        <small>PROGRESO (<b>{{ e.progreso }}%</b>)</small>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" [style.width.%]="e.progreso"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>


          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">send</mat-icon>
              ENVIADOS A LA DIV. DE RESOLUCIONES
            </ng-template>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-action">ACCIÓN</th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear"
                            (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses"
                            (change)="seleccionNavegacion(1)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <button mat-icon-button aria-label="Editar" (click)="work(e)" matTooltip="Editar">
                        <mat-icon class="text-gray">edit_note</mat-icon>
                      </button>
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]"
                            [matTooltip]="e.numc">
                            {{ getDetalle(e) }} <span class="document-type-symbol" style="color:green">{{ e.simbolo
                              }}</span>
                          </a>
                          <small class="document-origin">{{ e.nori | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }} / {{ e.coma | uppercase }}</span>
                      <small class="document-date">{{ e.fcre | date:"dd/MM/yyyy" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <a [href]="dwUrl(e.numc, e.anom)" target="_top" rel="noopener noreferrer" mat-icon-button
                          matTooltip="Descargar PDF">
                          <mat-icon class="text-red">picture_as_pdf</mat-icon>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>

          </mat-tab>



        </mat-tab-group>
      </div>
    </div>
  </div>
</div>



<!-- Adjuntar Imagenes al Documento -->
<ng-template #adjuntar let-c="close" let-d="dismiss">
  <div class="modal-header bg-pastel-gradient">
    <h4 class="modal-title" id="modal-basic-title">Cargar Archivo en {{ numControl }}</h4>
  </div>
  <div class="modal-body">
    <form method="post" enctype="multipart/form-data" id="forma" name="forma">
      <div class="custom-file-upload" (click)="fileInput.click()">
        <input type="hidden" name="identificador" value="{{hashcontrol}}" readonly="readonly">
        <input type="hidden" name="return" value="true" readonly="readonly">
        <input type="file" name="archivos" class="d-none" (change)="fileSelected($event)" accept=".pdf" #fileInput>
        <div class="upload-icon">
          <i class="ni ni-cloud-upload-96"></i>
        </div>
        <div class="upload-text" *ngIf="!lblFile || lblFile === 'Seleccionar Archivo'">
          Haz clic aquí para seleccionar un archivo
        </div>
        <div class="upload-text" *ngIf="lblFile && lblFile !== 'Seleccionar Archivo'">
          {{ lblFile }}
        </div>
        <div class="upload-hint">
          (Solo se permiten archivos PDF)
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="btnEnviar" class="btn btn-pastel text-white "
      (click)="SubirArchivo($event, posicionProgreso);c('Save')">
      <mat-icon class="mr-1 text-white" style="font-size: 18px; vertical-align: middle;">upload</mat-icon> Enviar
      Archivos </button>
    <button class="btn btn-pastel-cancel text-white" aria-label="Close" (click)="c('Close')">
      <mat-icon class="mr-1 text-white" style="font-size: 18px; vertical-align: middle;">cancel</mat-icon>
      Cancelar</button>
  </div>
</ng-template>

