
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.iconElimi{
  color:#a00c1f !important;
  font-size: 22px !important;
  cursor: pointer;
}

.iconEdit{
  color:#5e72e4 !important;
  font-size: 22px !important;
  cursor: pointer;
  padding-right: 6%;
}

input{
  text-transform: uppercase;
}
select{
  text-transform: uppercase;
}
textarea {
  text-transform: uppercase;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.texto-lista{
  margin-top: 13px; 
  font-weight: bold;
}

.texto-detalle{
  margin-top: 13px; 
  font-size: 12.5px;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
margin-left: 8px;
}

.mat-list-general{
  border-bottom: 1px rgba(224, 223, 223, 0.945) solid;
}

.div-style{
  width:100%;
}

.href-style{
  color:darkgrey;
  font-size: 18px;
  font-weight: normal;
}

.image-style{
  width: 20px;
  margin-top: 4px;
}