table {
    font-family: sans-serif;

    th,
    td {
        padding: .35em .5em;
        text-align: left;

        &:nth-child(2) {
            text-align: left;
        }
    }

    th {
        background-color: rgb(148, 27, 11);
        color: #fff;
    }

    tr {
        border-bottom: #b9aeae;
    }

    tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #888;
    border-radius: 10px;
}
