.calendario {
    width: 2.75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    border-color: #bbbfc5 !important;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}


#codeEditor, #lineCounter {
    font-family: lucida console, courier new, courier, monospace;
    margin: 0;
    padding: 10px 0;
    height: 75vh;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#lineCounter:focus-visible,
#codeEditor:focus-visible {
    outline:none;
} 
#lineCounter {
    display: flex;
    border-color: transparent;
    overflow-y: hidden;
    text-align: right;
    box-shadow: none;
    color: #707070;
    background-color: #d8d8d8;
    position: absolute;
    width: 3.5rem;
    background-color: #ffffdd;
    /* border-color: #3E3D32; */
    color: #928869;
    border: 0.0625rem solid #c0c2c3;
    border-right: none;
    border-radius: 4px 0px 0px 5px;
}

#codeEditor {
    padding-left: calc(3.5rem + 5px);
    width: 100%;
    background-color: #ffffdd;
    border-color: #272822;
    color: #080808;
    border-left: none !important;
    border: 0.0625rem solid #c0c2c3;
    border-radius: 0px 8px 9px 0px;

}

mat-label, mat-option, mat-select{
    text-transform: uppercase;
}


.seleccion{
    display: flex;
    z-index: 1;
}
th, td { 
    text-align: center; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 12px 0;
  }

  .image-blur {
    position: relative;
    width: 100%;
  
    .blurred-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.0125); /* Centramos y escalamos la imagen */
      width: 100%; /* Mantenemos el ancho original */
      height: auto;
      filter: blur(10px); /* Aplicamos el efecto de desenfoque */
      border-radius: 50%;
      z-index: 1; /* Colocamos la imagen de fondo detrás */
    }
    
    .front-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centramos la imagen */
      width: 80%; /* Ajusta el tamaño de la imagen frontal */
      height: auto;
      z-index: 2; /* Colocamos la imagen frontal encima */
    }
  }


mat-form-field{
    width: 100%;
}