<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Control de Visitantes</h6>
                            <h2 class="mb-0">Registrar Visitantes</h2>
                        </div>
                      
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card-body">
                    <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
                    <form [formGroup]="form" (ngSubmit)="guardar()">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-row">
    
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Visitante</mat-label>
                                            <mat-select formControlName="tipoVisitante">
                                                <mat-option value="1">MILITAR</mat-option>
                                                <mat-option value="2">CIVIL</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="form.get('tipoVisitante').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Motivo Visita</mat-label>
                                            <mat-select  formControlName="motivoVisita">
                                                <mat-option value="EDC">ENTREGA DE DOCUMENTACION</mat-option>
                                                <mat-option value="REU">REUNION</mat-option>
                                                <mat-option value="VIS">VISITA</mat-option>
                                                <!-- <mat-option *ngFor="let x of lstT" [value]="x.nomb">{{ x.nomb }} </mat-option> -->
                                            </mat-select>
                                            <mat-error *ngIf="form.get('motivoVisita').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{sCedula}}</mat-label>
                                            <input 
                                            matInput 
                                            formControlName="cedula" 
                                            (keydown.tab)="consultarCedula()" 
                                            onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                            [maxlength]="'12'"
                                            onPaste="return false" 
                                            onCopy="return false"
                                            onCut="return false"
                                            >
                                            <mat-error *ngIf="form.get('cedula').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
    
                                </div>
    
                                <div class="form-row">
    
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{sGrado}}</mat-label>
                                            <input matInput formControlName="cargo" [disabled]="isPunto">
                                            <mat-error *ngIf="form.get('cargo').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>{{sNombre}}</mat-label>
                                            <input matInput formControlName="nmilitar" [disabled]="isPunto">
                                            <mat-error *ngIf="form.get('nmilitar').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
    
                                <div class="form-row">
    
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Unidad o Dependencia</mat-label>
                                            <mat-select formControlName="unidad">
                                                <mat-option>Seleccione</mat-option>
                                                <mat-option *ngFor="let x of lstU" [value]="x.nomb">{{ x.nomb }} </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="form.get('unidad').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Componente</mat-label>
                                            <mat-select formControlName="comando">
                                                <mat-option>Seleccione</mat-option>
                                                <mat-option *ngFor="let x of lstC" [value]="x.nomb">{{ x.nomb }}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="form.get('comando').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
    
                                </div>
    
                                <div class="form-row">
    
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Fecha Visita</mat-label>
                                            <input matInput [matDatepicker]="fechaVisita" formControlName="forigen" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="fechaVisita"></mat-datepicker-toggle>
                                            <mat-datepicker #fechaVisita></mat-datepicker>
                                            <mat-error *ngIf="form.get('forigen').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Plazo</mat-label>
                                            <input matInput [matDatepicker]="fechaPlazo" formControlName="fplazo" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="fechaPlazo"></mat-datepicker-toggle>
                                            <mat-datepicker #fechaPlazo></mat-datepicker>
                                            <mat-error *ngIf="form.get('fplazo').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Observación</mat-label>
                                            <textarea 
                                                matInput 
                                                formControlName="observacion"
                                                onPaste="return false" 
                                                onCopy="return false"
                                                onCut="return false"
                                                [maxlength]="'150'"
                                            ></textarea>
                                            <mat-error *ngIf="form.get('observacion').hasError('required')">
                                                El campo es requerido
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12 d-flex justify-content-center align-items-center" *ngIf="!mostrarCamara">
                                    <div class="image-frame text-center">
                                        <img [src]="fotoCapturada" alt="Foto capturada"
                                            style="width: 200px; height: 150px;" class="framed-image" />
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-12 d-flex justify-content-center align-items-center" *ngIf="mostrarCamara">
                                    <div class="image-frame text-center">
                                        <div id="video-container" *ngIf="mostrarCamara">
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="text-center">
                                        <button class="btn bg-primary text-white" id="startbutton" *ngIf="!bCamara"
                                            (click)="capturarFoto()">Tomar Foto</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button class="btn bg-primary text-white" type="submit" [disabled]="form.invalid">Registrar</button>&nbsp;&nbsp;&nbsp;
                                    <button class="btn bg-warning text-white" type="button"
                                    (click)="cancelar()">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>