<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Control de Visitantes</h6>
                            <h2 class="mb-0">Registrar Visitantes</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" *ngIf="bPDF"
                                        (click)="verArchivos(archivos)">
                                        <mat-icon>wallpaper</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <ul class="navbar-nav align-items-right d-none d-md-flex">
                                <li class="nav-item" ngbDropdown placement="bottom-right">
                                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                                        <div class="media align-items-center">
                                            <div class="example-button-row">
                                                <button mat-icon-button
                                                    aria-label="Example icon-button with a heart icon">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                                        <a routerLinkActive="active" [routerLink]="['/configuracion']"
                                            class="dropdown-item">
                                            <i class="ni ni-settings-gear-65"></i>
                                            <span>Configuración</span>
                                        </a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="txtSalida">Cedula</label>
                                    <input type="txtSalida" class="form-control" value="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="txtSalida">Nombres</label>
                                    <input type="txtSalida" class="form-control" value="">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="txtSalida">Apellidos</label>
                                    <input type="txtSalida" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="cmbTipoDocumento">Tipo Persona</label>
                                    
                                        <select class="form-control" [ngModelOptions]="{standalone: true}" [disabled]="activarTipo"
                                            [(ngModel)]="Doc.tipo" value="{{Doc.tipo}}" id="tdoc">
                                            <option value="0">Seleccione</option>
                                            <option value="1">CIVIL</option>
                                            <option value="2">MILITAR</option>
                                        </select>
                                        
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="cmbUnidad">Unidad o Dependencia</label>
                                    <select class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="Doc.unidad" value="{{Doc.unidad}}" id="unid">
                                        <option value="0">Seleccione</option>
                                        <option *ngFor="let x of lstU" value="{{x.nomb}}">{{ x.nomb }} </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Componente / Gran Comando</label>
                                    <div class="input-group">
                                        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="Doc.comando"
                                            value="{{Doc.comando}}" id="coma">
                                            <option value="0">Seleccione</option>
                                            <option *ngFor="let x of lstC" value="{{x.nomb}}">{{ x.nomb }}</option>
                                        </select>
                                        <div class="input-group-append"   *ngIf="booDependencia">
                                            <button *ngIf="!editar" type="button"  (click)="agregarDependencia()" id="btndependencia" class="btn btn-success">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="txtContenido">Motivo de la Visita</label>
                                    <div class="NgxEditor__Wrapper">
                                        <angular-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [(ngModel)]="Doc.contenido"></angular-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <img src="../../../../assets/img/mppd/escudos/100.jpeg" id="photo" alt="photo" />
                                        <video id="video"></video>
                                        <canvas id="canvas"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button class="btn bg-primary text-white" id="startbutton" (click)="initializeCamera()">Tomar Foto</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button class="btn bg-primary text-white"
                                    id="registrar">Registrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>