<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>    
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-10">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Control y Gestión</h6>
                            <h2 class="mb-0">Registrar Documento</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                              <div class="example-button-row">
                                <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                  <mat-icon>reply</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                        <div class="col-md-1">
                            <ul class="navbar-nav align-items-right d-none d-md-flex">
                            <li class="nav-item" ngbDropdown placement="bottom-right">
                                <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                                <div class="media align-items-center">
                                    <div class="example-button-row">
                                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    </div>
                                </div>
                                </a>
                                <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                                    <a routerLinkActive="active" [routerLink]="['/configuracion']" class="dropdown-item">
                                      <i class="ni ni-settings-gear-65"></i>
                                      <span>Configuración</span>
                                    </a>
                                  </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
                    <form role="form">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="txtControl"> Nro. Control </label>                    
                                <input type="text" class="form-control" id="txtControl" 
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Doc.ncontrol" readonly
                                >
                            </div>
                            
                            <div class="form-group col-md-3">
                                <label for="tmsOrigen">Fecha Origen</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="AAAA-MM-DD" 
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="forigen" ngbDatepicker #fo="ngbDatepicker" 
                                            [value]="formatter.format(forigenDate)"
                                            [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl 
                                                    class="btn calendario" (click)="fo.toggle()" 
                                                    type="button">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="tmsCreacion">Fecha Recepción</label>
                                <form class="form-inline">
                                    <div class="form-group" style="width:100%">
                                        <div class="input-group" style="width:100%">
                                            <input class="form-control" placeholder="AAAA-MM-DD" 
                                            [ngModelOptions]="{standalone: true}"
                                            [value]="formatter.format(fcreacionDate)"
                                            [(ngModel)]="fcreacion" ngbDatepicker #fc="ngbDatepicker" 
                                            [placement]="placement" [positionTarget]="buttonEl">
                                            <div class="input-group-append">
                                                <button #buttonEl class="btn calendario" (click)="fc.toggle()" type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> 
                            <div class="form-group col-md-2">
                                <label for="txtOrigen">Nro. Origen</label>
                                <input type="txtOrigen" class="form-control" 
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Doc.norigen">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="txtSalida">Salida Asociada</label>
                                <input type="txtSalida" class="form-control" 
                                value ="{{Doc.salida}}"
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Doc.salida"
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="cmbTipoDocumento">Tipo de Documento</label>
                                <select class="form-control" 
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Doc.tipo"  value ="{{Doc.tipo}}" (change)="selTipoDocumento()">
                                    <option value="0">Seleccione</option>
                                    <option *ngFor="let x of lstT" value="{{x.nomb}}" >{{ x.nomb }}  </option> 
                                   
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cmbRemitente">Remitente</label>
                                <select class="form-control" 
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Doc.remitente"  value ="{{Doc.remitente}}">
                                    <option value="0">Seleccione</option>
                                    <option *ngFor="let x of lstR" value="{{x.nomb}}" >{{ x.nomb }}</option> 
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cmbUnidad">Unidad o Dependencia</label>
                                <select class="form-control" 
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Doc.unidad"  value ="{{Doc.unidad}}">
                                    <option value="0">Seleccione</option>
                                    <option *ngFor="let x of lstU" value="{{x.nomb}}" >{{ x.nomb }}  </option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtContenido">Contenido</label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                    <ngx-editor
                                    [ngModelOptions]="{standalone: true}"
                                    [editor]="editor"
                                    [(ngModel)]="Doc.contenido"
                                    [disabled]="false"
                                    [placeholder]="'Escibe aqui...'">
                                    </ngx-editor>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" *ngIf="puntocuenta">
                            <div class="form-group col-md-2">
                                <label >Cuenta</label>
                                <input type="text" 
                                class="form-control"  [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="cuenta" value="{{cuenta}}" >
                            </div>
                            <div class="form-group col-md-6">
                                <label >Resumen de Contenido</label>
                                <input type="text" 
                                class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="resumen"  value="{{resumen}}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cmbUnidad">Detalle Cuenta</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="detalle"  value="{{detalle}}">
                                        <div class="input-group-prepend">
                                            <button *ngIf="!editar" type="button" class="btn btn-success"  (click)="agregarCuenta()">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                            <button *ngIf="editar" type="button" class="btn btn-primary"  (click)="editarCuenta()">
                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                            </button>
                                           
                                        </div>
                                </div> 

                            </div>
                            <div class="form-group col-md-12">
                                <table class="table align-items-center table-flush" style="width:100%">
                                    <thead class="thead-light">
                                      <th style="text-align:center;width:20px">Acción</th>
                                      <th>Cuenta</th>
                                      <th>Resumen</th>
                                      <th>Detalle</th>
                                  </thead><tbody>
                                    <tr *ngFor="let el of lstCuenta;let i=index">
                                        <td style="text-align:center;width:20px">
                                            
                                            <div class="btn-group" role="group" aria-label="Basic"  *ngIf="el.activo == 0">
                                                <button type="button" class="btn btn-primary btn-sm" (click)="selEditarCuenta( i )"><i class="fa fa-edit" aria-hidden="true"  ></i></button>
                                                <button type="button" class="btn btn-danger btn-sm" (click)="eliminarCuenta( i )"><i class="fa fa-trash" aria-hidden="true"  ></i></button>
                                            </div>
                                            <button *ngIf="el.activo != 0" type="button" class="btn btn-danger btn-sm">
                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> &nbsp;&nbsp;En Proceso  </button>
                                        </td>
                                        <td>{{ el.cuenta }}</td>
                                        <td>{{ el.resumen.substring(0,20) }}... </td>
                                        <td>{{ el.detalle.substring(0,20) }}...</td>
                                        
                                    </tr>

                                  </tbody></table>
                            
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="txtInstrucciones">Instrucciones Generales</label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="xeditor"> </ngx-editor-menu>
                                    <ngx-editor
                                    [editor]="xeditor"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="Doc.instrucciones"
                                    [disabled]="false"
                                    [placeholder]="'Escibe aqui...'">
                                    </ngx-editor>
                                </div>        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                               
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="tmsCreacion">Plazo / Alerta</label>
                                        <form class="form-inline">
                                            <div class="form-group" style="width:100%">
                                                <div class="input-group" style="width:100%">
                                                    <input class="form-control" placeholder="AAAA-MM-DD" 
                                                    [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="fplazo" ngbDatepicker #fd="ngbDatepicker" 
                                                    [placement]="placement" [positionTarget]="buttonEl">
                                                    <div class="input-group-append">
                                                        <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label >Privacidad / Nivel de Acceso</label>
                                        <select class="form-control" 
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="Doc.privacidad"  value ="{{Doc.privacidad}}">
                                            <option value="0">PUBLICO</option>
                                            <option value="1">CONFIDENCIAL</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Código de Archivo</label>
                                        <input type="text" class="form-control" 
                                        [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="Doc.codigo" value="{{ Doc.codigo }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Expediente</label>
                                        <input type="text" class="form-control" 
                                        [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="Doc.nexpediente" value="{{ Doc.nexpediente }}">
                                    </div>
                                    
                                    
                                </div> 
                                
                            </div>
                            <div class="col-md-4" >
                                <label for="txtobservacion">Lista de Asociación</label>
                                <textarea class="form-control" name="" id="observacion" 
                                cols="30" rows="6"   readonly></textarea>
                            </div>  
                        </div>
                        <hr>
                        <div class="row">                   
                            <div class="col-md-12">
                                <div class="text-right">
                                    <button class="btn bg-primary text-white" (click) = "registrar()">Aceptar</button>
                                    <button class="btn bg-red text-white"  [routerLink]="['/registrar']">Cancelar</button>
                                </div>                           
                            </div>                   
                        </div>                               
                    </form>
                </div>
            </div>
        </div>   
    </div>










