<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Secretaria</h6>
                            <h2 class="mb-0">Buscador de Documentos</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input type="txtOrigen" class="form-control" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="SubDocumento.cuenta" id="nori" placeholder="Nro. Cuenta" />
                        </div>

                        <div class="form-group col-md-3">
                            <form class="form-inline">
                                <div class="form-group" style="width: 100%">
                                    <div class="input-group" style="width: 100%">
                                        <input class="form-control" placeholder="AAAA-MM-DD"
                                            [ngModelOptions]="{ standalone: true }" [(ngModel)]="SubDocumento.fecha"
                                            ngbDatepicker #fc="ngbDatepicker" [placement]="placement"
                                            [positionTarget]="buttonEl" placeholer="Fecha de Creacion" />
                                        <div class="input-group-append">
                                            <button #buttonEl class="btn calendario" (click)="fc.toggle()" type="button"
                                                id="fcre"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="form-group col-md-3">
                            <select class="form-control" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="SubDocumento.estatus" placeholder="Estatus">
                                <option value="0" selected>ESTATUS</option>
                                <option *ngFor="let e of lstAcciones" value="{{ e.valor }}">
                                    {{ e.texto }}
                                </option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group" style="width: 100%">
                                    <button class="btn bg-primary text-white" id="registrar" style="width: 100%">
                                        Buscar
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <button mat-icon-button (click)="mbusquedaAvanzada = !mbusquedaAvanzada"
                                aria-label="Example icon-button with a heart icon">
                                <!-- <mat-icon>arrow_back</mat-icon> -->
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="container" [@desplazamientoVertical]="estadoInicial" *ngIf="mbusquedaAvanzada">
                        <div class="row">
                            <span class="item" (click)="decisionBool = !decisionBool" [ngClass]="decisionBool ? 'itemActive' : ''">
                                <span>Decision MPPD</span>
                            </span>
                            <span class="item" (click)="unidadBool = !unidadBool" [ngClass]="unidadBool ? 'itemActive' : ''">
                                <span>Unidad</span>
                            </span>
                            <span class="item" (click)="accionBool = !accionBool" [ngClass]="accionBool ? 'itemActive' : ''">
                                <span>Accion tomada</span>
                            </span>
                            <span class="item" (click)="historialBool = !historialBool" [ngClass]="historialBool ? 'itemActive' : ''">
                                <span>Historial</span>
                            </span>
                            <span class="item" (click)="asuntoBool = !asuntoBool" [ngClass]="asuntoBool ? 'itemActive' : ''">
                                <span>Asunto</span>
                            </span>
                            <span class="item" (click)="cbusquedaAvanzada()">
                                <span>Cerrar</span>
                            </span>
                        </div>
                    </div>

                    <div class="container" [@desplazamientoVertical]="estadoInicial" *ngIf="fbusquedaAvanzada()">

                        <hr>

                        <h2>Busqueda Avanzada</h2>

                        <div class="form-row col-md-12 mb-3" [@desplazamientoVertical]="estadoInicial" *ngIf="decisionBool">
                            <div class="col-md-6">
                                <input class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="SubDocumento.comentario" placeholder="Comentario del MPPD">
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="SubDocumento.decision">
                                    <option value="0" selected>Decision del Ministro</option>
                                    <option value="APROBADO">APROBADO</option>
                                    <option value="NEGADO">NEGADO</option>
                                    <option value="VISTO">VISTO</option>
                                    <option value="DIFERIDO">DIFERIDO</option>
                                    <option value="OTRO">OTRO</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-row col-md-12" [@desplazamientoVertical]="estadoInicial" *ngIf="unidadBool">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="unidad"
                                value="{{unidad}}" placeholder="Unidad Ministerial">
                            </div>

                            <div class="col-md-6">
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="comando"
                                value="{{comando}}" placeholder="Gran Comando">
                            </div>
                        </div>

                        <div class="form-group col-md-12 mt-3" [@desplazamientoVertical]="estadoInicial" *ngIf="accionBool">
                            <textarea class="form-control" cols="30" rows="1" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="SubDocumento.accion" placeholder="Accion Tomada"></textarea>
                        </div>

                        <div class="form-group col-md-12" [@desplazamientoVertical]="estadoInicial" *ngIf="historialBool">
                            <textarea type="text" class="form-control" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="SubDocumento.historico" id="historial" cols="30" rows="1" placeholder="Historial"></textarea>
                        </div>

                        <div class="form-group col-md-12" [@desplazamientoVertical]="estadoInicial" *ngIf="asuntoBool">
                            <input type="text" class="form-control" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="asunto" id="asunto" placeholder="Asunto">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
</div>