<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Secretaria</h6>
                            <h2 class="mb-0">Buscador de Documentos</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Nro. Cuenta</mat-label>
                                <input matInput type="txtOrigen" [ngModelOptions]="{ standalone: true }"
                                    [(ngModel)]="SubDocumento.cuenta" id="nori" placeholder="Nro. Cuenta" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <div class="input-group" style="width: 100%">
                                <mat-form-field appearance="outline">
                                    <mat-label>Fecha de Recepcion</mat-label>
                                    <input matInput [ngModelOptions]="{ standalone: true }" [(ngModel)]="SubDocumento.fecha"
                                        placeholer="Fecha de Recepcion" [matDatepicker]="picker" />
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <mat-label>Estatus Del Documento</mat-label>
                                <mat-select [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="SubDocumento.estatus" placeholder="Estatus">
                                <mat-option value="0">ESTATUS DEL DOCUMENTO</mat-option>
                                <mat-option *ngFor="let e of lstAcciones" value="{{ e.valor }}">
                                    {{ e.texto }}
                                </mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-11 col-md-2">
                            <button mat-raised-button color="primary" id="registrar" style="width: 100%; height: 50px; margin-top: 5px;">
                                Buscar
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="col-1">
                            <button mat-icon-button (click)="openDialog()" style="height: 50px; margin-top: 5px;"
                                aria-label="Example icon-button with a heart icon">
                                <!-- <mat-icon>arrow_back</mat-icon> -->
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
</div>