


<div class="header bg-gradient-red pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
      <p></p>
      </div>
  </div>
  
  
  
  
  
  
  
  <div class="container-fluid mt--9">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col-md-10">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Control Gestion</h6>
                <h2 class="mb-0">Módulo de Busquedas Generales</h2>
              </div>
              <div class="col-md-2 text-right">
  
                
               
                  <button  mat-mini-fab color="primary" aria-label="Agregar">
                    <mat-icon class="waves waves-effect waves-light">more_vert</mat-icon>
                  </button>
                
              </div>
              
  
            </div>
          </div>
          <div class="card-body">
           <!-- Contenido WEB Configuracion Menu -->
            
           <div class="container">
             <div class="row">
             
                <div class="col-md-3">
                        
                </div>
                <div class="col-md-6">
                  
                  <form class="navbar-search">
                    <div class="form-group" [ngClass]="{ 'focused': focus === true }">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Buscar" type="text" 
                        (focus)="focus = true"   [(ngModel)]="buscar" (ngValue)="{buscar}">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-sliders-h" (click)="CProyectos()"></i></span>
                          &nbsp; 
                        </div>
                      </div>
                    </div>
                  </form>
                  
                </div>
                <div class="col-md-3">
                                      
                  
                </div>
              </div> 
            </div>
  
  
            <br>
  
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush" style="width:100%">
                          <thead class="thead-light">
                            <th style="text-align:center">#</th>
                            <th>NOMBRE PROYECTO</th>
                            <th>ENTE CONTRATANTE</th>
                            <th>EMPRESA</th>
                            <th>USUARIO FINAL</th>
                            <th>TOTAL</th>
                            <th>ABONADO</th>
                            <th>RESTA</th>
                            <th style="text-align:center">Acción</th>
                        </thead><tbody>
                          <tr *ngFor="let e of lst; let i=index;">
                            <td style="text-align:center">{{i+1}}</td>
                            <td>{{ e.nombre | uppercase }}</td>
                            <td>{{ e.contratante | uppercase }}</td>
                            <td>{{ e.empresa | uppercase }}</td>
                            <td>{{ e.usuario_final | uppercase }}</td>
                            <td>{{ e.monto_total  }}</td>
                            <td>{{ e.monto_pagado }}</td>
                            <td>{{ e.adeuda  }}</td>
                            <th scope="row" style="text-align:center">
                                <div class="btn-group" role="group" aria-label="Basic" >
                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit" aria-hidden="true"  ></i></button>
                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"  ></i></button>
                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-clipboard" aria-hidden="true"  ></i></button>
                                </div>
                              
                            </th>
                            </tr>
                          </tbody></table>
                      </div>
                 

                
                </div>
            </div>
        
  
  
  
       
            <br>
  
  
  
  
  
         
            <!-- Card stats -->
           
  
  
          </div>
        </div>
      </div>
    </div>    
  </div>
  
  