<mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event);" dynamicHeight>

  <mat-tab>
    <ng-template mat-tab-label>
      &nbsp;DATOS BASICOS
    </ng-template>

    <div class="example-large-box mat-elevation-z4">
      <app-rsdatosbasicosmasivos></app-rsdatosbasicosmasivos>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      &nbsp;ASCENSOS
    </ng-template>

    <div class="example-large-box mat-elevation-z4">
      <app-rsccargamasiva></app-rsccargamasiva>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      &nbsp;OTRAS RESOLUCIONES
    </ng-template>

    <div class="example-large-box mat-elevation-z4">
      <app-rscondecoraciones></app-rscondecoraciones>
    </div>
  </mat-tab>
</mat-tab-group>