.cuerpo {
    font-size: 15px;
    font-family: 'Times New Roman';
    height: 100%;
    width: 100%;
    }



.footer {
    font-style: italic;
    
   
}



.centrado {
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
