<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-11">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Notas de Entrega</h6>
              <h2 class="mb-0">Documentos Generales</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" [routerLink]="['/registrar']">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" >
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;NOTAS DE ENTREGA GENERADAS
            </ng-template>

            <div class="container">
              <mat-selection-list #lstDocumentos>
                <mat-list *ngFor="let e of lstNotaEntrega; let i=index "
                  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">

                    <div class="col-md-2 text-left">
                      <button mat-icon-button aria-label="Adjuntar" (click)="open(adjuntar, e.llave)">
                        <mat-icon class="text-warning">attach_file</mat-icon>
                      </button>
                    
                      <button mat-icon-button aria-label="Adjuntar" (click)="notaEntrega(e.llave)">
                        <mat-icon class="text-primary">print</mat-icon>
                      </button>
                    </div>
                    <div class="col-md-6 texto-lista text-left">
                      {{ e.llave  }}
                    </div>
                    
                    <div class="col-md-3 texto-lista">
                      {{ e.fecha | date:"dd-MM-yyyy hh:mm" }}
                    </div>
                    <div class="col-md-1 texto-lista">
                       {{ e.cantidad | uppercase }} Reg.
                    </div>
                  </div>
                </mat-list>
              </mat-selection-list>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>

          </mat-tab>

        
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>



<!-- Adjuntar Imagenes al Documento -->
<ng-template #adjuntar let-c="close" let-d="dismiss">
  <div class="modal-header header bg-gradient-success">
    <h4 class="modal-title" id="modal-basic-title">Cargar Archivo en {{ numControl }}</h4>

  </div>
  <div class="modal-body">


    <form method="post" enctype="multipart/form-data" id="forma" name="forma">
      <input type="hidden" name="identificador" value="{{hashcontrol}}" readonly="readonly">
      <label for="input-folder-2">Seleccionar Archivo</label>
      <div class="file-loading">
        <input (change)="fileSelected($event)" class="file-input" name="archivos" type="file" accept=".pdf">
      </div>
      <div id="errorBlock" class="help-block"></div>
    </form>



  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-success text-white " (click)="SubirArchivo();c('Save')">
      <span class="fa fa-upload"></span>&nbsp;&nbsp;Enviar Archivos </button>
    <button class="btn btn-warning" aria-label="Close" (click)="c('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>



<!-- Observaciones generales -->
<ng-template #observacion let-modal>
  <div class="modal-header header bg-gradient-primary">
    <h4 class="modal-title text-white" id="modal-basic-title">Agregar Observación</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-primary text-white " (click)="insertarObservacion();modal.close('Save')">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Guardar </button>
    <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>



<div style="display: none">
  <div id="prtNota">
    <section class="content">
      <div class="wrapper">
        <table border="0" style="width:100%">
          <tr>

            <td align="center">
              REPÚBLICA BOLIVARIANA DE VENEZUELA <BR>
              MINISTERIO DEL PODER POPULAR PARA LA DEFENSA<BR>
            </td>

          </tr>
        </table>

        <h3 style="text-align:center">NOTA DE ENTREGA DE DOCUMENTO </h3>



        <table style="width:100%" border="1">
          <thead>
            <th>#</th>
            <th>N-CONTROL</th>
            <th>N-ORIGEN</th>
            <th>FECHA</th>
            <th>UNIDAD O DEPENDENCIA</th>
            <th>OBSERVACION</th>
          </thead>
          <tbody>
            <tr *ngFor="let e of reportEntrega; let i=index;">
              <td>{{i + 1}}</td>
              <td align="center">{{e.numc }}</td>
              <td align="center">{{e.nori }}</td>
              <td align="center">{{e.fcre.substring(0,10) }}</td>
              <td>{{ e.udep | uppercase }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <br><br><br>

        NOTA:

        <br>

      </div>
      <div class="footer">
        <hr>
        Ministerio del Poder Popular para la Defensa<br>
        {{llave}}
      </div>
    </section>
  </div>
</div>
