<div class="header bg-pastel-gradient py-5 py-lg-7">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-2">
          <h1 class="text-white">Sistema de Gestión de Documentos Despacho MPPD</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-">
      <div class="card login-card border-0">
        <div class="card-header bg-transparent pb-1">

          <div class="btn-wrapper text-center">
            <img src="./assets/img/brand/mppd.png" style="height: auto;" class="img-fluid" alt="Responsive image">
          </div>
        </div>
        <div class="card-body px-lg-3 py-lg-3">
          <ngx-ui-loader [loaderId]="'loader-login'"></ngx-ui-loader>
          <ng-container *ngIf="!showTotpSection; else totpBlock">
            <div class="text-center text-muted mb-4">
              <small>Introduzca sus credenciales</small>
            </div>
            <!-- (ngSubmit)="login('top-right', 'danger')" -->
            <form role="form" #form="ngForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative custom-input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input class="form-control" placeholder="Usuario" type="text" name="usuario" id="usuario"
                  [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative custom-input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Clave" type="password" name="clave" id="clave"
                  [(ngModel)]="clave" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-pastel my-4 px-5 text-white" (click)='login()'>
                <span class="mr-2"><i class="fa fa-key"></i></span>Ingresar
              </button>
            </div>
          </form>
          </ng-container>
          <ng-template #totpBlock>
            <ng-container *ngTemplateOutlet="totpSection"></ng-container>
          </ng-template>
        </div>
      </div>
     
    </div>
  </div>
</div>










<!-- Reusable TOTP Section Template -->
<ng-template #totpSection>
  <div class="totp-container text-center" (keydown.escape)="goBackToLogin()">
    <i class="fa fa-shield fa-3x mb-3" style="color: #5eaaa8;"></i>
    <h4 class="mb-1 font-weight-bolder">Verificación de Dos Pasos</h4>
    <p class="card-text mb-2" style="color: #5d5d5d; padding: 5px;">
      Abre tu aplicación de autenticación (ej. Google Authenticator) e ingresa el código de 6 dígitos.
    </p>
    <div class="otp-container" [class.shake]="isOtpInvalid">
      <div class="otp-wrapper">
        <input #otp0 type="tel" class="otp-box" maxlength="1" (input)="onInput($event, otp1)"
          (keydown)="onKeydown($event, null)" (paste)="onPaste($event)">
        <input #otp1 type="tel" class="otp-box" maxlength="1" (input)="onInput($event, otp2)"
          (keydown)="onKeydown($event, otp0)">
        <input #otp2 type="tel" class="otp-box" maxlength="1" (input)="onInput($event, otp3)"
          (keydown)="onKeydown($event, otp1)">

        <span class="otp-divider"></span>

        <input #otp3 type="tel" class="otp-box" maxlength="1" (input)="onInput($event, otp4)"
          (keydown)="onKeydown($event, otp2)">
        <input #otp4 type="tel" class="otp-box" maxlength="1" (input)="onInput($event, otp5)"
          (keydown)="onKeydown($event, otp3)">
        <input #otp5 type="tel" class="otp-box" maxlength="1" (input)="onInput($event, null)"
          (keydown)="onKeydown($event, otp4)">
      </div>

      <p *ngIf="isOtpInvalid" class="error-text">Código incorrecto. Inténtalo de nuevo.</p>
    </div>
    <small *ngIf="isOtpInvalid" class="text-danger mt-1 d-block">El código ingresado es incorrecto. Inténtalo de
      nuevo.</small>

    <div class="mt-3">
      <a href="javascript:void(0);" (click)="goBackToLogin()">
        <i class="feather icon-chevron-left mr-25"></i>
        <span>Volver al inicio de sesión</span>
      </a>
    </div>
  </div>
</ng-template>