<ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>

<form>
  <hr class="mb-1">
  <div class="row">
    <div class="col-md-9">
      <h6 *ngIf="blPrincipal" class="text-uppercase text-muted ls-1 mb-4">Datos Personales</h6>
      <div class="row">
        <div class="form-group col-md-4">
          <label> Cédula </label>
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.cedula"
            value="{{DBasico.cedula}}" (keypress)="consultarCedula($event)" class="form-control">
        </div>
        <div class="form-group col-md-8">
          <label for="cmbUnidad">Nombres y Apellidos</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="DBasico.nombres" value="{{DBasico.nombres}}">
            <div class="input-group-prepend" *ngIf="!GENERAL">
              <button type="button" class="btn btn-info" (click)="consultarIPSFA(detalles)" id="agregar">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-primary" (click)="consultarSAIME()" id="buscar">
                <i class="fa fa-file" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="tmsOrigen">Fecha de Nacimiento</label>
          <form class="form-inline">
            <div class="form-group" style="width:100%">
              <div class="input-group" style="width:100%">
                <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="nacimiento" ngbDatepicker #vi="ngbDatepicker"
                  [placement]="placement" [positionTarget]="buttonEl">
                <div class="input-group-append">
                  <button #buttonEl class="btn calendario" (click)="vi.toggle()" type="button">
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="form-group col-md-6">
          <label> Sexo </label>
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.sexo"
            value="{{DBasico.sexo}}">
            <option value="0">Seleccione</option>
            <option value="M">MASCULINO</option>
            <option value="F">FEMENINO</option>
          </select>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10 text-center">
          <br><br>
          <div style="border:1px solid #CCC; padding: 1px;width: 160px">
            <img src="{{foto}}" style="width: 155px">
          </div>
        </div>
        
      </div>

    </div>
  </div>

  <div class="row" style="padding: 18px; margin-top:-12px">
    <table summary="" class="table table-bordered table-hover mb-3">
        <thead>
            <tr>
                <th> Resolucion: {{ nombramiento }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td [innerHTML]="xasunto.substring(0,220) | uppercase"></td>
            </tr>
        </tbody>
    </table>
    
</div>
</form>








<hr class="mb-1">
<h6 class="text-uppercase text-muted ls-1 mb-4">Datos Militares</h6>
<div class="form-row">
  <div class="form-group col-md-4">
    <label> Fecha de Ingreso a la Fanb </label>
    <form class="form-inline">
      <div class="form-group" style="width:100%">
        <div class="input-group" style="width:100%">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="ingreso" ngbDatepicker #ingre="ngbDatepicker"  
            [placement]="placement" [positionTarget]="buttonEle">
          <div class="input-group-append">
            <button #buttonEle class="btn calendario" (click)="ingre.toggle()" type="button">
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="form-group col-md-4">
    <label> Componente </label>
    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.componente"
      value="{{DBasico.componente}}">
      <option value="0">Seleccione</option>
      <option *ngFor="let e of Componentes;" [value]="e.cod_componente">{{e.nombre_componente}}
      </option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label> Categoría </label>
    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.categoria"
      value="{{DBasico.categoria}}">
      <option value="0">Seleccione</option>
      <option *ngFor="let e of Categorias;" [value]="e.cod_categoria">{{e.nombre_categoria}}
      </option>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-3">
    <label> Clasificación </label>
    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.clasificacion"
      value="{{DBasico.clasificacion}}">
      <option value="0">Seleccione</option>
      <option *ngFor="let e of Clasificaciones;" [value]="e.cod_clasificacion ">
        {{e.des_clasificacion}}</option>
    </select>
  </div>
  <div class="form-group col-md-3">
    <label> Grado </label>
    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.grado"
      value="{{DBasico.grado}}">
      <option value="0">Seleccione</option>
      <option *ngFor="let e of Grados;" [value]="e.cod_grado">{{e.nombres_grado}}</option>
    </select>
  </div>
  

  <div class="form-group col-md-3">
    <label> Fecha de Ultimo Ascenso </label>
    <form class="form-inline">
      <div class="form-group" style="width:100%">
        <div class="input-group" style="width:100%">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="ascenso" ngbDatepicker #crea="ngbDatepicker" 
            [placement]="placement" [positionTarget]="buttonEle">
          <div class="input-group-append">
            <button #buttonEle class="btn calendario" (click)="crea.toggle()" type="button">
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="form-group col-md-3">
    <label> Situación </label>
    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.situacion"
      value="{{DBasico.situacion}}">
      <option value="0">SELECCIONE</option>
      <option value="ACT">ACTIVO</option>
      <option value="RACT">RESERVA ACTIVA</option>
      <option value="CDEM">CESE DEL EMPLEO</option>
      <option value="RINC">REINCORPORADO</option>
      <option value="FALL">FALLECIDO</option>
<!-- 
      <option value="RCP">RETIRADO CON PENSION</option>
      <option value="RSP">RETIRADO SIN PENSION</option>
      <option value="INV">INVALIDEZ</option> -->
    </select>
  </div>
</div>


<div class="form-row">
  <div class="form-group col-md-6">
    <label> Especialidad </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.especialidad"
      value="{{DBasico.especialidad}}" class="form-control">
  </div>

  <div class="form-group col-md-6">
    <label> Estudios Civiles </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.estudios"
      value="{{DBasico.estudios}}" class="form-control">
  </div>

</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <label> Área </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.area"
      value="{{DBasico.area}}" class="form-control">
  </div>

  <div class="form-group col-md-6">
    <label> Condición Especial </label>
    <select class="form-control" 
      [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.condicion"
      value="{{DBasico.condicion}}"
      (change) ="seleccionColor()"
      >
      <option value=0>NO APLICA</option>
      <option value=1>AZUL</option>
      <option value=2>AMARILLO</option>
      <option value=3>ROJO</option>
    </select>
  
  </div>

</div>
<div class="form-row">
  <div class="form-group col-md-12" >
    <textarea class="form-control" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="DBasico.motivo" placeholder="Introduzca el motivo de la condicion especial...'..."
            style="width: 100%">{{DBasico.motivo}}</textarea>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-12">

     <textarea class="form-control" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="DBasico.observacion" placeholder="Introduzca el texto para observaciones..."
            style="width: 100%">{{DBasico.observacion}}</textarea>
  </div>
</div>



<div class="form-row" *ngIf="GENERAL">

  <div class="form-group col-md-6">
    <label> Teléfono </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.telefono"
      value="{{DBasico.telefono}}" class="form-control">
  </div>

  <div class="form-group col-md-6">
    <label> Correo Electronico </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.correo"
      value="{{DBasico.correo}}" class="form-control">
  </div>
  

</div>
<div class="form-row" *ngIf="GENERAL">
  
  <div class="form-group col-md-4">
    <label> Ubicación </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.ubicacion"
      value="{{DBasico.ubicacion}}" class="form-control">
  </div>

  <div class="form-group col-md-4">
    <label> Otros Cargos </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.cargo"
      value="{{DBasico.cargo}}" class="form-control">
  </div>
  <div class="form-group col-md-4">
    <label> Estado Mayor </label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="DBasico.estadomayor"
      value="{{DBasico.estadomayor}}" class="form-control">
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="text-right">
      <button class="btn bg-primary text-white" (click)="Aceptar()">Aceptar</button>
    </div>
  </div>
    <div class="col-md-6" *ngIf="SHOWPRINT">
        <div class="text-left">
            <button class="btn bg-primary text-white " (click)="print()">
                <span class="fa fa-print"></span>&nbsp;&nbsp;Imprimir
            </button>
        </div>
    </div>
</div>

<br><br>



<!-- Adjuntar Imagenes al Documento -->
<ng-template #detalles let-c="close" let-d="dismiss">
 
  <div class="modal-body">
    <p>
      Cedula: {{ipsfa_cedula}} <br>
      Nombre completo: {{ ipsfa_nombres_apellidos }}  <br>
      Fecha de nacimiento: {{ ipsfa_fechanacimiento }}  <br> 
      Sexo: {{ipsfa_sexo}} <br>
    </p>
    <hr>
    <p>
      Componente: {{ipsfa_componente }} <br>
      Grado: {{ ipsfa_grado }} <br>
      Clasificacion: {{ipsfa_clasificacion }} <br>

      Categoria: {{ ipsfa_categoria }} <br>
      Situacion: {{ipsfa_situacion }} <br>
      Fecha de Ingreso: {{ ipsfa_fechaingreso }}  <br>
      Fecha de Último Ascenso: {{ ipsfa_fechaultimoascenso }}  <br> 
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn bg-primary text-white " (click)="AceptarCambios();c('Save')">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar Cambios </button>
    <button class="btn btn-warning" aria-label="Close" (click)="c('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>


<!-- {
  $group: {
      _id: { id: "$id" },
      uniqueIds: { $addToSet: "$_id" },
      total: { $sum: 1 }
  }
},
{ 
  $match : {
    total : { "$gt" : 1 }
  }
} -->
