<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">

                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">Estadisticas</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-body">
                    <ngx-ui-loader [loaderId]="'loader-buscar'"></ngx-ui-loader>
                    <div class="d-flex justify-content-end mb-3 gap-2">

                        <button class="btn  bg-primary text-white" (click)="printTable()">
                            <i class="fas fa-print mr-1"></i> Imprimir reporte
                        </button>
                    </div>
                    <div class="row">


                        <!-- End Legend Section -->

                        <div class="col-md-12 text-center col-lg-12">

                            <table id="tbl-ejercitos" class="tbl-ejercitos table-container" border="1">
                                <thead>
                                    <tr class="header-principal">
                                        <th rowspan="2" class="celda-grado">GRA.</th>

                                        <!-- Bloques de fuerzas -->
                                        <th colspan="9" class="bloque ejercito">EJÉRCITO BOLIVARIANO</th>
                                        <th colspan="9" class="bloque armada">ARMADA BOLIVARIANA</th>
                                        <th colspan="9" class="bloque aviacion">AVIACIÓN MILITAR BOLIVARIANA</th>
                                        <th colspan="9" class="bloque guardia">GUARDIA NACIONAL BOLIVARIANA</th>

                                        <th rowspan="2" class="celda-total">TOTAL</th>
                                    </tr>

                                    <!-- Sub-encabezados dinámicos -->
                                    <tr class="sub-header">
                                        <!-- Ejército -->
                                        <th *ngFor="let e of lstTitulos" class="sub-celda ejercito">{{ e.valor }}
                                        </th>

                                        <!-- Armada -->
                                        <th *ngFor="let e of lstTitulos" class="sub-celda armada">{{ e.valor }}</th>

                                        <!-- Aviación -->
                                        <th *ngFor="let e of lstTitulos" class="sub-celda aviacion">{{ e.valor }}
                                        </th>

                                        <!-- Guardia Nacional -->
                                        <th *ngFor="let e of lstTitulos" class="sub-celda guardia">{{ e.valor }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let e of lstGrados">
                                        <td>{{e.codigo}}</td>
                                        <!-- EJERCITO -->
                                        <td  class="sub-celda ejercito">{{ encontrarPosicion(0, 4, e.n_codigo) }}</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>{{ encontrarPosicion(0, 7, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(0, 5, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(0, 3, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(0, 1, e.n_codigo) }}</td>
                                        <td>{{ getSubTotal() }}</td>

                                        <!-- ARMADA -->
                                        <td class="sub-celda armada">{{ encontrarPosicion(1, 4, e.n_codigo) }}</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>{{ encontrarPosicion(1, 7, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(1, 5, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(1, 3, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(1, 1, e.n_codigo) }}</td>
                                        <td>{{ getSubTotal() }}</td>

                                        <!-- AVIACION -->
                                        <td class="sub-celda aviacion">{{ encontrarPosicion(2, 4, e.n_codigo) }}</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>{{ encontrarPosicion(2, 7, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(2, 5, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(2, 3, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(2, 1, e.n_codigo) }}</td>
                                        <td>{{ getSubTotal() }}</td>

                                        <!-- GUARDIA -->
                                        <td class="sub-celda guardia">{{ encontrarPosicion(3, 4, e.n_codigo) }}</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>{{ encontrarPosicion(3, 7, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(3, 5, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(3, 3, e.n_codigo) }}</td>
                                        <td>{{ encontrarPosicion(3, 1, e.n_codigo) }}</td>
                                        <td>{{ getSubTotal() }}</td>

                                        <td colspan="2" class="sub-celda">{{ getTotalGlobal() }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>

                        <!-- Legend Section -->

                    </div>
                    <br><br>
                    <div class="row">

                        <div class="col-md-12 text-center col-lg-12">
                            <div class="card">
                                <div class="card-header  py-2">
                                    <h6 class="mb-0">LEYENDA DE ESTADISTICAS</h6>
                                </div>
                                <div class="card-body p-3" style="font-size: 12px;">
                                    <div class="row">
                                        <div class="col-md-3 col-6 mb-2"><b>PS C:</b> Propia solicitud Comando
                                        </div>
                                        <div class="col-md-3 col-6 mb-2"><b>PS T:</b> Propia solicitud técnico
                                        </div>
                                        <div class="col-md-3 col-6 mb-2"><b>PS OT:</b> Propia solicitud
                                            Oficial de tropa</div>
                                        <div class="col-md-3 col-6 mb-2"><b>CE A:</b> Cese de empleo
                                            asimiliado</div>
                                        <div class="col-md-3 col-6 mb-2"><b>SMD:</b> Separación por medidas
                                            disciplinarias</div>
                                        <div class="col-md-3 col-6 mb-2"><b>RAIAP:</b> Reserva Activa por
                                            Invalidez absoluta y permanente</div>
                                        <div class="col-md-3 col-6 mb-2"><b>PMAX:</b> Permanencia Máxima en el
                                            grado</div>
                                        <div class="col-md-3 col-6 mb-2"><b>TSC:</b> Tiempo de Servicio
                                            Cumplido</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br><br>

                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
</div>