<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">

                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">Estadisticas</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-body">
                    <ngx-ui-loader [loaderId]="'loader-buscar'"></ngx-ui-loader>
                    <div class="container mb-5">
                        <div class="row">
                            

                                <div class="row text-center">



                                    <table style="width: 100%;">
                                        <thead style="width: 100%;">
                                            <tr>
                                                <td rowspan="2" >
                                                    GRADOS
                                                </td>
                                                <td colspan="9">
                                                    EJERCITO BOLIVARIANO
                                                </td>
                                                <td colspan="9">
                                                   ARMADA BOLIVARIANA
                                                </td >
                                                <td colspan="9">
                                                    AVIACION MILITAR BOLIVARIANA
                                                </td>
                                                <td colspan="9">
                                                    GUARDIA NACIONAL BOLIVARIANA
                                                </td>
                                                <td rowspan="2"> TOTAL </td>
                                            </tr>
                                            <tr class="font-small">
                                               
                                                <td *ngFor="let e of lstTitulos;">
                                                    {{e.valor}}
                                                </td>

                                                <td *ngFor="let e of lstTitulos;">
                                                    {{e.valor}}
                                                </td>
                                              

                                                <td *ngFor="let e of lstTitulos;">
                                                    {{e.valor}}
                                                </td>

                                                <td *ngFor="let e of lstTitulos;">
                                                    {{e.valor}}
                                                </td>
                                             
                                            </tr>

                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let e of lstGrados">
                                                <td >{{e.grado}}</td>
                                                <td>{{ encontrarPosicionCat(0, 4, e.id, 1) }}</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>{{ encontrarPosicion(0, 7, e.id) }}</td>
                                                <td>{{ encontrarPosicion(0, 5, e.id) }}</td>
                                                <td>{{ encontrarPosicion(0, 3, e.id) }}</td>
                                                <td>{{ encontrarPosicion(0, 1, e.id) }}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>





















                                </div>

                            

                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
</div>