.cabecera {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 0;
}

.titulo {
  margin: 0 auto;
  color: #b41c1c;
  font-family: Arial, Helvetica, sans-serif;
}

#print{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

table {
  display: inline-block; 
  border-collapse: collapse;
  margin: -1px; 
  border: 1px solid black; 
  height: 100%;
}

td, th {
  border: 1px solid black;
  padding: 5px;
  width: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

th{
  text-transform: uppercase;
  padding: 10px;
  background-color: #e7df96;
  color: #b41c1c;
  font-weight: bolder;
  font-size: 0.8rem;
}

table td{
  text-align: center;
}

table.grado th{
  background-color: transparent;
}

table.grado td{
  background-color: #f0b1a5;
  text-align: left;
}

.ejercito tr td{
  background-color: #2da15d67;
}

.ejercito tr td:last-child, .ejercito tr:last-child{
  background-color: #146636;
}

.armada tr td{
  background-color: #7695ad31;
}

.armada tr td:last-child, .armada tr:last-child{
  background-color: #7695ad;
}

.aviacion tr td{
  background-color: #07386054;
}

.aviacion tr td:last-child, .aviacion tr:last-child{
  background-color: #074475;
}

.guardia tr td{
  background-color: #86233450;
}

.guardia tr td:last-child, .guardia tr:last-child{
  background-color: #521d26;
}

tr.font-small td {
  font-size: 9px;
  font-weight: bold;
  text-align: left;
}

// tr.font-small td:last-child{
//   color: #fff;
// }