

<h1 mat-dialog-title>Vista Previa</h1>
<div mat-dialog-content id="print" align="center">
    <!-- <div *ngFor="let e of Componentes"> -->
        <section>
            <table >

                <tr style="background-color: #FFF;">
                    <td style="width: 10%;">
                        <img src="assets/img/mppd/escudos/{{componente_id}}.jpeg" (error)="setDefaultPic($event)" style="width: 110px; height: 140px;" alt="Logo de prueba">
                    </td>
                    <td style="width: 90%; text-align: left;font-weight: bold;margin-top: 5px;">
                        <p style="font-size: 16px;font-weight: bold;"> 
                            REPÚBLICA BOLIVARIANA DE VENEZUELA <br> 
                            MINISTERIO DEL PODER POPULAR PARA LA DEFENSA </p>
                        <p style=" margin-top: -5px; font-size: 28px; font-weight: bold;"> {{ componente }} </p>
                        <p style="text-align: center; font-size: 28px;color: rgb(135, 81, 81); font-weight: bold;">{{ nameLabelDoc }} </p>
                    </td>
                </tr>


            </table>
            <table>
                <thead>
                <tr>
                    <!--Column1-->
                    <th>Nº</th>
                    <th>FOTO</th>
                    <th>GDO</th>
                    <th>NOMBRE Y APELLIDOS</th>
                    <th>ASCENSO</th>
                    <th>CARGO</th>

                    <!--Column1-->
                    <th>Nº</th>
                    <th>FOTO</th>
                    <th>GDO</th>
                    <th>NOMBRE Y APELLIDOS</th>
                    <th>ASCENSO</th>
                    <th>CARGO</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let e of firstElements[0].column1; let i = index">
                    <td>{{ e.index }}</td>
                    <td style="width: 110px; height: 140px;"><img src="/fotos/{{e.cedula}}.jpg" (error)="setDefaultPic($event)" style="width: 110px; height: 140px;"></td>
                    <td  align="center">
                        <p style="font-size: 11px; font-weight: bold; text-align: center;">
                            {{ e.nombre }}
                        </p>
                        <p style="font-size: 9px;text-align: center">
                            {{e.promocion.substring(0,4)}}
                        </p>
                    </td>
                    <td class="nombre">
                        <p style="font-size: 9px;text-align: center;font-weight: bold;">{{ e.nombres }}<br>
                        C.I {{e.cedula}}</p>
                        Especialidad: {{e.especialidad}} <br>
                        Teléfonno: {{e.telefono }} <br>
                        Correo: {{e.correo}}
                    </td>
                    <td style="font-size: 9px;text-align: center" [innerHTML]="filtrarAscenso(e)">
                    </td>
                    <td style="width: 160px;font-size: 9px; text-align: center" [innerHTML]="filtrarNombramiento(e)">
                    </td>
                    

                    <td>{{ firstElements[0].column2[i].index }}</td>
                    <td style="width: 110px; height: 140px;">
                        <img src="/fotos/{{firstElements[0].column2[i].cedula}}.jpg" (error)="setDefaultPic($event)" style="width: 110px;height: 140px;">
                    </td>
                    <td  align="center">
                        <p style="font-size: 11px; font-weight: bold;text-align: center">
                            {{ firstElements[0].column2[i].nombre }}
                        </p>
                        <p style="font-size: 9px;text-align: center">
                            {{firstElements[0].column2[i].promocion.substring(0,4) }}
                        </p>
                    </td>
                    <td class="nombre">
                        <p style="font-size: 9px;text-align: center; font-weight: bold;">{{ firstElements[0].column2[i].nombres }}<br>
                        C.I {{ firstElements[0].column2[i].cedula}}</p>
                        Especialidad: {{firstElements[0].column2[i].especialidad}} <br>
                        Teléfonno: {{firstElements[0].column2[i].telefono }} <br>
                        Correo: {{ firstElements[0].column2[i].correo }} 
                    </td>
                    <td style="font-size: 9px;text-align: center"
                        [innerHTML]="filtrarAscenso(firstElements[0].column2[i])">
                    </td>
                    <td style="width: 160px; font-size: 9px;text-align: center" 
                        [innerHTML]="filtrarNombramiento(firstElements[0].column2[i])">
                    </td>
                    
                </tr>
                </tbody>
            </table>
        </section>


        <section *ngFor="let element of secondElements">

            <table>
                <thead>
                <tr>
                    <!--column1-->
                    <th>Nº</th>
                    <th>FOTO</th>
                    <th>GDO</th>
                    <th>NOMBRE Y APELLIDOS</th>
                    <th>ASCENSO</th>
                    <th>CARGO</th>

                    <!--column2-->
                    <th>Nº</th>
                    <th>FOTO</th>
                    <th>GDO</th>
                    <th>NOMBRE Y APELLIDOS</th>
                    <th>ASCENSO</th>
                    <th>CARGO</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let e of element.column1; let i = index">
                    <td>{{ e.index }}</td>
                    <td style="width: 110px; height: 140px;">
                        <img src="/fotos/{{e.cedula}}.jpg" (error)="setDefaultPic($event)" style="width: 110px;height: 140px;">
                    </td>
                    <td align="center">
                        <p style="font-size: 11px; font-weight: bold;text-align: center">
                            {{ e.nombre }}
                        </p>
                        <p style="font-size: 9px;text-align: center">
                            {{e.promocion.substring(0,4) }}
                        </p>
                    </td>
                    <td  class="nombre">
                       <p style="font-size: 9px;text-align: center; font-weight: bold;">
                         {{ e.nombres }}<br>
                        C.I {{e.cedula}}</p>
                        Especialidad: {{e.especialidad}} <br>
                        Teléfonno: {{e.telefono }} <br>
                        Correo: {{e.correo}}
                    </td>
                    <td style="font-size: 9px;text-align: center"
                         [innerHTML]="filtrarAscenso(e)">
                    </td>
                    <td style="width: 160px; font-size: 9px;text-align: center" [innerHTML]="filtrarNombramiento(e) ">

                    </td>
                    
                    

                    <ng-container *ngIf="element.column2 != undefined && element.column2[i] != null">
                        <td>{{ element.column2[i].index }}</td>
                        <td style="width: 110px; height: 140px;">
                            <img src="/fotos/{{element.column2[i].cedula}}.jpg" (error)="setDefaultPic($event)"  style="width: 110px;height: 140px;">
                        </td>
                        <td  align="center">
                            <p style="font-size: 11px; font-weight: bold;text-align: center">
                                {{ element.column2[i].nombre }}
                            </p>
                            <p style="font-size: 9px;text-align: center">
                                {{element.column2[i].promocion.substring(0,4) }}
                            </p>
                        </td>
                        <td class="nombre">
                            <p style="font-size: 9px;text-align: center;font-weight: bold;">{{ element.column2[i].nombres }}<br>
                            C.I {{element.column2[i].cedula}}</p>
                            Especialidad: {{element.column2[i].especialidad}} <br>
                            Teléfonno: {{element.column2[i].telefono }} <br>
                            Correo: {{element.column2[i].correo}}
                        </td>
                        <td  style="font-size: 9px;text-align: center"
                             [innerHTML]="filtrarAscenso(element.column2[i])">
                        </td>
                        <td style="width: 160px; font-size: 9px;text-align: center"
                            [innerHTML]="filtrarNombramiento(element.column2[i])">
                        </td>
                        
                    </ng-container>
                </tr>
                <!-- ... Repite para las otras 7 posiciones ... -->
                </tbody>

            </table>
        </section>
    <!-- </div> -->

</div>
<div mat-dialog-actions align="center">
    <button class="btn bg-primary text-white" (click)="printPage()">
        <span class="fa fa-print"></span>&nbsp;&nbsp;Imprimir
    </button>
</div>
