<div class="normal-template-container" [attr.contenteditable]="profile === 'TRANSCRIPTOR' ? 'true' : 'false'">
  <div class="fixed-fields mb-4">
    <div class="row mb-2">
      <div class="col-4 font-weight-bold">NÚMERO DE CONTROL:</div>
      <div class="col-8 border-bottom">001-2026</div>
    </div>
    <div class="row mb-2">
      <div class="col-4 font-weight-bold">ASIGNACIÓN:</div>
      <div class="col-8 border-bottom">DGD-MPPD</div>
    </div>
    <div class="row mb-2">
      <div class="col-4 font-weight-bold">DEFINICIÓN:</div>
      <div class="col-8 border-bottom">COMUNICADO OFICIAL</div>
    </div>
  </div>

  <div class="content-area mt-4 text-justify" style="min-height: 400px; line-height: 1.5; font-size: 11pt;">
    <p>Escriba aquí el contenido del documento...</p>
  </div>
</div>
