

input {
  text-transform: uppercase;
}

select {
  text-transform: uppercase;
}

textarea {
  text-transform: uppercase;
}



.mat-form-field {
  width: 100%;
}


.mat-badge-content {
  background: rgb(187, 139, 27);
  color: white;
}

