<div style="text-align: center">
    <div class="example-button-row">
        <button mat-icon-button title="Volver Atrás" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<br>
<form [formGroup]="formSidenav">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-form-field appearance="outline">
                <mat-label>TEXTO 1</mat-label>
                <input matInput formControlName="esta">
                <mat-icon matSuffix>person_search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-form-field appearance="outline">
                <mat-label>TEXTO 1</mat-label>
                <input matInput formControlName="fech">
                <mat-icon matSuffix>person_search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-form-field appearance="outline">
                <mat-label>TEXTO 1</mat-label>
                <input matInput formControlName="id">
                <mat-icon matSuffix>person_search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-form-field appearance="outline">
                <mat-label>TEXTO 1</mat-label>
                <input matInput formControlName="idw">
                <mat-icon matSuffix>person_search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-form-field appearance="outline">
                <mat-label>TEXTO 1</mat-label>
                <input matInput formControlName="nomb">
                <mat-icon matSuffix>person_search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-form-field appearance="outline">
                <mat-label>TEXTO 1</mat-label>
                <input matInput formControlName="obse">
                <mat-icon matSuffix>person_search</mat-icon>
            </mat-form-field>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>
