<mat-tab-group mat-stretch-tabs class="example-stretched-tabs">

    <mat-tab>
        <ng-template mat-tab-label>
            &nbsp;DEFINIR CARPETA
        </ng-template>
        <div style="padding-left: 20px;padding-right: 20px;">
            <form [formGroup]="formSidenav" style="padding-top: 20px;">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Componente</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">security</mat-icon>
                                </span>
                            </div>
                            <select class="input-custom" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="xcomponente">
                                <option value="0">SELECCIONAR COMPONENTE</option>
                                <option *ngFor="let e of Componentes;" [value]="e.cod_componente">{{ e.nombre_componente
                                    }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Número de la carpeta</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">folder</mat-icon>
                                </span>
                            </div>
                            <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="xnumCarpeta" placeholder="Número de la carpeta">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Tipo</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">category</mat-icon>
                                </span>
                            </div>
                            <select class="input-custom" [ngModelOptions]="{standalone: true}" [(ngModel)]="xtipo">
                                <option value="0">RESOLUCION</option>
                                <option value="1">ORDEN GENERAL</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Clasificación</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">class</mat-icon>
                                </span>
                            </div>
                            <select class="input-custom" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="xclasificacion">
                                <option value="0">CLASIFICACION DE DOCUMENTO</option>
                                <option *ngFor="let e of TipoResoluciones;" [value]="e.codigo">{{ e.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Prioridad</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">priority_high</mat-icon>
                                </span>
                            </div>
                            <select class="input-custom" [ngModelOptions]="{standalone: true}" [(ngModel)]="xprioridad">
                                <option value="0">PRIORIDAD</option>
                                <option value="1">NORMAL</option>
                                <option value="2">MEDIO</option>
                                <option value="3">URGENTE</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Responsable</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">person</mat-icon>
                                </span>
                            </div>
                            <select class="input-custom" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="xresponsable">
                                <option value="0">SIN ASIGNAR</option>
                                <option *ngFor="let e of lstResponsable;" [value]="e.cedula + '|' + e.nombre">{{
                                    e.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Estatus</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">info</mat-icon>
                                </span>
                            </div>
                            <select class="input-custom" [ngModelOptions]="{standalone: true}" [(ngModel)]="xestatus">
                                <option value="0">SELECCIONAR ESTATUS</option>
                                <option *ngFor="let e of Estados;" [value]="e.cod_estado_resol">{{e.des_estado_resol}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label class="form-label-custom">Observación</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text icon-box">
                                    <mat-icon class="input-icon">comment</mat-icon>
                                </span>
                            </div>
                            <textarea class="input-custom" cols="40" rows="2" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="observacion" placeholder="Introduzca una breve descripcion..."></textarea>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-pastel text-white" (click)="ActualizarCarpeta()">
                            <span class="fa fa-save"></span>&nbsp;&nbsp;Aplicar Cambios
                        </button>
                    </div>
                </div>
            </form>
        </div>



    </mat-tab>
</mat-tab-group>