<ngx-ui-loader [loaderId]="'loader-eliminar'"></ngx-ui-loader>


<mat-tab-group mat-stretch-tabs class="example-stretched-tabs" dynamicHeight>

  <mat-tab>
    <ng-template mat-tab-label>
      &nbsp;RESUELTOS
    </ng-template>
    <br>
    <div class="row">
      <div class="col-md-4"></div>
      <!-- <div class="col-md-3">
          <mat-form-field appearance="outline">
              <mat-label>Cédula</mat-label>
              <input matInput placeholder="Cédula"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="cedula"
                  (keypress)="consultarCedula($event)">
              <mat-icon matSuffix>person_search</mat-icon>
          </mat-form-field>
      </div> -->
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Numero de resuelto</mat-label>
          <input matInput placeholder="Numero de resuelto" [ngModelOptions]="{standalone: true}" [(ngModel)]="numero"
            value="{{numero}}" (keypress)="consultarResolucion($event)">
        </mat-form-field>
      </div>
      <!-- <div class="col-md-3">
          <mat-form-field appearance="outline">
              <mat-label>Numero de Orden General</mat-label>
              <input matInput placeholder="Numero de Orden General">
          </mat-form-field>
      </div> -->
      <div class="col-md-2">
        <div class="text-right" style="padding-top: 5px;">
          <button class="btn bg-primary text-white" style="height: 50px;" (click)="consultarResolucion(undefined)">
            Consultar
          </button>
        </div>
      </div>

      <div class="col-md-4"></div>

    </div>

    <div class="container" *ngFor="let e of lstResoluciones">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          RESUMEN <b>{{ e.numero_resol }}</b>: <BR><BR>
          ACTUALMENTE ESTA RESOLUCION POSEE ( {{ e.cantidad }}) REGISTROS EN EL SISTEMA
          PARA BORRAR ESTOS REGISTROS DEBE SOLICITAR LA AUTORIZACION.<br><br>

          <B>
            <font style="color:brown">
              NOTA: RECUERDE TENER PRESENTE QUE ESTA ACCION ELIMINA DEL SISTEMA COMPLETAMENTE LA RESOLUCION
            </font>
          </B>
          <hr>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">

        <div class="col-md-12 text-right">
          <div class="text-right" style="padding-top: 5px;">
            <button *ngIf="cargando" class="btn bg-warning text-white" style="height: 50px;" (click)="eliminar(e.fecha_resol)">
              Eliminar {{e.fecha_resol}} 
              <br>
            </button>
          </div>
        </div>

      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      &nbsp;ENTRADAS
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      &nbsp;PERSONAS
    </ng-template>
  </mat-tab>
</mat-tab-group>