<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">Registrar Entradas</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" *ngIf="bPDF"
                                        (click)="verArchivos(archivos)">
                                        <mat-icon>wallpaper</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" *ngIf="bPDF"
                                        (click)="verHistorial()">
                                        <mat-icon>history</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>reply</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group  col-md-6">
                                <label>Unidad Minsiterial</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="unidad"
                                  value="{{unidad}}" readonly>
                              </div>
                              <div class="form-group  col-md-3">
                                <label>N. De Cuenta</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cuenta"
                                  value="{{cuenta}}" readonly>
                              </div>
                              <div class="form-group  col-md-3">
                                <label>Fecha</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha"
                                  value="{{fecha}}" readonly>
                              </div>
                              
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Cuenta o Oficio</label>
                                        <div class="NgxEditor__Wrapper">
                                          <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="xeditor"
                                          [(ngModel)]="asunto" [disabled]="false" [placeholder]="'Escibe aqui...'">
                                          </ngx-editor>
                                        </div>
                                      </div>

                                </div>
                               

                                <!-- <hr class="mb-1">
                            <h6 class="text-uppercase text-muted ls-1 mb-4">Datos Personales</h6> -->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label> Cédula </label>
                                        <input type="text" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="Resolucion.cedula" value="{{Resolucion.cedula}}" (blur)="consultarCedula()"
                                            class="form-control">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label> Nombres </label>
                                        <input type="text" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="Resolucion.nombres_apellidos" value="{{Resolucion.nombres_apellidos}}"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="tmsOrigen">Fecha de Nacimiento</label>
                                        <form class="form-inline">
                                            <div class="form-group" style="width:100%">
                                                <div class="input-group" style="width:100%">
                                                    <input class="form-control" placeholder="AAAA-MM-DD"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="forigen"
                                                        ngbDatepicker #vi="ngbDatepicker"
                                                        [value]="formatter.format(forigen)" [placement]="placement"
                                                        [positionTarget]="buttonEl">
                                                    <div class="input-group-append">
                                                        <button #buttonEl class="btn calendario" (click)="vi.toggle()"
                                                            type="button">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label> Sexo </label>
                                        <select class="form-control" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="Resolucion.sexo" value="{{Resolucion.sexo}}">
                                            <option value="0">Seleccione</option>
                                            <option value="Masculino">MASCULINO</option>
                                            <option value="Femenino">FEMENINO</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 text-center">
                                        <br>
                                        <div  style="border:1px solid #CCC; padding: 1px;width: 195px" >
                                            
                                            <img src="assets/img/theme/ndisponible.jpeg" style="width: 190px">
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-uppercase text-muted ls-1 mb-4">Datos Militares</h6>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label> Componente </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.componente" value="{{Resolucion.componente}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Componentes;" [value]="e.cod_componente">{{e.nombre_componente}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label> Categoría </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.categoria" value="{{Resolucion.categoria}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Categorias;" [value]="e.cod_categoria">{{e.nombre_categoria}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label> Clasificación </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.clasificacion" value="{{Resolucion.clasificacion}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Clasificaciones;" [value]="e.cod_clasificacion ">
                                    {{e.des_clasificacion}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label> Grado </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.grado" value="{{Resolucion.grado}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Grados;" [value]="e.cod_grado">{{e.nombres_grado}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label> Fecha de Ingreso FANB </label>
                            <form class="form-inline">
                                <div class="form-group" style="width:100%">
                                    <div class="input-group" style="width:100%">
                                        <input class="form-control" placeholder="AAAA-MM-DD"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="fcreacion" ngbDatepicker
                                            #vi="ngbDatepicker" [value]="formatter.format(fcreacion)"
                                            [placement]="placement" [positionTarget]="buttonEl">
                                        <div class="input-group-append">
                                            <button #buttonEl class="btn calendario" (click)="vi.toggle()"
                                                type="button">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="form-group col-md-6">
                            <label> Situación </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.situacion" value="{{Resolucion.situacion}}">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill"  style="width:100%">
                                <mat-label>Número de Resolución </mat-label>
                                <input matInput placeholder="" [ngModelOptions]="{standalone: true}" 
                                    [(ngModel)]="Resolucion.numero" value="{{Resolucion.numero}}">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-8">
                            <mat-form-field class="example-full-width" appearance="fill" style="width:100%">
                                <mat-label style="width:100%">Tipo de Resolución</mat-label>
                                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" style="width:100%">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.des_resol}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label> Número Carpeta </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.carpeta" value="{{Resolucion.carpeta}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of OrdenNumero;" [value]="e.cod_carpeta_og">{{e.des_carpeta_og}}</option>
                            </select>
                        </div>
                      
                        <div class="form-group col-md-4">
                            <label> Carpeta Entrada </label>
                           
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.entrada" value="{{Resolucion.entrada}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Carpetas;" [value]="e.cod_carpeta">{{e.des_carpeta}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label> Estatus </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.estatus" value="{{Resolucion.estatus}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Estados;" [value]="e.cod_estado_resol">{{e.des_estado_resol}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtObjeto">Asunto</label>
                            <div class="NgxEditor__Wrapper">
                                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="editor"
                                    [(ngModel)]="Resolucion.asunto" [disabled]="false" [placeholder]="'Escibe aqui...'">
                                </ngx-editor>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtObjeto">Observaciones</label>
                            <div class="NgxEditor__Wrapper">
                                <ngx-editor-menu [editor]="xobser"> </ngx-editor-menu>
                                <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="xobser"
                                    [(ngModel)]="Resolucion.observacion " [disabled]="false"
                                    [placeholder]="'Escibe aqui...'">
                                </ngx-editor>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Responsable</label>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.responsable" value="{{Resolucion.responsable}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Cargo Responsable</label>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.cargo_responsable" value="{{Resolucion.cargo_responsable}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button class="btn bg-primary text-white" (click)="guardar()">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
</div>





<!-- Adjuntar Imagenes al Documento -->
<ng-template #archivos let-modal>
    <div class="modal-header header bg-gradient-success">
        <h4 class="modal-title" id="modal-basic-title">Lista de Archivos asociados {{ numControl }}</h4>

    </div>
    <div class="modal-body">


        <div class="form-group col-md-12">
            <div class="card card-profile">
                <div class="card-header bg-info"
                    style="background-image: url('./assets/img/theme/inn.svg'); height: 80px;">
                    <div class="card-avatar text-center">
                        <a href="javascript:;">
                            <img class="img img-raised rounded-circle" src="./assets/img/theme/pdf2.jpeg"
                                style="width:100px;z-index: 1; margin-top: -5px;">3
                        </a>
                    </div>
                </div>
                <br>

                <div class="card-body pt-0">

                    <div class="d-flex justify-content-between">
                        <a [href]="download" target="_top" rel="noopener noreferrer"
                            class="btn btn-primary mt-3">Descargar</a>
                        <a (click)="activarHistorial()" class="btn btn-default float-right mt-3">Historial</a>
                    </div>
                    <br><br>
                    <div class="text-center">
                        <div class="font-weight-50">
                            Publicado<span class="font-weight-light">, {{ Doc.fcreacion | date:"dd-MM-yy
                                hh:mm:ss"}}</span>
                            <br>
                            <h5 class="h4" style="font-size: 10px;">{{ Doc.creador }}</h5>
                        </div>
                    </div>
                    <div style="margin-left: -10px;height:300px;overflow-x:scroll;width:104%" *ngIf="bHist">
                        <table class="table">
                            <thead class="thead-light">
                                <th>Documento</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </thead>
                            <tbody>

                                <tr [ngModelOptions]="{standalone: true}" *ngFor="let el of lstHzAdjunto;let i=index">

                                    <td>
                                        <a [href]="dwUrl(Doc.ncontrol, el.nombre)" target="_top"
                                            rel="noopener noreferrer">
                                            {{ el.nombre.substring(20,32) }}
                                        </a>
                                    </td>
                                    <td>{{ el.usuario }}</td>
                                    <td>{{ el.fecha | date:"dd/MM/yy hh:mm:ss"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
            <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
</ng-template>