<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <ngx-ui-loader [loaderId]="'loader-buscar'"></ngx-ui-loader>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">Registrar Entradas</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" *ngIf="bPDF"
                                        (click)="verArchivos(archivos)">
                                        <mat-icon>wallpaper</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" *ngIf="bPDF"
                                        (click)="verHistorial()">
                                        <mat-icon>history</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>reply</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="form-group  col-md-6">
                                <label>Unidad Minsiterial</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="unidad"
                                    value="{{unidad}}" readonly>
                            </div>
                            <div class="form-group  col-md-3">
                                <label>N. De Cuenta</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cuenta"
                                    value="{{cuenta}}" readonly>
                            </div>
                            <div class="form-group  col-md-3">
                                <label>Fecha</label>
                                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha"
                                    value="{{fecha}}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Cuenta o Oficio</label>
                                        <div class="NgxEditor__Wrapper">
                                            <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="xeditor"
                                            [(ngModel)]="asunto" [disabled]="false" [placeholder]="'Escibe aqui...'">
                                            </ngx-editor>
                                        </div>
                                        </div>

                                </div>
                                

                                <!-- <hr class="mb-1">
                            <h6 class="text-uppercase text-muted ls-1 mb-4">Datos Personales</h6> -->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label> Cédula </label>
                                        <input type="text" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="Resolucion.cedula" value="{{Resolucion.cedula}}" (blur)="consultarCedula()"
                                            class="form-control">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label> Nombres </label>
                                        <input type="text" [ngModelOptions]="{standalone: true}" readonly
                                            [(ngModel)]="Resolucion.nombres_apellidos" value="{{Resolucion.nombres_apellidos}}"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12" style="padding: 15px;">
                                        <table summary="" class="table table-bordered table-hover">
            
                                            <thead>
                                                <tr>
                                                    <th data-priority="1">Fecha Nac.: {{ Resolucion.fecha_nacimiento | uppercase}}</th>
                                                    <th data-priority="2">Sexo:  {{ Resolucion.sexo | uppercase}}</th>
                                                </tr>
                                                <tr>
                                                    <th data-priority="3">Situacion Militar: {{Resolucion.situacion}}</th>
                                                    <th data-priority="4"></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    
                                
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10 text-center">
                                        <br>
                                        <div  style="border:1px solid #CCC; padding: 1px;width: 195px" >
                                            
                                            <img src="assets/img/theme/ndisponible.jpeg" style="width: 190px">
                                        </div>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-12 text-center">
                                        <br>
                                        <button class="btn btn-success"  style="width: 190px">
                                            <span class="fa fa-plus"></span>&nbsp;&nbsp;Ver historial</button>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding: 15px;">
                            <table summary="" class="table table-bordered table-hover">

                                <thead>
                                    <tr>
                                        <th data-priority="1">Componente</th>
                                        <th data-priority="2">Categoria</th>
                                        <th data-priority="3">Clasificación</th>
                                        <th data-priority="4">Grado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ Resolucion.componente | uppercase}}</td>
                                        <td>{{ Resolucion.categoria | uppercase}}</td>
                                        <td>{{ Resolucion.clasificacion }}</td>
                                        <td>{{ Resolucion.grado }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label> Tipo </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.tipo" >
                                <option value="0">Seleccione</option>
                                <option value="RESOLUCION">RESOLUCION</option>
                                <option value="ORDEN GENERAL">ORDEN GENERAL</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label> Estatus </label>
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.estatus" value="{{Resolucion.estatus}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Estados;" [value]="e.cod_estado_resol">{{e.des_estado_resol}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Responsable</label>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" readonly
                                [(ngModel)]="Resolucion.responsable" value="{{Resolucion.responsable}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <mat-form-field class="example-full-width" appearance="fill"  style="width:100%">
                                <mat-label>Número de Resolución </mat-label>
                                <input matInput placeholder="" [ngModelOptions]="{standalone: true}" 
                                    [(ngModel)]="Resolucion.numero" value="{{Resolucion.numero}}">
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field class="example-full-width" appearance="fill" style="width:100%">
                                <mat-label style="width:100%">Tipo de Resolución</mat-label>
                                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" style="width:100%">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.des_resol}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-2">
                            <mat-form-field class="example-full-width" appearance="fill"  style="width:100%">
                                <mat-label>Número Carpeta </mat-label>
                                <input matInput placeholder="" [ngModelOptions]="{standalone: true}" 
                                    [(ngModel)]="Resolucion.carpeta" value="{{Resolucion.carpeta}}">
                            </mat-form-field>
                        </div>
                    </div>



                    
                        
                      <!-- 
                        <div class="form-group col-md-4">
                            <label> Carpeta Entrada </label>
                           
                            <select class="form-control" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="Resolucion.entrada" value="{{Resolucion.entrada}}">
                                <option value="0">Seleccione</option>
                                <option *ngFor="let e of Carpetas;" [value]="e.cod_carpeta">{{e.des_carpeta}}</option>
                            </select>
                        </div> -->
                       
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtObjeto">Asunto</label>
                            <div class="NgxEditor__Wrapper">
                                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="editor"
                                    [(ngModel)]="Resolucion.asunto" [disabled]="false" [placeholder]="'Escibe aqui...'">
                                </ngx-editor>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtObjeto">Observaciones</label>
                            <div class="NgxEditor__Wrapper">
                                <ngx-editor-menu [editor]="xobser"> </ngx-editor-menu>
                                <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="xobser"
                                    [(ngModel)]="Resolucion.observacion " [disabled]="false"
                                    [placeholder]="'Escibe aqui...'">
                                </ngx-editor>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-right">
                                <button class="btn bg-primary text-white" (click)="guardar()">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
</div>





<!-- Adjuntar Imagenes al Documento -->
<ng-template #archivos let-modal>
    <div class="modal-header header bg-gradient-success">
        <h4 class="modal-title" id="modal-basic-title">Lista de Archivos asociados {{ numControl }}</h4>

    </div>
    <div class="modal-body">


        <div class="form-group col-md-12">
            <div class="card card-profile">
                <div class="card-header bg-info"
                    style="background-image: url('./assets/img/theme/inn.svg'); height: 80px;">
                    <div class="card-avatar text-center">
                        <a href="javascript:;">
                            <img class="img img-raised rounded-circle" src="./assets/img/theme/pdf2.jpeg"
                                style="width:100px;z-index: 1; margin-top: -5px;">3
                        </a>
                    </div>
                </div>
                <br>

                <div class="card-body pt-0">

                    <div class="d-flex justify-content-between">
                        <a [href]="download" target="_top" rel="noopener noreferrer"
                            class="btn btn-primary mt-3">Descargar</a>
                        <a (click)="activarHistorial()" class="btn btn-default float-right mt-3">Historial</a>
                    </div>
                    <br><br>
                    <div class="text-center">
                        <div class="font-weight-50">
                            Publicado<span class="font-weight-light">, {{ Doc.fcreacion | date:"dd-MM-yy
                                hh:mm:ss"}}</span>
                            <br>
                            <h5 class="h4" style="font-size: 10px;">{{ Doc.creador }}</h5>
                        </div>
                    </div>
                    <div style="margin-left: -10px;height:300px;overflow-x:scroll;width:104%" *ngIf="bHist">
                        <table class="table">
                            <thead class="thead-light">
                                <th>Documento</th>
                                <th>Usuario</th>
                                <th>Fecha</th>
                            </thead>
                            <tbody>

                                <tr [ngModelOptions]="{standalone: true}" *ngFor="let el of lstHzAdjunto;let i=index">

                                    <td>
                                        <a [href]="dwUrl(Doc.ncontrol, el.nombre)" target="_top"
                                            rel="noopener noreferrer">
                                            {{ el.nombre.substring(20,32) }}
                                        </a>
                                    </td>
                                    <td>{{ el.usuario }}</td>
                                    <td>{{ el.fecha | date:"dd/MM/yy hh:mm:ss"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
            <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
</ng-template>