.iconElimi{
    color:#a00c1f !important;
    font-size: 22px !important;
    cursor: pointer;
}

.iconEdit{
    color:#5e72e4 !important;
    font-size: 22px !important;
    cursor: pointer;
    padding-right: 6%;
}


input{
    text-transform: uppercase;
}
select{
    text-transform: uppercase;
}
textarea {
    text-transform: uppercase;
}