<div class="logout-bg">
  <div class="shape-blob shape-1"></div>
  <div class="shape-blob shape-2"></div>

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-5 col-md-7">
        
        <div class="card border-0 shadow-lg card-anim">
          <div class="card-body px-lg-5 py-lg-5">
            
            <!-- Cabecera con Icono Central -->
            <div class="text-center mb-4">
              <div class="icon-container mb-3">
                <i [class]="getHeaderIconClass()" style="color: #5eaaa8;"></i>
              </div>
              <h3 class="text-dark font-weight-bold">Cerrando Sesión</h3>
              
              <div style="min-height: 24px;">
                  <p class="text-muted mb-0  fade-in-up">{{ texto }}</p>
              </div>
            </div>

     
          </div>
        </div>
      </div>
    </div>
  </div>
</div>