<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
      <p></p>
  </div>    
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
          <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col-md-10">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Control y Gestión</h6>
                    <h2 class="mb-0">Documentos</h2>
                </div>
                <div class="col-md-1">
                  <div class="media align-items-center">
                    <div class="example-button-row">
                      <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                        <mat-icon>reply</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <ul class="navbar-nav align-items-right d-none d-md-flex">
                    <li class="nav-item" ngbDropdown placement="bottom-right">
                      <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                        <div class="media align-items-center">
                          <div class="example-button-row">
                            <button mat-icon-button aria-label="Detalles">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                          </div>
                        </div>
                      </a>
                      <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                        <a routerLinkActive="active" [routerLink]="['/documento']" class="dropdown-item">
                          <i class="fa fa-plus"></i>
                          <span>Nuevo Documento</span>
                        </a>
                        <a routerLinkActive="active" [routerLink]="['/configuracion']" class="dropdown-item">
                          <i class="ni ni-settings-gear-65"></i>
                          <span>Configuración</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
          </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" >
          <mat-tab>
              <ng-template mat-tab-label>
              &nbsp;REGISTRADOS
              </ng-template>
              
              
          
         

                <div class="container">
                  <mat-selection-list #documento>
                    <mat-list  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                      <div class="row">
                        <div class="col-md-1" [ngStyle]="{'display':estilocheck}">
                          <mat-checkbox 
                            [checked]="allComplete"
                            color="primary"
                            [indeterminate]="someComplete()"
                            (change)="setAll($event.checked)"
                            class="example-margin texto-lista">
                          </mat-checkbox>  
                        </div>
                        <div class="col-md-2"  [ngStyle]="{'display':estiloclasificar}">
                          <button mat-icon-button aria-label="Example " (click)="open(content)">
                            <mat-icon>create_new_folder</mat-icon>
                          </button>
                        </div>
                       
                      </div>

                    </mat-list>
                  </mat-selection-list>

                  <mat-selection-list #lstDocumentos>
                    <mat-list *ngFor="let e of bzRegistrados; let i=index " 
                      style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                      <div class="row">
                        <div class="col-md-1">
                          
                            <mat-checkbox class="example-margin texto-lista"  
                              [(ngModel)]="e.completed"
                              color="warn"
                              (ngModelChange)="updateAllComplete()">
                            </mat-checkbox>
                        
                        </div>
                        <div class="col-md-2 texto-lista">
                          {{ e.numc }}
                        </div>
                        <div class="col-md-2 texto-lista">
                          {{ e.tdoc | uppercase }}
                        </div>
                        <div class="col-md-2 texto-lista">
                          {{ e.fcre | date:"yyyy/MM/dd" }}
                        </div>
                        <div class="col-md-3 texto-lista">
                          {{ e.remi | uppercase }}
                        </div>
                        <div class="col-md-2 text-right" >
                          <button mat-icon-button aria-label="Editar" (click)="editar(e.id)">
                            <mat-icon>edit_note</mat-icon>
                          </button>
                          <button *ngIf="e.existe" mat-icon-button aria-label="Adjuntar" (click)="adjuntar(e.id)">
                            <mat-icon>attach_file</mat-icon>
                          </button>
                          <button mat-icon-button aria-label="Eliminar" (click)="eliminar(e.id)">
                            <mat-icon>delete</mat-icon>
                          </button>

                        </div>
                      </div>
                    </mat-list>
                  </mat-selection-list>
                </div>

              <mat-paginator [length]="lengthOfi"
                  (page)="pageChangeEvent($event)"
                  [pageSize]="pageSizeOfi"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageEvent = $event"
                  aria-label="Seleccionar">
              </mat-paginator>
              
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
            &nbsp;CLASIFICACIÓN
            </ng-template>
            <div class="row col-md-12 px-2 py-2">
              <div class="col-md-1">
                <mat-panel-title>
                  <button type="button" class="btn"  title="Seleccionar Todos" > 
                    <input type="checkbox"  name="list_name"/>
                  </button>
                </mat-panel-title>
              </div>
              <div class="col-md-1">
                <button class="btn" title="Generar Nota de Entrega">
                  <i class="fa fa-file"></i>
                </button>
              </div>
            </div>

            <mat-panel-title>
              <div class="row col-md-12 px-2 py-2 text-center">
                  <div class="col-md-1" *ngFor="let e of bzNotaEntregas">
                    <input type="checkbox" />
                  </div>
                  <div class="col-md-4">
                      
                  </div>
                  <div class="col-md-5">
                      Ministerio del Poder Popular para la Salud
                  </div>
                  <div class="col-md-2 text-right">
                      <i class="fas fa-edit iconEdit"></i>
                      <i class="far fa-trash-alt iconElimi"></i> 
                  </div>
              </div>
            </mat-panel-title>
            
    
            <!-- <mat-paginator [length]="lengthOfi"
                (page)="pageChangeEvent($event)"
                [pageSize]="pageSizeOfi"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event"
                aria-label="Seleccionar">
            </mat-paginator> -->


          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>    
</div>

<ng-template #content let-modal>
  <div class="modal-header header bg-gradient-success">
    <h4 class="modal-title text-white" id="modal-basic-title">CLASIFICAR DOCUMENTOS</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Clasificación</label>
          <select class="form-control">
              <option value="0">SELECCIONE</option>
              <option *ngFor="let x of lstEstados" value="{{ x.id }}" >{{ x.nomb }}</option> 
          </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-success text-white "  (click)="obtenerClasificacion();modal.close('Save')"> 
      <span class="fa fa-share"></span>&nbsp;&nbsp;Clasificar </button>
    <button  class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-edit"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>


  
