<div class="header bg-pastel-gradient pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-9">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Control y Gestión</h6>
              <h2 class="mb-0">Documentos</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás"  [routerLink]="['/control']">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Nuevo Documento" (click)="navegar()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <ul class="navbar-nav align-items-right d-none d-md-flex">
                <li class="nav-item" ngbDropdown placement="bottom-right" container="body">
                  <a class="nav-link pr-0" role="button" ngbDropdownToggle id="more">
                    <div class="media align-items-center">
                      <div class="example-button-row">
                        <button mat-icon-button aria-label="Detalles">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <a routerLinkActive="active" [routerLink]="['/documento']" class="dropdown-item"
                      id="nuevodocumento">
                      <i class="fa fa-plus"></i>
                      <span>Nuevo Documento</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/notaentrega']" class="dropdown-item">
                      <i class="fa fa-search"></i>
                      <span>Notas de Entrega</span>
                    </a>

                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
          (selectedIndexChange)="seleccionNavegacion($event)">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">list_alt</mat-icon>
              REGISTRADOS
            </ng-template>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-checkbox" [ngStyle]="{'display':estilocheck}">
                      <mat-checkbox [checked]="allComplete" color="primary" [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)" id="check">
                      </mat-checkbox>
                    </th>
                    <th scope="col" class="col-main">DOCUMENTO</th>
                    <th scope="col" class="col-details">DETALLES</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <button mat-icon-button matTooltip="Clasificar Documentos" (click)="open(content, 0, 0)" id="clasificar" class="mr-2">
                          <mat-icon>folder_copy</mat-icon>
                        </button>
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear"
                            (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses"
                            (change)="seleccionNavegacion(0)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td [ngStyle]="{'display':estilocheck}">
                      <mat-checkbox [(ngModel)]="e.completed" color="primary" (ngModelChange)="updateAllComplete()">
                      </mat-checkbox>
                    </td>
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]">
                            {{ e.numc }} <span class="document-type-symbol" [style.color]="e.color">{{ e.simbolo
                              }}</span>
                          </a>
                          <small class="document-origin">{{ e.nori | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-dependency">{{ e.udep | uppercase }}</span>
                      <small class="document-date">{{ e.fcre | date:"dd/MM/yyyy" }}</small>
                    </td>
                    <td class="text-right">
                      <div class="actions-container" *ngIf="!e.statusprogreso">
                        <button mat-icon-button matTooltip="Privado" *ngIf="e.privado">
                          <mat-icon class="text-warning">no_encryption</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Editar" (click)="editar( e.idd )">
                          <mat-icon>edit_note</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Adjuntar" (click)="open(adjuntar, e.numc, i)">
                          <mat-icon [ngClass]="{'text-primary': e.anom!=''}">attach_file</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Eliminar" (click)="eliminar(e.numc, e.idd)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                      </div>
                      <div class="progress-container" *ngIf="e.statusprogreso">
                        <small>PROGRESO (<b>{{ e.progreso }}%</b>)</small>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" [style.width.%]="e.progreso"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>


          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">folder_special</mat-icon>
              CLASIFICACIÓN
            </ng-template>
            <div class="classification-container">
              <!-- Panel lateral con la lista de categorías -->
              <div class="classification-sidebar">
                <h6 class="sidebar-title">Clasificaciones</h6>
                <div class="category-list">
                  <a *ngFor="let x of lstEstados" 
                     class="category-item"
                     [class.active]="currentId === x.id"
                     (click)="ConsultarCtrl(x.id); currentId = x.id; selectedEstado = x">
                    <mat-icon class="category-icon">{{ x.icon || 'folder_open' }}</mat-icon>
                    <div class="category-details">
                      <span class="category-name">{{ x.nomb }}</span> <br>
                      <small class="category-description" [matTooltip]="x.obse">{{ x.obse }}</small>
                    </div>
                    <!-- Asumiendo que lstEstados tiene una propiedad 'count' -->
                    <!-- <span class="category-count">{{ x.count || 0 }}</span> -->
                  </a>
                </div>
              </div>
            
              <!-- Contenido principal (tabla o estado vacío) -->
              <div class="classification-content">
                <!-- Estado: Tabla de documentos visible -->
                <div *ngIf="btnNota" class="card shadow-xs border-0 animated-fade-in">
                  <div class="card-header bg-transparent d-flex justify-content-between align-items-center py-3">
                    <h3 class="mb-0 card-title">
                      <mat-icon>folder_open</mat-icon>
                      <span>Documentos en <strong>"{{ selectedEstado?.nomb }}"</strong></span>
                    </h3>
                    <button *ngIf="lstNotaEntrega && lstNotaEntrega.length > 0" 
                            class="btn btn-sm btn-primary-custom"
                            (click)="notaEntrega(currentId)">
                      <mat-icon>print</mat-icon>
                      <span>Generar Nota</span>
                    </button>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush table-hover classification-table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col" class="col-doc-main">Documento</th>
                          <th scope="col" class="col-doc-details">Detalles</th>
                          <th scope="col" class="col-doc-actions text-right">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let e of lstNotaEntrega; let i=index" class="document-row-item">
                          <td class="align-middle">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <a class="document-title" [routerLink]="['/constancia', constancia( e.idd )]">
                                  {{ e.numc | uppercase }}
                                </a>
                                <small class="document-origin">{{ e.nori | uppercase }}</small>
                              </div>
                            </div>
                          </td>
                          <td class="align-middle">
                            <span class="document-dependency">{{ remitente | uppercase }}</span>
                            <small class="document-date">{{ e.fcre | date:"dd/MM/yyyy" }}</small>
                          </td>
                          <td class="text-right align-middle">
                            <div class="actions-container">
                              <button mat-icon-button matTooltip="Agregar Observación" (click)="open(observacion, e.idd)">
                                <mat-icon class="action-icon">edit_note</mat-icon>
                              </button>
                              <button mat-icon-button matTooltip="Reversar Documento" (click)="mensajeReversarDoc(e.idd)">
                                <mat-icon class="action-icon">history</mat-icon>
                              </button>
                            </div>
                          </td>
                        </tr>
                        <tr *ngIf="!lstNotaEntrega || lstNotaEntrega.length === 0">
                          <td colspan="3" class="text-center py-5">
                            <div class="empty-state-icon">
                              <mat-icon>inbox</mat-icon>
                            </div>
                            <p class="mt-2 mb-0 text-muted">No hay documentos en esta clasificación.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            
                <!-- Estado: Vacío (ninguna categoría seleccionada) -->
                <div *ngIf="!btnNota" class="empty-state-container">
                  <div class="d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="empty-state-icon">
                      <mat-icon>rule_folder</mat-icon>
                   </div>
                    <h4 class="mt-4">Seleccione una clasificación</h4>
                    <p class="text-muted small">Elija una categoría de la lista de la izquierda para ver los documentos asociados.</p>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">notification_important</mat-icon>
              ALERTAS
            </ng-template>

            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="col-main">Documento</th>
                    <th scope="col" class="col-details">Plazo</th>
                    <th scope="col" class="col-status">Estado</th>
                    <th scope="col" class="col-filters">
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="filter-control-wrapper mr-2">
                          <i class="ni ni-calendar-grid-58 filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xyear"
                            (change)="seleccionNavegacion(2)">
                            <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                          </select>
                        </div>
                        <div class="filter-control-wrapper">
                          <i class="ni ni-collection filter-icon"></i>
                          <select class="custom-select custom-select-sm" [(ngModel)]="xmeses"
                            (change)="seleccionNavegacion(2)">
                            <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                          </select>
                        </div>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of buzon; let i=index" class="document-row-item">
                    <td>
                      <div class="media align-items-center">
                        <div class="media-body">
                          <a class="document-title" [routerLink]="['/constancia', constancia( e.id )]">
                            {{ e.ncontrol }} <span class="document-type-symbol text-success">{{ e.simbolo }}</span>
                          </a>
                          <small class="document-origin">{{ e.unidad | uppercase }}</small>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="document-date">{{ e.plazo | date:"dd/MM/yyyy" }}</span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <i [ngClass]="e.color ? e.color.replace('text-', 'bg-') : ''"></i>
                        <span class="status" [ngClass]="e.color">{{ e.texto | uppercase }}</span>
                      </span>
                    </td>
                    <td class="text-right">
                      <div class="actions-container">
                        <button mat-icon-button matTooltip="Extender Plazo" (click)="open(alerta, e.id_alerta, i)">
                          <mat-icon>event_repeat</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="!buzon || buzon.length === 0">
                    <td colspan="4" class="text-center text-muted pt-4 pb-4">
                      No hay alertas para mostrar.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>
        </mat-tab-group>
      
      
      </div>
    </div>
  </div>
</div>


<!-- Clasificacion de Documentos -->
<ng-template #content let-modal>
  <div class="modal-header bg-pastel-gradient">
    <h4 class="modal-title text-white" id="modal-basic-title">Clasificar Documentos</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <label>Clasificación</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cmbDestino" id="clsf">
        <option value="0">SELECCIONE</option>
        <option *ngFor="let x of lstEstados" value="{{ x.id }}">{{ x.nomb }}</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-pastel text-white" (click)="clasificarBuzon();modal.close('Save')" id="btncls">
      <span class="fa fa-share"></span>&nbsp;&nbsp;Clasificar </button>
    <button class="btn btn-pastel-cancel text-white" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>


<!-- Adjuntar Imagenes al Documento -->
<ng-template #adjuntar let-c="close" let-d="dismiss">
  <div class="modal-header bg-pastel-gradient">
    <h4 class="modal-title text-white" id="modal-basic-title">Cargar Archivo en {{ numControl }}</h4>
  </div>
  <div class="modal-body">
    <div class="custom-file-upload" (click)="fileInput.click()">
      <input type="file" class="d-none" (change)="fileSelected($event)" accept=".pdf" #fileInput>
      <div class="upload-icon">
        <i class="ni ni-cloud-upload-96"></i>
      </div>
      <div class="upload-text" *ngIf="!lblFile || lblFile === 'Seleccionar Archivo'">
        Haz clic aquí para seleccionar un archivo
      </div>
      <div class="upload-text" *ngIf="lblFile && lblFile !== 'Seleccionar Archivo'">
        {{ lblFile }}
      </div>
      <div class="upload-hint">
        (Solo se permiten archivos PDF)
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="btnEnviar" class="btn btn-pastel text-white "
      (click)="SubirArchivo($event, posicionProgreso);c('Save')">
      <span class="fa fa-upload"></span>&nbsp;&nbsp;Enviar Archivos </button>
    <button class="btn btn-pastel-cancel text-white" aria-label="Close" (click)="c('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>



<!-- Observaciones generales -->
<ng-template #observacion let-modal>
  <div class="modal-header bg-pastel-gradient">
    <h4 class="modal-title text-white" id="modal-basic-title">Agregar Observación</h4>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-pastel text-white" (click)="insertarObservacion();modal.close('Save')">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Guardar </button>
    <button class="btn btn-pastel-cancel text-white" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>


<div style="display: none">
  <div id="prtNota">
    <section class="content">
      <div class="wrapper">
        <table border="0" style="width:100%">
          <tr>

            <td align="center">
              REPÚBLICA BOLIVARIANA DE VENEZUELA <BR>
              MINISTERIO DEL PODER POPULAR PARA LA DEFENSA<BR>
              DEPARTAMENTO DE {{EstadoDescripcion | uppercase }}
            </td>

          </tr>
        </table>

        <h3 style="text-align:center">NOTA DE ENTREGA DE DOCUMENTO </h3>



        <table style="width:100%" border="1">
          <thead>
            <th>#</th>
            <th>N-CONTROL</th>
            <th>N-ORIGEN</th>
            <th>FECHA</th>
            <th>UNIDAD DE ORIGEN</th>
            <th>OBSERVACION</th>
          </thead>
          <tbody>
            <tr *ngFor="let e of lstNotaEntrega; let i=index;">
              <td>{{i + 1}}</td>
              <td align="center">{{e.numc }}</td>
              <td align="center">{{e.nori }}</td>
              <td align="center">{{e.fcre.substring(0,10) }}</td>
              <td>{{ e.udep | uppercase }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <br><br><br>

        NOTA:

        <br>

      </div>
      <div class="footer">
        <hr>
        Ministerio del Poder Popular para la Defensa<br>
        {{llave}}
      </div>
    </section>
  </div>
</div>


<!-- Alertas o plazos -->
<ng-template #alerta let-modal>
  <div class="modal-header bg-pastel-gradient">
    <h4 class="modal-title text-white" id="modal-basic-title">Extender Plazo</h4>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="detalles"></textarea>
    </div>

    <div class="form-group  col-md-12">
      <label for="tmsCreacion">Extender Plazo / Alerta</label>
      <div class="form-group" style="width:100%">
        <div class="input-group" style="width:100%">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="extender_plazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement"
            [positionTarget]="buttonEl">
          <div class="input-group-append">
            <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button"></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-pastel text-white" (click)="insertarObservacion();modal.close('Save')">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
    <button class="btn btn-pastel-cancel  text-white" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>