<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <ngx-ui-loader [loaderId]="'loader-estatus'"></ngx-ui-loader>
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-progress'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-11">
              <h6 class="text-uppercase text-muted ls-1 mb-1">PRINCIPAL</h6>
              <h2 class="mb-0">Estadisticas / General</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button
                    mat-icon-button
                    title="Volver Atrás"
                    onclick="history.back()"
                  >
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row" [ngStyle]="{ display: rtarjetas }">
            <div class="col-md-3" *ngFor="let item of staticsPanel">
              <div class="card {{ item.color }} order-card">
                <div class="card-block">
                  <h2 class="text-right text-white">
                    <i class="{{ item.icon + ' ' + item.class }}"></i
                    ><span>{{ item.label }}</span>
                  </h2>

                  <p class="m-b-0" style="font-size: 18px; font-weight: 800">
                    {{ getValueStaticsByStatus(item.status) }}
                    <span class="f-right" id="{{ 'is null' }}"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br />
          <form [formGroup]="form">
            <div class="row">
              <div class="col-md-11">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Graficas</h6>
                <h2 class="mb-0">Filtro / General</h2>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="form-group col-md-3">
                <select
                  class="form-control"
                  formControlName="options"
                  style="height: 50px; margin-top: 5px"
                >
                  <option value="0">TODAS LAS AREAS</option>
                  <option *ngFor="let item of lstAreasFilter" [value]="item.id">
                    {{ item.nomb | uppercase }}
                  </option>
                </select>
              </div>

              <div class="form-group col-md-3">
                <select
                  class="form-control"
                  formControlName="status"
                  style="height: 50px; margin-top: 5px"
                >
                  <option value="0">SELECCIONAR ESTATUS</option>
                  <option *ngFor="let e of lstEstatus" [value]="e.id">
                    {{ e.id }}
                  </option>
                </select>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-form-field" appearance="outline">
                  <mat-label>Rango del resuelto</mat-label>
                  <mat-date-range-input
                    [formGroup]="form"
                    [rangePicker]="fechaRangoPicker"
                    [comparisonStart]="form.value.start"
                    [comparisonEnd]="form.value.end"
                  >
                    <input
                      matStartDate
                      placeholder="Start date"
                      formControlName="start"
                    />
                    <input
                      matEndDate
                      placeholder="End date"
                      formControlName="end"
                    />
                  </mat-date-range-input>

                  <mat-datepicker-toggle
                    matSuffix
                    [for]="fechaRangoPicker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker
                    #fechaRangoPicker
                  ></mat-date-range-picker>
                </mat-form-field>
              </div>

              <div class="form-group col-md-2 text-left">
                <button
                  class="btn bg-primary text-white text-rigth"
                  style="height: 50px; margin-top: 5px"
                  (click)="sendFilter()"
                >
                  Consultar
                </button>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-5"></div>

              <div
                class="form-group col-md-3"
                *ngIf="listMonthWeek.length != 0"
              >
                <select
                  class="form-control"
                  formControlName="monthWeek"
                  style="height: 50px; margin-top: 5px"
                >
                  <option *ngFor="let e of listMonthWeek" [value]="e">
                    {{ e }}
                  </option>
                </select>
              </div>

              <div class="col-md-4"></div>
            </div>
          </form>
          <!-- <div class="row"> -->
            <div class="row">
              
                  <app-chart-bar
                    idChart="month"
                    [type]="chartType.Bar"
                    [dataSets]="dataSets1"
                    [labels]="labels1"
                    [options]="options"
                  ></app-chart-bar>
      
                  <app-chart-bar
                    idChart="week"
                    [type]="chartType.Bar"
                    [dataSets]="dataSets2"
                    [labels]="labels2"
                    [options]="options"
                  ></app-chart-bar>

                  <!-- aqui debe ir la tercera grafica -->
            </div>

            <!-- <table style="width: 100%;" class="zigzag" border="1">
                              <thead>
                                <tr style="height: 40px;"  >
                                  <th *ngFor="let e of lstHead"> {{e.id}}</th>

                                </tr>
                              </thead>
                              <tbody *ngIf="timonel">
                                <tr *ngFor="let e of lstDocumentosAux;let i=index;">
                                  <td>{{ i+1 }}</td>
                                  <td>{{ e.creacion | date:"dd/MM/yyyy" }}</td>
                                  <td>{{ e.asunto | uppercase }}</td>
                                  <td [innerHTML]="e.dependecia"></td>
                                  <td>{{ e.cant }}</td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="control">
                                <tr *ngFor="let e of lstDocumentosAux;let i=index;">
                                  <td>{{ i+1 }}</td>
                                  <td>{{ e.numero }}</td>
                                  <td>{{ e.creacion | date:"dd/MM/yyyy" }}</td>
                                   <td>{{ e.tipo | uppercase }}</td> -->
            <!-- <td [innerHTML]="e.contenido"></td>
                            <td>{{ e.estado_nombre | uppercase }}</td>
                            <td>{{ e.alerta | date:"dd/MM/yyyy" }}</td>
                            <td>{{ e.cant }}</td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="resolucion"></tbody>
                      </table> -->
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- Fin de Tarjeta Padre -->
<!-- </div> -->
