<br>
<div class="row">
  <div class="col-md-12 order-xl-2 mb-5 mb-xl-0">

    <h2 class="mb-0 text-center">HISTORIAL</h2>
    <div class="form-row">

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Datos Personales:</th>
            <th colspan="4">{{ data.cedula + ' - ' + data.nombres_apellidos }}</th>
          </tr>
          <tr>
            <th>Datos Militares</th>
            <th>Cargo que ocupa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.componente + ' ' + data.categoria + ' ' + data.clasificacion + ' ' + data.grado }}</td>
            <td>{{ nombramiento }}</td>
          </tr>
          <tr>
            <td colspan="2">{{ asunto }}</td>

          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 order-xl-2 mb-5 mb-xl-0">

    <h2 class="mb-0 text-center">RESOLUCIONES</h2>

    <div class="form-row">

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>NUMERO</th>
            <th>DESCRIPCION</th>
            <th>FECHA</th>
            <th>ASUNTO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of data.resoluciones">
            <td>{{ e.titulo | uppercase}}</td>
            <td>{{ e.tipo_descripcion | uppercase }}</td>
            <td>{{ e.fecha }}</td>
            <td>{{ e.asunto.substring(0,64) | uppercase }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Asunto</th>
          </tr>
        </thead>
      </table>
    </div>
    <br>

  </div>

</div>