<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row ">
                        <div class="col-md-10">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Reportes</h6>
                            <h2 class="mb-0">Ficha </h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>reply</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body">

                    <h2 class="mb-0 text-center">{{Proyecto.nombre | uppercase}}</h2>
                    <div class="form-row text-center">
                        <div class="form-group col-md-12">
                            <table summary="" class="table table-bordered table-hover">

                                <thead>
                                    <tr>
                                        <th data-priority="1" colspan="2"></th>
                                        <th data-priority="1" style="width: 550px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Número de Proyecto</th>
                                        <td >{{utilService.zfill(Proyecto.identificador, 4)}}</td>
                                    </tr>
                                    <tr>
                                        <th data-priority="1">Sistema</th>
                                        <td>{{Proyecto.sistema_armas}}</td>
                                    </tr>
                                    <tr>
                                        <th data-priority="1">Objeto</th>
                                        <td>{{Proyecto.objeto}}</td>
                                    </tr>
                                    <tr>
                                        <th data-priority="1">Empresa que ejecuta el proyecto</th>
                                        <td>{{Proyecto.empresa}}</td>
                                    </tr>
                                    <tr>
                                        <th data-priority="1">Lapso de ejecución del proyecto</th>
                                        <td>{{Proyecto.fecha_desde}}</td>
                                    </tr>
                                    <tr>
                                        <th data-priority="1">Monto del contrato</th>
                                        <td>{{Proyecto.monto_total}}&nbsp;{{Proyecto.moneda}}</td>
                                    </tr>
                                    <tr>
                                        <th data-priority="1">Monto pagado</th>
                                        <td>{{Proyecto.monto_pagado}}&nbsp;{{Proyecto.moneda}}</td>
                                    </tr>
                                    <tr>
                                        <th data-priority="1">Monto pendiente</th>
                                        <td>{{Proyecto.monto_deuda}}&nbsp;{{Proyecto.moneda}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>


                        <table summary="" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-priority="1" style="width: 10px;">Fechas y montos</th>
                                    <th data-priority="2">Ejecución Física</th>
                                    <th data-priority="3" style="width: 30px;">Observaciones</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-priority="1">Contenido</td>
                                    <td data-priority="2">Contenido</td>
                                    <td data-priority="3">Contenido</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group  col-md-12 text-justify" style="font-size: small; padding: 15px;"></div>
                        <table summary="" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-priority="1">Instrucciones</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="form-group  col-md-12 text-justify" [innerHTML]="Proyecto.observacion"
                            style="padding: 15px; border: 1px solid #ccc">
                        </div>
                        <br>

                        <!-- <table summary="" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-priority="1" colspan="5">Historial de Acciones</th>
                                </tr>
                                <tr>
                                    <th data-priority="1">Fecha</th>
                                    <th data-priority="1">Departamento</th>
                                    <th data-priority="1">Estado</th>
                                    <th data-priority="1">Observacion</th>
                                    <th data-priority="1">Responsable</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let e of lstTraza">
                                    <td>{{e.fecha | date:"dd-MM-yyyy" }}</td>
                                    <td>{{e.nombre_estado | uppercase }}</td>
                                    <td>{{e.nombre_estatus  | uppercase }}</td>
                                    <td>{{e.observacion  | uppercase }}</td>
                                    <td>{{e.usuario}}</td>
                                </tr>
                            </tbody>
                        </table> -->

                        <br><br>

                      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
