<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <ngx-ui-loader [loaderId]="'loader-estatus'"></ngx-ui-loader>
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-11">
              <h6 class="text-uppercase text-muted ls-1 mb-1">PRINCIPAL</h6>
              <h2 class="mb-0">Módulo de Reportes / General </h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-3">
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="areas"
                value="{{areas}}" style="height: 50px;margin-top: 5px;" (change)="selArea()">
                <option value="0">TODAS LAS AREAS</option>
                <option *ngFor="let e of lstAreas;" [value]="e.id">{{e.nomb | uppercase}}
                </option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="estatus"
                value="{{estatus}}" style="height: 50px;margin-top: 5px;">
                <option value="0">SELECCIONAR ESTATUS</option>
                <option *ngFor="let e of lstEstatus;" [value]="e.id">{{e.id}}
                </option>
              </select>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-form-field" appearance="outline">
                  <mat-label>Rango del resuelto</mat-label>
                  <mat-date-range-input [formGroup]="fechaRango"
                      [rangePicker]="fechaRangoPicker"
                      [comparisonStart]="fechaRango.value.start"
                      [comparisonEnd]="fechaRango.value.end">
                      <input matStartDate placeholder="Start date"
                          formControlName="start">
                      <input matEndDate placeholder="End date"
                          formControlName="end">
                  </mat-date-range-input>

                  <mat-datepicker-toggle matSuffix
                      [for]="fechaRangoPicker"></mat-datepicker-toggle>
                  <mat-date-range-picker
                      #fechaRangoPicker></mat-date-range-picker>
              </mat-form-field>
          </div>

            <div class="form-group col-md-2 text-left">
              <button class="btn bg-primary text-white text-rigth" (click)="Reporte()"  
                style="height: 50px;margin-top: 5px;">
                Consultar 
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <table style="width: 100%;" class="zigzag" border="1">
                <thead *ngIf="control">
                  <tr style="height: 40px;"  >
                    <th *ngFor="let e of lstHeadControl"> {{e.id}}</th>
                  </tr>
                </thead>
                <thead *ngIf="timonel">
                  <tr style="height: 40px;"  >
                    <th *ngFor="let e of lstHead"> {{e.id}}</th>
                  
                  </tr>
                </thead>
               
              
                <tbody *ngIf="control">
                  <tr *ngFor="let e of lstDocumentosAux;let i=index;">
                    <td>{{ i+1 }}</td>
                    
                    <td>{{ e.numero }}/{{ e.creacion | date:"dd/MM/yyyy" }}</td>
                    <td [innerHTML]="e.dependencia | uppercase" style="width: 300px;"></td>
                    <td>{{ "" | uppercase }}</td> 
                    <td [innerHTML]="e.contenido | uppercase" style="width: 300px;"></td>
                    <td>{{ "" | uppercase }}</td>
                   
                  </tr>
                </tbody>
                <tbody *ngIf="timonel">
                  <tr *ngFor="let e of lstDocumentosAux;let i=index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ e.creacion | date:"dd/MM/yyyy" }}</td>
                    <td [innerHTML]="e.contenido | uppercase"></td>
                    <td [innerHTML]="e.dependecia"></td>
                    <td>{{ e.contar }}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="resolucion"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de Tarjeta Padre -->
</div>