<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-10">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Control y Gestión</h6>
              <h2 class="mb-0">Salidas</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item" ngbDropdown placement="bottom-right">
                  <a class="nav-link pr-0" role="button" ngbDropdownToggle id="more">
                    <div class="media align-items-center">
                      <div class="example-button-row">
                        <button mat-icon-button aria-label="Example icon-button with a heart icon">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                    <a routerLinkActive="active" [routerLink]="['/documento/salida']" class="dropdown-item" id="salida">
                      <i class="fa fa-plus"></i>
                      <span>Nueva Salida</span>
                    </a>
                    <a routerLinkActive="active" [routerLink]="['/configuracion']" class="dropdown-item">
                      <i class="ni ni-settings-gear-65"></i>
                      <span>Configuración</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs"
          (selectedIndexChange)="seleccionNavegacion($event)">
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;RECIBIDAS
            </ng-template>

            <div style="margin-right: 10px; margin-left: 10px; padding:0px;">
              <mat-selection-list >
                <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1 texto-lista" >
                    
                    </div>
                    <div class="col-md-2 texto-lista">
                      NUM. CONTROL
                    </div>

                    <div class="col-md-2 texto-lista">
                      ORIGEN
                    </div>
                    <div class="col-md-3 texto-lista">
                      FECHA
                    </div>
                    <div class="col-md-2 texto-lista">
                      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xyear"
                        value="{{xyear}}" style="margin-top: -20px;">
                        <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                      </select>
                     
                    </div>
                    <div class="col-md-2 texto-lista">
                      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xmeses"
                      value="{{xmeses}}" style="margin-top: -20px;" (change)="seleccionNavegacion(0)">
                      <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                    </select>
                  </div>

                  </div>

                </mat-list>
              </mat-selection-list>
              <mat-selection-list #lstDocumentos>
                <mat-list *ngFor="let e of bzRecibido; let i=index "
                  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1">
                      <button mat-icon-button aria-label="Example " *ngIf="e.bOk" class="text-primary"
                        (click)="open(observacion, e.idd)">
                        <mat-icon>task_alt</mat-icon>
                      </button>
                      <button mat-icon-button aria-label="Example " *ngIf="!e.bOk" class="text-purple"
                        (click)="open(observacion, e.idd)">
                        <mat-icon>task_alt</mat-icon>
                      </button>

                    </div>
                    <div class="col-md-2 texto-lista">
                      <a routerLinkActive="active" [routerLink]="['/constancia', constancia( e.numc )]">{{ e.numc }}
                        &nbsp;<font color="green">{{ e.simbolo }}</font></a>
                    </div>
                    <div class="col-md-2 texto-lista">
                      {{ e.nori | uppercase }}
                    </div>
                    <div class="col-md-2 texto-lista">
                      {{ e.fcre | date:"dd/MM/yyyy" }}
                    </div>
                    <div class="col-md-4 texto-lista">
                      {{ e.udep | uppercase }}
                    </div>
                    <div class="col-md-1 text-right">
                      <button mat-icon-button aria-label="Privado">
                        <mat-icon *ngIf="e.priv" class="text-warning">no_encryption</mat-icon>
                      </button>

                    </div>
                  </div>
                </mat-list>
              </mat-selection-list>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event,0)" [pageSize]="pageSizeOfi"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>

          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;PROCESADAS
            </ng-template>
            <div  style="margin-right: 10px; margin-left: 10px; padding:0px;">
              <mat-selection-list >
                <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1">
                     
                    </div>
                    <div class="col-md-2 texto-lista">
                     NUMERO CONTROL
                    </div>

                    <div class="col-md-2 texto-lista">
                      FECHA / ORIGEN
                    </div>
                    <div class="col-md-3 texto-lista">
                      UNIDAD DEPENDENCIA
                    </div>
                    <div class="col-md-2 texto-lista">
                      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xyear"
                        value="{{xyear}}" style="margin-top: -20px;">
                        <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                      </select>
                     
                    </div>
                    <div class="col-md-2 texto-lista">
                      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xmeses"
                      value="{{xmeses}}" style="margin-top: -20px;" (change)="seleccionNavegacion(0)">
                      <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                    </select>
                  </div>

                  </div>

                </mat-list>
              </mat-selection-list>
              <mat-selection-list #lstProcesados>
                <mat-list *ngFor="let e of bzProcesados; let i=index "
                  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1">
                      <button mat-icon-button aria-label="Visibilidad" *ngIf="e.salida">
                        <mat-icon class="text-primary" (click)="open(observacion, e.idd)">add_circle</mat-icon>
                      </button>
                    </div>

                    <div class="col-md-2 texto-lista">
                      <a routerLinkActive="active" [routerLink]="['/constancia', constancia( e.numc )]">{{ e.numc |
                        uppercase}} &nbsp;<font color="green">{{ e.simbolo }}</font></a>
                    </div>
                    <div class="col-md-2 texto-lista">
                      {{ e.fcre | date:"dd-MM-yyyy" }}
                    </div>
                    <div class="col-md-5 texto-lista">
                      {{ e.udep | uppercase }} ({{ e.observacion_accion | uppercase }})
                    </div>
                    <div class="col-md-2 text-right" style="margin-top:-20px">
                      <button mat-icon-button aria-label="Privado">
                        <mat-icon *ngIf="e.priv" class="text-warning">no_encryption</mat-icon>
                      </button>
                      <button mat-icon-button aria-label="Generar Salida" (click)="editar(e.numc, e.url)">
                        <mat-icon class="text-gray">edit_note</mat-icon>
                      </button>
                      <button mat-icon-button aria-label="Adjuntar" (click)="open(adjuntar, e.numc)">
                        <mat-icon class="text-gray">attach_file</mat-icon>
                      </button>
                      <button mat-icon-button aria-label="Eliminar" (click)="eliminar(e.numc, e.idd)">
                        <mat-icon class="text-gray">delete_outline</mat-icon>
                      </button>

                    </div>
                  </div>
                </mat-list>
              </mat-selection-list>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event,1)" [pageSize]="pageSizeOfi"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>

          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;PENDIENTES
            </ng-template>

            <div  style="margin-right: 10px; margin-left: 10px; padding:0px;">
              <mat-selection-list >
                <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1">
                     
                    </div>
                    <div class="col-md-2 texto-lista">
                     NUMERO CONTROL
                    </div>

                    <div class="col-md-2 texto-lista">
                      FECHA / ORIGEN
                    </div>
                    <div class="col-md-3 texto-lista">
                      UNIDAD DEPENDENCIA
                    </div>
                    <div class="col-md-2 texto-lista">
                      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xyear"
                        value="{{xyear}}" style="margin-top: -20px;">
                        <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                      </select>
                     
                    </div>
                    <div class="col-md-2 texto-lista">
                      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xmeses"
                      value="{{xmeses}}" style="margin-top: -20px;" (change)="seleccionNavegacion(0)">
                      <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                    </select>
                  </div>

                  </div>

                </mat-list>
              </mat-selection-list>
              <mat-selection-list #lstPendientes>
                <mat-list *ngFor="let e of bzPendientes; let i=index "
                  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-1">
                      <button mat-icon-button aria-label="Visibilidad">
                        <mat-icon class="text-warning" (click)="open(observacion, e.idd)">logout</mat-icon>
                      </button>
                    </div>

                    <div class="col-md-2 texto-lista">
                      <a routerLinkActive="active" [routerLink]="['/constancia', constancia( e.numc )]">{{ e.saso | uppercase }}
                        &nbsp;<font color="green">{{ e.simbolo }}</font></a>
                    </div>
                    <div class="col-md-4 texto-lista">
                      {{ e.udep | uppercase }}
                    </div>
                    <div class="col-md-3 texto-lista text-justify">
                      {{ e.nombre_accion | uppercase }}
                    </div>


                    <div class="col-md-2 text-right">
                      <button mat-icon-button aria-label="Privado">
                        <mat-icon  class="text-gray" (click)="mensajeReversarDoc(e.idd)" >history</mat-icon>
                      </button>

                      <button mat-icon-button aria-label="Adjuntar" (click)="open(adjuntar, e.numc)">
                        <mat-icon class="text-gray">attach_file</mat-icon>
                      </button>
                     

                    </div>
                  </div>
                </mat-list>
              </mat-selection-list>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event,2)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              &nbsp;ALERTAS
            </ng-template>

            <div class="container">
              <mat-selection-list #lstAlertas>
                <mat-list *ngFor="let e of bzAlertas; let i=index "
                  style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                  <div class="row">
                    <div class="col-md-2 texto-lista">
                      <a routerLinkActive="active" [routerLink]="['/constancia', constancia( e.ncontrol )]">{{
                        e.ncontrol | uppercase }} &nbsp;<font color="green">{{ e.simbolo }}</font></a>
                    </div>
                    <div class="col-md-3 texto-lista">
                      {{ e.unidad | uppercase }}
                    </div>
                    <div class="col-md-2 texto-lista">
                      {{ e.plazo | date:"dd-MM-yyyy" }}
                    </div>
                    <div class="col-md-3 texto-lista  {{ e.color }}">
                      {{ e.texto | uppercase }}
                    </div>
                    <div class="col-md-2 text-center">
                      <button mat-icon-button aria-label="Privado">
                        <mat-icon class="text-warning" (click)="editar(e.num, e.url)">repeat</mat-icon>
                      </button>
                      <button mat-icon-button aria-label="Privado">
                        <mat-icon class="text-warning" (click)="open(alerta, e.id_alerta)">today</mat-icon>
                      </button>

                    </div>
                  </div>
                </mat-list>
              </mat-selection-list>
            </div>

            <mat-paginator [length]="longitud" (page)="pageChangeEvent($event,3)" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" aria-label="Seleccionar">
            </mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>


<ng-template #observacion let-modal>
  <div class="modal-header header bg-gradient-info">
    <h4 class="modal-title text-white" id="modal-basic-title">Acciones Generales</h4>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="Observacion"></textarea>
    </div>
    <div class="form-group  col-md-12">
      <label>Acción</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="AccionTexto"
        (change)="selAccion()" value="{{AccionTexto}}">
        <option value="0">Seleccione</option>
        <option *ngFor="let e of lstAcciones" value="{{e.valor}}">{{e.texto}}</option>
      </select>

    </div>
    <div class="form-group  col-md-12" *ngIf="clasificacion">
      <label>Area</label>
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cmbDestino"
        value="{{cmbDestino}}">
        <option value="0">Seleccione</option>
        <option *ngFor="let x of lstEstados" value="{{ x.id }}">{{ x.nomb }}</option>
      </select>
    </div>

    <div class="form-row col-md-12" *ngIf="archivar">
      <div class="form-group col-md-6">
        <label for="">Código de Archivo</label>
        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="codigo"
          value="{{codigo}}" id="cod">
          <option value="0">Seleccione</option>
          <option *ngFor="let x of lstCA" value="{{x.nomb}}">{{ x.nomb }} -- {{ x.obse }}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="">Expediente</label>
        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="nexpediente"
          value="{{ nexpediente }}">
      </div>
    </div>

    <div class="form-group  col-md-12" *ngIf="vplazo">
      <label for="tmsCreacion">Plazo / Alerta</label>
      <div class="form-group" style="width:100%">
        <div class="input-group" style="width:100%">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="extender_plazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement"
            [positionTarget]="buttonEl" readonly>
          <div class="input-group-append">
            <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button"></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-info text-white " (click)="insertarObservacion();modal.close('Save')">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
    <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>



<!-- Adjuntar Imagenes al Documento -->
<ng-template #adjuntar let-c="close" let-d="dismiss">
  <div class="modal-header header bg-gradient-success">
    <h4 class="modal-title" id="modal-basic-title">Cargar Archivo en {{ numControl }}</h4>

  </div>
  <div class="modal-body">


    <form method="post" enctype="multipart/form-data" id="forma" name="forma">
      <input type="hidden" name="identificador" value="{{hashcontrol}}" readonly="readonly">
      <label for="input-folder-2">Seleccionar Archivo</label>
      <div class="file-loading">
        <input (change)="fileSelected($event)" class="file-input" name="archivos" type="file" accept=".pdf">
      </div>
      <div id="errorBlock" class="help-block"></div>
    </form>



  </div>
  <div class="modal-footer">
    <button class="btn bg-gradient-success text-white " (click)="SubirArchivo();c('Save')">
      <span class="fa fa-upload"></span>&nbsp;&nbsp;Enviar Archivos </button>
    <button class="btn btn-warning" aria-label="Close" (click)="c('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>




<!-- Alertas o plazos -->
<ng-template #alerta let-modal>
  <div class="modal-header header bg-gradient-pink">
    <h4 class="modal-title text-white" id="modal-basic-title">Extender Plazo</h4>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <label for="txtobservacion">Observaciones</label>
      <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="detalles"></textarea>
    </div>

    <div class="form-group  col-md-12">
      <label for="tmsCreacion">Extender Plazo / Alerta</label>
      <div class="form-group" style="width:100%">
        <div class="input-group" style="width:100%">
          <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="extender_plazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement"
            [positionTarget]="buttonEl">
          <div class="input-group-append">
            <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button"></button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="modal-footer">
    <button class="btn bg-gradient-info text-white " (click)="insertarObservacion();modal.close('Save')">
      <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
    <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
      <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
  </div>
</ng-template>