<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-11">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Control y Gestión</h6>
              <h2 class="mb-0">Seguimiento</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card-body">

          <div class="container">
            <div class="row">
              <div class="col-md-3 text-right">

              </div>
              <div class="col-md-6 text-center">

                <form class="navbar-search">
                  <div class="form-group" [ngClass]="{ 'focused': focus === true }">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                      </div>
                      <input class="form-control" placeholder="Buscar" type="text" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="buscar" value="{{buscar}}" (keypress)="seleccionLista($event)"
                        (focus)="focus = true" (blur)="focus = false">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-sliders"></i></span>
                      </div>

                    </div>
                  </div>
                </form>

              </div>
              <div class="col-md-3">

              </div>

            </div>

          </div>


          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- <mat-selection-list #lstProcesados>
                  <mat-list *ngFor="let e of bzSeguimiento; let i=index "
                    style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                    <div class="row">
                      <div class="col-md-2 texto-lista">
                        <a  routerLinkActive="active"  [routerLink]="['/constancia', constancia( e.numc )]">{{ e.numc }} &nbsp;<font color="{{e.color}}">{{ e.simbolo }}</font></a>
                      </div>
                      <div class="col-md-2 texto-lista">
                        {{ e.origen | date:"dd-MM-yyyy" }} | {{ e.norigen | uppercase }}
                      </div>
                      <div class="col-md-4 texto-lista">
                        {{ e.nombre | uppercase }} ( {{ e.estatus_nombre | uppercase }} )
                      </div>
                      <div class="col-md-3 texto-lista">
                        {{ e.unidad | uppercase }}
                      </div>
                      <div class="col-md-1 texto-lista">
                        {{ e.salida | uppercase }}
                      </div>
                    </div>
                  </mat-list>
                </mat-selection-list> -->



                
                    <div class="container">
                      <br>
                      <small class="mr-5" style="font-size: 16px;" *ngIf="blBuscar">
                        Cerca de {{ cantidad | number }} resultados...
                      </small>
                      <br>
                      <div class="row enlace" *ngFor="let e of bzSeguimiento; let i=index ">
                        
                          <div class="col-md-8">
                            <a routerLinkActive="active"  
                                [routerLink]="['/constancia', constancia( e.numc )]">
                                {{ e.numc }} - {{ e.tdoc }}
                            </a> 
                            | {{ e.origen | date:"dd-MM-yyyy" }}
                          </div>
                          <div class="col-md-4 text-right">
                      
                            <span class="badge rounded-pill text-bg-primary">pdf</span>

                                <a [href]="dwUrl(e.numc, e.archivo)" target="_top"
                                rel="noopener noreferrer" style="color:darkgrey;font-size: 12px;font-weight: normal;">
                                 
                                    
                                    {{ e.archivo.substring(0,10) }}
                                    <img  src="./assets/img/theme/pdf2.jpeg" alt="Descargar archivo" style="width: 12px;margin-top: -3px;"/>
                                </a>
                          </div>
                      
                        
                          <div class="col-md-12" style="margin-top: -4px;">



                        
                            <!-- <button type="button" class="btn btn-outline-secondary me-2" placement="top"
                                    ngbPopover="{{ e.contenido }}" popoverTitle="Detalles generales">
                              General
                            </button> -->

                            <ng-template #popContent >
                              <div class="row">
                                <!-- <div class="col-md-4">{{ e.unidad }}</div> -->
                                <div class="col-md-12">
                                  <div [innerHTML]="e.contenido" class="contenido"></div>

                                
                                </div>
                              </div>
                            </ng-template>
                            <!-- <ng-template #popTitle>{{ e.numc }}</ng-template> -->
            
                            {{ e.unidad }} <button mat-button
                              [ngbPopover]="popContent" 
                              popoverTitle="Detalles generales">
                              
                              Mas...
                            </button>
                            <div [innerHTML]="e.resumenl"  class="contenido"></div>

                            <p style="margin-top: -10px;" >
                              <small class=" mr-3"><i class="fa fa-calendar"></i>&nbsp;{{ e.fecha | date:"dd-MM-yyyy hh:mm" }}</small>
                              <small class=" mr-3"><i class="fa fa-map-pin"></i> &nbsp; ORIGEN {{ e.norigen | uppercase }}</small>
                              <small class=" mr-3"><i class="fa fa-folder"></i> &nbsp; SALIDA {{ e.salida | uppercase }}</small>
                      
                              <small class=" mr-4"><i class="fa fa-globe"></i> &nbsp;
                                {{ e.nombre | uppercase }} ( {{ e.estatus_nombre | uppercase }} {{ e.s_texto }} )
                              </small>
                            </p>
                            
                          
                          </div>
                        <!-- <div class="col-md-2"></div> -->
                        
                      </div>
                    </div>
                




              </div>






            </div>
         

            <br><br>
            <div class="row">

              <div class="col-md-3"></div>
              <div class="col-md-6 text-center">
                <nav aria-label="Page navigation example" *ngIf="blBuscar">

                  <div class="row">
                    <div class="col-md-1">
                      <ul class="pagination justify-content-center">
                        <li class="page-item">
                          <a class="page-link" *ngIf="antes" (click)="posicion(actual-1)">
                            < </a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-10">
                      <ul class="pagination justify-content-center">
                        <li class="page-item" *ngFor="let e of lstPaginas">
                          <a class="page-link {{ e.color }}" (click)="posicion(e.id)">{{ e.id }}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-1">
                      <ul class="pagination justify-content-center">
                        <li class="page-item">
                          <a class="page-link" *ngIf="despues" (click)="posicion(actual+1)">></a>
                        </li>
                      </ul>
                    </div>
                  </div>


                </nav>
              </div>
              <div class="col-md-3"></div>
            </div>



          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Fin de Tarjeta Padre -->
  <br><br> <br> <br>
</div>







