<div class="header bg-pastel-gradient pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-4">
              <h6 class="text-uppercase text-muted ls-1 mb-1">
                Buscador General
              </h6>
              <h2 class="mb-0">Seguimiento de Documentos       </h2>


            </div>
            <div class="col-md-7">
              <div class="div-radio-avanzado">
                <mat-radio-group class="mat-radio" [(ngModel)]="opttodos" color="primary">
                  <mat-radio-button value="0"> TODAS </mat-radio-button>
                  <mat-radio-button value="1"> ENTRADA </mat-radio-button>
                  <mat-radio-button value="2"> SALIDA </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card-body">
            <div class="form-row formulario">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label-custom">CONTENIDO GENERAL</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text icon-box"><mat-icon class="input-icon">description</mat-icon></span>
                    </div>
                    <input type="text" class="input-custom" placeholder="CONTENIDO GENERAL"
                      [ngModelOptions]="{ standalone: true }" [(ngModel)]="contenidoDocumento" (keypress)="consultarDocument($event)">
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="form-label-custom">TIPO</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text icon-box"><mat-icon class="input-icon">category</mat-icon></span>
                    </div>
                    <select class="input-custom" [(ngModel)]="tipoDocumento" (change)="onTipoDocumentoChange($event)">
                      <option value="0" selected>SELECCIONE</option>
                      <option value="1"> NRO. CEDULA</option>
                      <option value="2"> NRO. CONTROL</option>
                      <option value="3"> NRO. ORIGEN</option>
                      <option value="4"> NRO. SALIDA</option>
                      <option value="5"> NOMBRES APELLIDOS</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="form-label-custom">{{ numeroPlaceholder }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text icon-box"><mat-icon class="input-icon">search</mat-icon></span>
                    </div>
                    <input type="text" class="input-custom" placeholder="{{ numeroPlaceholder }}"
                      [ngModelOptions]="{ standalone: true }" [(ngModel)]="buscar" (keypress)="consultarDocument($event)">
                  </div>
                </div>
              </div>

              
              <div class="col-md-2">
                <div class="form-group">
                  <label class="form-label-custom">&nbsp;</label>
                  <button class="btn btn-pastel text-white btn-block input-custom" (click)="buscarDocumento()" id="registrar">
                    <mat-icon class="input-icon text-white" style="vertical-align: middle;">search</mat-icon> Buscar
                  </button>
                </div>
              </div>

              <div class="col-md-1">
                <div class="form-group">
                  <label class="form-label-custom">&nbsp;</label>
                  <ul class="navbar-nav align-items-center d-md-flex nabvar">
                  <li class="nav-item" ngbDropdown placement="bottom-right" container="body">
                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                        <div class="media align-items-center">
                            <div class="example-button-row">
                                <button mat-icon-button
                                    aria-label="Example icon-button with a heart icon">
                                    <mat-icon class="input-icon" style="color: #5eaaa8;">more_vert</mat-icon>
                                </button>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                        <a #container (click)="open(busqueda_avanzada)"
                            class="dropdown-item">
                            <mat-icon class="input-icon mr-2" style="color: #5eaaa8;">tune</mat-icon>
                            <span>Opciones Avanzada</span>
                        </a>

                    </div>
                  </li>
                </ul>
                </div>
              </div>


            </div>
          </div>




        </div>
        <div *ngIf="vistacontenido">
        <div *ngIf="!cargador">
          <h3 class="text-center">Cargando información...</h3>
        </div>

        <div *ngIf="sinDatos">
          <h3 class="text-center">No exiten datos para la busqueda...</h3>
        </div>
        
        <div class="row" *ngIf="cargador">
          <div class="card-body">
            
            <div class="col-md-12">
              <div class="row enlace" *ngFor="let e of bzSeguimiento; let i = index">
                <div class="col-md-8">
                  <a routerLinkActive="active" [routerLink]="['/constancia', constancia( e.id )]">
                    {{ e.numc }} - {{ e.tdoc }}
                  </a>
                  | CREADO {{ e.fecha | date : "dd/MM/yyyy hh:mm:ss" }}
                </div>
                <div class="col-md-4 text-right">
                  <span class="badge rounded-pill text-bg-primary">pdf</span>

                  <a [href]="dwUrl(e.numc, e.archivo)" target="_top" rel="noopener noreferrer"
                    class="texto-detalle-pdf">
                    {{ e.archivo.substring(0, 10) }}
                    <img src="./assets/img/theme/pdf2.jpeg" alt="Descargar archivo" class="imagen-pdf" />
                  </a>
                </div>

                <div class="col-md-12 contenedor-documento">
                  <ng-template #popContent>
                    <div class="row">
                      <div class="col-md-12">
                        <div [innerHTML]="e.contenido" class="contenido"></div>
                      </div>
                    </div>
                  </ng-template>
                  {{ e.unidad }}
                  <button mat-button [ngbPopover]="popContent" popoverTitle="Detalles generales">
                    Mas...
                  </button>
                  <div [innerHTML]="e.resumenl" class="contenido"></div>
                  <br>
                  <p class="fecha-documento">
                    <small class="mr-3"><i class="fa fa-calendar"></i>&nbsp;FECHA ORIGEN {{
                      e.origen | date : "dd/MM/yyyy"
                      }}</small>
                    <small class="mr-3"><i class="fa fa-map-pin"></i> &nbsp;NÚM. ORIGEN
                      {{ e.norigen | uppercase }}</small>
                   

                    <small class="mr-4"><i class="fa fa-globe"></i> &nbsp;
                      {{ e.nombre | uppercase }} (
                      {{ e.estatus_nombre | uppercase }} {{ e.s_texto }} )
                    </small>

                    <small class="mr-3" *ngIf="e.salida!=''"><i class="fa fa-folder"></i> &nbsp; SALIDA
                      {{ e.salida | uppercase }}</small>
                  </p>
                </div>

                <br /><br />


              </div>
            </div>

            <br><br>
            <div class="col-md-12 text-center">
              <nav aria-label="Page navigation example" *ngIf="blBuscar">
                <div class="row">
                  <div class="col-md-1">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" *ngIf="antes" (click)="posicion(actual - 1)"><</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-10">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" *ngFor="let e of lstPaginas">
                        <a class="page-link {{ e.color }}" (click)="posicion(e.id)">{{ e.id }}</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-1">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" *ngIf="despues" (click)="posicion(actual + 1)">></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>


          </div>
        </div>
      </div>
      </div>
    </div>
  </div>




  <ng-template #busqueda_avanzada class="template-avanzado" #adjuntar let-c="close" let-d="dismiss">
    <div class="modal-header form-group col-md-11 boton-avanzado">
      <h1 class="modal-title">Busqueda Avanzada</h1>
    </div>

    <div class="modal-body modal-avanzado">
      <div class="form-row">
        <div class="col-md-6">
          <mat-form-field class="example-form-field" appearance="outline">
            <mat-label>Rango del resuelto</mat-label>
            <mat-date-range-input [formGroup]="fechaRango" [rangePicker]="fechaRangoPicker"
              [comparisonStart]="fechaRango.value.start" [comparisonEnd]="fechaRango.value.end">
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>

            <mat-datepicker-toggle matSuffix [for]="fechaRangoPicker"></mat-datepicker-toggle>
            <mat-date-range-picker #fechaRangoPicker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <div class="col-md-6 div-radio-avanzado">
          <mat-radio-group class="mat-radio" [(ngModel)]="optfecha" color="primary">
            <mat-radio-button value="0"> CREACION </mat-radio-button>
            <mat-radio-button value="1"> ORIGEN </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-md-4" *ngIf="mostrarCamposAdicionales">
          <div class="form-group">
            <label class="form-label-custom">TIPO DE DOCUMENTO</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text icon-box"><mat-icon class="input-icon">category</mat-icon></span>
              </div>
              <select class="input-custom" [ngModelOptions]="{ standalone: true }" [disabled]="activarTipo"
                [(ngModel)]="Doc.tipo" (change)="selTipoDocumento()" id="tdoc">
                <option value="0">SELECCIONE</option>
                <option *ngFor="let x of lstT" value="{{ x.nomb }}">{{ x.nomb }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="mostrarCamposAdicionales">
          <div class="form-group">
            <label class="form-label-custom">REMITENTE</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text icon-box"><mat-icon class="input-icon">person</mat-icon></span>
              </div>
              <select class="input-custom" [ngModelOptions]="{ standalone: true }" [(ngModel)]="Doc.remitente" id="remi">
                <option value="0">SELECCIONE</option>
                <option *ngFor="let x of lstR" value="{{ x.nomb }}">{{ x.nomb }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6" *ngIf="mostrarCamposAdicionales">
          <div class="form-group">
            <label class="form-label-custom">UNIDAD O DEPENDENCIA</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text icon-box"><mat-icon class="input-icon">account_balance</mat-icon></span>
              </div>
              <select class="input-custom" [ngModelOptions]="{ standalone: true }" [(ngModel)]="Doc.unidad" id="unid">
                <option value="0">SELECCIONE</option>
                <option *ngFor="let x of lstU" value="{{ x.nomb }}">{{ x.nomb }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6" *ngIf="mostrarCamposAdicionales">
          <div class="form-group">
            <label class="form-label-custom">COMPONENTE / GRAN COMANDO</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text icon-box"><mat-icon class="input-icon">security</mat-icon></span>
              </div>
              <select class="input-custom" [ngModelOptions]="{ standalone: true }" [(ngModel)]="Doc.comando" id="coma">
                <option value="0">SELECCIONE</option>
                <option *ngFor="let x of lstC" value="{{ x.nomb }}">{{ x.nomb }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="mostrarCamposAdicionales">
        <div class="col-md-6 div-contenido-oficio">
          <div class="form-group">
            <label class="form-label-custom">CONTENIDO DEL OFICIO</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text icon-box"><mat-icon class="input-icon">subject</mat-icon></span>
              </div>
              <textarea class="input-custom" [(ngModel)]="Doc.contenido" rows="3"></textarea>
            </div>
          </div>
        </div>

        <div class="col-md-6 div-instrucciones-general">
          <div class="form-group">
            <label class="form-label-custom">INSTRUCCIONES GENERALES</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text icon-box"><mat-icon class="input-icon">rule</mat-icon></span>
              </div>
              <textarea class="input-custom" [(ngModel)]="Doc.instrucciones" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <mat-hint class="boton-mostrar-mas-avanzado">
          <span (click)="activarCamposAdicionales()">
            {{ mostrarBotonOcultar ? "Ocultar" : "Ver más" }}
            <i class="fa" [ngClass]="
              mostrarBotonOcultar ? 'fa-eye-slash' : 'fa-eye'
            " aria-hidden="true"></i>
          </span>
        </mat-hint>
      </div>

      <div class="modal-footer div-modal-footer">
        <!-- align="end" -->
        <button  id="registrar"  (click)="searchAndCloseModal()" class="btn btn-pastel text-white">
          <span class="fa fa-check"></span>&nbsp;&nbsp;Buscar
        </button>

        <button  aria-label="Close" (click)="close()" class="btn btn-pastel-cancel text-white">
          <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar
        </button>
      </div>
    </div>
  </ng-template>                                   