<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main" style="min-height: 100vh; overflow-y: auto;">
  <div class="container-fluid">
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <div style="margin-left: 0%;">
        <img src="./assets/img/brand/mppd.png" style="height: 70px;" alt="...">
      </div>
    </a>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{ menuItem.icon + ' ' }}"></i>
            {{menuItem.title}}
          </a>
        </li>
      </ul>
      <hr class="my-3">
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>
