<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Publicaciones</h6>
                            <h2 class="mb-0">Resoluciones publicadas</h2>
                        </div>
                        <div class="col-md-1 text-right">
                            <div class="media align-items-center">

                            </div>
                        </div>
                        <div class="col-md-1 text-right"></div>
                        <div class="col-md-1 text-right">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" (click)="irAnterior()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card-body">




                    <mat-tab-group mat-stretch-tabs dynamicHeight>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                &nbsp;RECIBIDOS
                            </ng-template>
                            <ngx-ui-loader [loaderId]="'ldbuzon'"></ngx-ui-loader>

                            <div class="example-large-box mat-elevation-z4">
                           

                                
                                <mat-selection-list style="padding: 15px; width: 100%;">

                                    <mat-list
                                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid; height: 45px;">
                                        <div class="row" style="margin-top:-10px">
                                          
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3 texto-lista">
                                                NUMERO / FECHA

                                            </div>
                                          

                                            <div class="col-md-4 texto-lista">
                                                ASUNTO
                                            </div>
                                            <div class="col-md-2 texto-lista">
                                                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xyear"
                                                  value="{{xyear}}" style="margin-top: -15px;">
                                                  <option *ngFor="let e of lstYear;" [value]="e.id">{{e.year}}</option>
                                                </select>
                                               
                                              </div>
                                              <div class="col-md-2 texto-lista">
                                                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="xmeses"
                                                value="{{xmeses}}" style="margin-top: -15px;" (change)="seleccionNavegacion(0)">
                                                <option *ngFor="let e of lstMeses;" [value]="e.id">{{e.mes}}</option>
                                              </select>
                                            </div>

                                        </div>

                                    </mat-list>
                                </mat-selection-list>

                                <mat-selection-list style="margin-top: -10px;padding: 15px; width: 100%;">
                                    <mat-list *ngFor="let e of bzRecibidoResumen; let i=index "
                                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                                        <div class="row">
                                            <div class="col-md-1">
                                                &nbsp;&nbsp;<font style="font-weight: bold;"> {{ i +
                                                    1}} </font>
                                            </div>
                                            <div class="col-md-2 texto-lista">
                                                &nbsp;<font color="{{e.color}}">{{ e.simbolo }} / {{ e.fcre | date:"dd/MM/yyyy" }}</font>
                                            </div>

                                            <div class="col-md-6 texto-detalle" #tooltip="matTooltip"
                                                matTooltip="{{ e.cont | uppercase}}">
                                                {{ e.udep | uppercase }}
                                            </div>
                                            <div class="col-md-1 text-right">
                                                <a [href]="dwUrl(e.numc, e.anom)" target="_top"
                                                    rel="noopener noreferrer"
                                                    style="color:darkgrey;font-size: 18px;font-weight: normal;">
                                                    <img src="./assets/img/theme/pdf2.jpeg" alt="Descargar archivo"
                                                        style="width: 20px;margin-top: 4px;" />
                                                </a>
                                            </div>

                                        </div>


                                    </mat-list>
                                </mat-selection-list>

                            </div>
                        </mat-tab>
                    </mat-tab-group>




















                </div>
            </div>
        </div>

    </div>
</div>