<!-- Adjuntar Imagenes al Documento -->
<ng-template #frmEntrada let-c="close" let-d="dismiss">
    <div class="modal-body">

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab>
                <ng-template mat-tab-label>
                    &nbsp;VISTA GENERAL
                </ng-template>
                <div class="example-large-box " style="margin: 0px;padding: 15px;">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label-custom">Cuenta u Oficio</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">tag</mat-icon></span>
                                </div>
                                <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="cuenta" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label-custom">Digital</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">cloud_download</mat-icon></span>
                                </div>
                                <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="digital" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label-custom">Documento</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">description</mat-icon></span>
                                </div>
                                <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="documento" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label-custom">Tipo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">category</mat-icon></span>
                                </div>
                                <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="tipo_entrada" readonly>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-5">
                            <label class="form-label-custom">Estatus</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">info</mat-icon></span>
                                </div>
                                <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="estatus_entrada" readonly>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-5">
                            <label class="form-label-custom">Carpeta</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">folder</mat-icon></span>
                                </div>
                                <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="carpeta_entrada" readonly>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <label class="form-label-custom">Número Carpeta</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">format_list_numbered</mat-icon></span>
                                </div>
                                <input type="text" class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="numero" readonly>
                            </div>
                        </div>
            
                        <div class="form-group col-md-12">
                            <label class="form-label-custom">Asunto</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">subject</mat-icon></span>
                                </div>
                                <textarea class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="asunto_entrada" readonly></textarea>
                            </div>
                        </div>
            
                        <div class="form-group col-md-12">
                            <label class="form-label-custom">Observacion</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text icon-box"><mat-icon class="input-icon">comment</mat-icon></span>
                                </div>
                                <textarea class="input-custom" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="observacion_entrada" readonly></textarea>
                            </div>
                        </div>
            
                    </div>
            
            
            
                    <div class="form-row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover">
            
                                <thead>
                                    <tr style="background-color: #CCC">
                                        <th style="text-align: center;">RESPONSABLE</th>
                                        <th style="text-align: center;">FECHA CREACION</th>
            
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">{{responsable_entrada}}</td>
                                        <td style="text-align: center;">{{modificado_entrada}}</td>
            
                                    </tr>
                                    <tr style="background-color: #CCC">
                                        <th style="text-align: center;">REGISTRADO POR</th>
                                        <th style="text-align: center;">FECHA REGISTRO</th>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;">{{registrado_entrada}}</td>
                                        <td style="text-align: center;">{{modificado_entrada}}</td>
            
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    &nbsp;HISTORICO DE VERSIONES
                </ng-template>
                <div class="example-large-box " style="margin: 0px;padding: 15px;">
                </div>
         </mat-tab>
        </mat-tab-group>

    </div>
    <div class="modal-footer">
        <button class="btn btn-pastel text-white " (click)="c('Save')">
            <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>

    </div>
</ng-template>



<div class="header bg-pastel-gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>
<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center" style="margin: -10px;">
                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Consulta General</h6>
                            <h2 class="mb-0">Consultas Generales</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" (click)="volver()" *ngIf="valEdit">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()" *ngIf="!valEdit">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">

                        <div class="col-md-12">
                            <app-eresoluciones *ngIf="valEdit" [resolucion]="input_resoluciones"></app-eresoluciones>
                        </div>

                        <div class="col-md-12" *ngIf="!valEdit">
                            <ngx-ui-loader [loaderId]="'loader-buscar'"></ngx-ui-loader>
                            
                                
                                    <div *ngIf="blEditor" class="example-large-box " style="margin: 0px;padding: 15px;">
                                        <app-rscdatosbasicos EDITOR="{{EDITOR}}"></app-rscdatosbasicos>
                                    </div>
                                    <div *ngIf="blEspecifico" class="example-large-box "
                                        style="margin: 0px;padding: 15px;">



                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text icon-box">
                                                            <mat-icon class="input-icon">badge</mat-icon>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="input-custom" placeholder="Nombre completo"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="nombre"
                                                        (keypress)="consultarNombre($event);">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text icon-box">
                                                            <mat-icon class="input-icon">security</mat-icon>
                                                        </span>
                                                    </div>
                                                    <select class="input-custom" [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="dbcomponente">
                                                        <option value="%">TODOS</option>
                                                        <option *ngFor="let e of Componentes;" [value]="e.cod_componente">{{e.nombre_componente}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text icon-box">
                                                            <mat-icon class="input-icon">military_tech</mat-icon>
                                                        </span>
                                                    </div>
                                                    <select class="input-custom" [ngModelOptions]="{standalone: true}" [(ngModel)]="dbgrado">
                                                        <option value="%">TODOS</option>
                                                        <option *ngFor="let e of Grados" value="{{e.cod_grado}}">{{e.nombre_corto }} - {{e.nombres_grado }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <button class="btn btn-pastel text-white w-100" (click)="verificarNombre()">
                                                    <span class="d-flex align-items-center justify-content-center">
                                                        <mat-icon class="mr-1" style="font-size: 18px; width: 18px; height: 18px;">search</mat-icon> Consultar
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text icon-box">
                                                            <mat-icon class="input-icon">fingerprint</mat-icon>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="input-custom" placeholder="Cédula"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="cedula"
                                                        (keypress)="consultarCedula($event)">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text icon-box">
                                                            <mat-icon class="input-icon">tag</mat-icon>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="input-custom" placeholder="Numero de resuelto"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="IResolucion.numero" value="{{IResolucion.numero}}"
                                                        (keypress)="consultarResolucion($event)">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text icon-box">
                                                            <mat-icon class="input-icon">description</mat-icon>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="input-custom" placeholder="Numero de Orden General">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <button class="btn btn-pastel text-white w-100" (click)="verificar()">
                                                    <span class="d-flex align-items-center justify-content-center">
                                                        <mat-icon class="mr-1" style="font-size: 18px; width: 18px; height: 18px;">search</mat-icon> Consultar por caso
                                                    </span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top: 5px">
                                            <div class="col-md-9">
                                                <h2 *ngIf="blDatosBasicos" style="margin-top: 10px; margin-left: -3px">
                                                    DATOS BASICOS</h2>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                        <div class="row" *ngIf="dbDatos">

                                            <div class="col-md-12">
                                                <div class="card border-0 shadow-sm b-4" style="border-radius: 2px; overflow: hidden;">
                                                    <div class="card-body p-0">
                                                        <div class="row no-gutters">
                                                            <!-- Left Column: Profile & Personal Data -->
                                                            <div class="col-lg-3 bg-secondary p-4 border-right d-flex flex-column align-items-center">
                                                                
                                                                <!-- Photo with elegant frame -->
                                                                <div class="position-relative mb-3">
                                                                    <div class="shadow-lg p-1 bg-white rounded">
                                                                        <img [src]="obtenerFoto(IDatosBasicos.cedula)" class="rounded" 
                                                                             style="width: 100%; max-width: 220px; height: auto; object-fit: cover;" 
                                                                             alt="Foto del perfil">
                                                                    </div>
                                                                </div>
                                            
                                                                <h4 class="text-center font-weight-bold text-dark mb-1 text-uppercase">{{IDatosBasicos.nombres || 'NO APLICA'}}</h4>
                                                                <div class="mb-3">
                                                                    <span class="badge badge-pill badge-primary shadow-sm px-3 py-2" 
                                                                          [ngStyle]="{'background-color': color_acc ? color_acc : '#5eaaa8', 'color': color_texto}"
                                                                          style="font-size: 13px;">
                                                                        V-{{IDatosBasicos.cedula || 'NO APLICA'}}
                                                                    </span>
                                                                </div>
                                            
                                                                <!-- Personal Details List -->
                                                                <div class="w-100 px-2">
                                                                    <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
                                                                        <span class="text-muted text-xs font-weight-bold text-uppercase">Sexo</span>
                                                                        <span class="font-weight-600 text-dark text-sm">{{ (getSex(IDatosBasicos.sexo) | uppercase) || 'NO APLICA' }}</span>
                                                                    </div>
                                                                    <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
                                                                        <span class="text-muted text-xs font-weight-bold text-uppercase">Situación</span>
                                                                        <span class="font-weight-600 text-dark text-sm">{{ (getSituation(IDatosBasicos.situacion) | uppercase) || 'NO APLICA' }}</span>
                                                                    </div>
                                                                    <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
                                                                        <span class="text-muted text-xs font-weight-bold text-uppercase">Clasificación</span>
                                                                        <span class="font-weight-600 text-dark text-sm">{{ (IDatosBasicos.clasificacion | uppercase) || 'NO APLICA' }}</span>
                                                                    </div>
                                                                    <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
                                                                        <span class="text-muted text-xs font-weight-bold text-uppercase">Categoría</span>
                                                                        <span class="font-weight-600 text-dark text-sm">{{ IDatosBasicos.categoria || 'NO APLICA' }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                            
                                                            <!-- Right Column: Professional Info & Timeline -->
                                                            <div class="col-lg-9 p-4 bg-white">
                                                                <!-- Header -->
                                                                <div class="d-flex align-items-center mb-3 pb-2 border-bottom">
                                                                    <div class="icon icon-shape btn-pastel text-white rounded-circle shadow mr-3">
                                                                        <mat-icon>military_tech</mat-icon>
                                                                    </div>
                                                                    <div>
                                                                        <h5 class="text-uppercase text-muted ls-1 mb-0">Información Profesional</h5>
                                                                        <h2 class="text-dark mb-0">{{IDatosBasicos.grado || 'NO APLICA'}} - {{IDatosBasicos.componente || 'NO APLICA'}}</h2>
                                                                    </div>
                                                                </div>
                                            
                                                                <!-- Details Cards -->
                                                                <div class="row mb-3">
                                                                    <div class="col-md-6 mb-2 mb-md-0">
                                                                        <div class="p-3 rounded" style="background-color: #f8f9fe; border-left: 4px solid #5e72e4;">
                                                                            <small class="text-muted text-uppercase font-weight-bold d-block mb-1" style="font-size: 0.7rem;">Especialidad</small>
                                                                            <span class="h5 font-weight-bold mb-0 text-dark" style="font-size: 0.9rem;">{{ (IDatosBasicos.especialidad | uppercase) || 'NO APLICA' }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="p-3 rounded" style="background-color: #f8f9fe; border-left: 4px solid #11cdef;">
                                                                            <small class="text-muted text-uppercase font-weight-bold d-block mb-1" style="font-size: 0.7rem;">Fecha de Promoción</small>
                                                                            <span class="h5 font-weight-bold mb-0 text-dark" style="font-size: 0.9rem;">{{ convertirFecha(IDatosBasicos.promocion) || 'NO APLICA' }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                            
                                                                <!-- Alerts/Observations -->
                                                                <div class="mb-3" *ngIf="IDatosBasicos.observaciones">
                                                                    <div class="alert alert-secondary shadow-sm border-0 mb-2">
                                                                        <div class="d-flex align-items-center">
                                                                            <mat-icon class="mr-2 text-muted" style="font-size: 18px; width: 18px; height: 18px;">info</mat-icon>
                                                                            <span class="text-sm text-dark" style="font-size: 0.85rem;"><strong>OBSERVACIONES:</strong> {{ (IDatosBasicos.observaciones | uppercase) || 'NO APLICA' }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                            
                                                                <!-- Timeline Section -->
                                                                <div class="mt-4">
                                                                    <div class="d-flex align-items-center mb-3">
                                                                        <h5 class="text-uppercase text-muted ls-1 mb-0" style="font-size: 0.8rem; font-weight: 700; letter-spacing: 1px;">
                                                                            Historial de Ascensos
                                                                        </h5>
                                                                    </div>
                                                                    
                                                                    <div class="timeline-container pl-1 pr-2" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;">
                                                                            
                                                                            <div *ngFor="let elem of lstAscenso; let i = index; let last = last" class="timeline-block d-flex position-relative pb-4">
                                                                                
                                                                                <div class="timeline-axis d-flex flex-column align-items-center mr-3" style="min-width: 24px;">
                                                                                    <!-- Dot -->
                                                                                    <div class="timeline-dot shadow-sm" 
                                                                                         [ngStyle]="{'background-color': i === 0 ? '#5eaaa8' : '#fff', 'border': i === 0 ? 'none' : '2px solid #e9ecef'}"
                                                                                         style="width: 14px; height: 14px; border-radius: 50%; z-index: 2; margin-top: 6px;">
                                                                                    </div>
                                                                                    <!-- Line -->
                                                                                    <div *ngIf="!last" class="timeline-line" 
                                                                                         style="width: 2px; flex-grow: 1; background: linear-gradient(to bottom, #e9ecef 0%, #f8f9fe 100%); margin-top: 4px; margin-bottom: -10px;">
                                                                                    </div>
                                                                                </div>

                                                                                <div class="timeline-content w-100">
                                                                                    <div class="row align-items-center">
                                                                                        <div class="col-md-3 mb-1 mb-md-0">
                                                                                            <div class="d-flex flex-column">
                                                                                            <span class="text-muted text-xs font-weight-bold mb-1">
                                                                                                <i class="ni ni-calendar-grid-58 mr-1"></i> {{ convertirFecha(elem.fecha_resolucion) || '---' }}
                                                                                            </span>
                                                                                                <span class="text-dark text-xs font-weight-bold">
                                                                                                    <i class="fa fa-hashtag mr-1 text-muted"></i> {{ elem.numero || 'S/N' }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-md-4 mb-1 mb-md-0">
                                                                                            <span class="d-block text-dark font-weight-bold text-sm text-uppercase" style="line-height: 1.2;">
                                                                                                {{ obtenerNombreGrado(elem.grado) || 'NO APLICA' }}
                                                                                            </span>
                                                                                        </div>

                                                                                        <div class="col-md-2 text-center mb-1 mb-md-0">
                                                                                            <div class="d-inline-block">
                                                                                                <small class="text-muted d-block text-uppercase" style="font-size: 0.65rem;">Orden</small>
                                                                                                <span class="font-weight-bold text-dark" style="font-size: 0.9rem;">{{ obtenerOrdenMerito(elem) || '-' }}</span>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-md-3 text-right">
                                                                                            <button *ngIf="!validarSeguridad(elem)" 
                                                                                                    class="btn btn-sm btn-pastel text-white shadow-sm" 
                                                                                                    (click)="dwUrl(elem)" 
                                                                                                    style="border-radius: 20px; padding: 0.4rem 1rem;">
                                                                                                <i class="fa fa-download mr-1"></i> Ver
                                                                                        </button>
                                                                                        
                                                                                            <span *ngIf="validarSeguridad(elem)" 
                                                                                                  class="badge badge-pill badge-warning text-white" style="padding: 0.5em 1em;">
                                                                                                <i class="fa fa-lock mr-1"></i> Restringido
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    
                                                                                    <div *ngIf="!last" class="mt-3 border-bottom" style="border-color: rgba(0,0,0,0.05) !important;"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                            
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="dbDatosNombre">
                                            <div class="col-md-12">

                                                <table class="sandratbl">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="7" class="text-center" style="padding: 15px;">
                                                                LISTADO GENERAL POR PERSONA </th>
                                                        </tr>
                                                        <tr>
                                                            <th> NUM.</th>
                                                            <th> GRADO</th>
                                                            <th> NOMBRE COMPLETO</th>
                                                            <th style="width: 110px;"> CEDULA</th>
                                                            <th style="width: 90px;"> PROMOCION</th>
                                                            <th> SEXO </th>
                                                            <th>SITUACION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstNombres; index as i">
                                                            <td>{{ i+1 }}</td>
                                                            <td>{{ e.grado_abreviado }}</td>
                                                            <td>{{ e.nombres }}</td>
                                                            <td><a class="enlace"
                                                                    (click)="MoverForm(e.cedula);volverDatos(0)"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{e.cedula}} </a>
                                                            </td>
                                                            <td>
                                                                {{ convertirFecha(e.promocion) }}
                                                            </td>
                                                            <td>
                                                                {{ e.sexo | uppercase }}
                                                            </td>
                                                            <td>
                                                                {{ getSituation(e.situacion) | uppercase }}
                                                            </td>

                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>


                                        <div class="row"  *ngIf="dbDatos">

                                            <div class="col-md-12">
                                                <br><br>
                                                <h2> ENTRADAS</h2>
                                                <table class="sandratbl">
                                                    <thead>

                                                        <tr>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>CUENTA</th>
                                                            <th>ESTATUS</th>
                                                            <th>ASUNTO</th>
                                                            <th>VER</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstEntradas">
                                                            <td>{{ convertirFecha(e.fecha_entrada)}}</td>
                                                            <td>   
                                                                <a *ngIf="e.cuenta_oficio!=''"  
                                                                class="enlace" (click)="dwUrlEntrada(e)"
                                                                    target="_blank"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{ e.cuenta_oficio }} </a>
                                                                <a *ngIf="e.cuenta_oficio==''"  
                                                                class="enlace" (click)="dwUrlEntrada(e)"
                                                                    target="_blank"
                                                                    style="font-weight: bold; color: brown;">
                                                                     VER DOC. </a>
                                                                

                                                            </td>
                                                            <td>{{ e.estatus_descripcion }}</td>
                                                            <td [innerHTML]="e.asunto | uppercase"></td>
                                                            <td style="text-align: center;">
                                                                <button mat-icon-button aria-label="Editar"
                                                                    (click)="detalleEntrada( frmEntrada, e )">
                                                                    <mat-icon class="text-blue">notes</mat-icon>
                                                                </button>
                                                            </td>
                                                            
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>


                                        <div class="row" *ngIf="dbDatos">
                                            <div class="col-md-12">
                                                <br><br>
                                                <h2> RESOLUCIONES</h2>
                                                <table class="sandratbl">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>NUMERO</th>
                                                            <th>TIPO</th>
                                                            <th>ASUNTO</th>
                                                            <th>DISTRI.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstResoluciones; index as i">
                                                            <td valign="center"><b>{{ i + 1 }}</b></td>
                                                            <td>{{ convertirFecha(e.fecha) }}</td>
                                                            <td><a *ngIf="!validarSeguridad(e)" class="enlace"
                                                                    (click)="dwUrl(e)" target="_blank"
                                                                    style="font-weight: bold; color: brown; ">
                                                                    {{e.titulo}} </a> </td>
                                                            <td>{{ obtenerTipo(e.tipo) }}</td>
                                                            <td *ngIf="validarSeguridad(e)" style="color:brown;">

                                                                <b>DEBE CONSULTAR CON EL DEPARTAMENTO DE
                                                                    RESOLUCIONES</b>
                                                            </td>
                                                            <td *ngIf="!validarSeguridad(e)"  [innerHTML]="e.asunto | uppercase"></td>
                                                            
                                                            <td >
                                                                <button mat-icon-button aria-label="Detalle"
                                                                    (click)="detalle( detalles, e)">
                                                                    <mat-icon class="text-{{getIconColor(e)}}">{{
                                                                        getIcon( e ) }}</mat-icon>
                                                                </button>
                                                            </td>
                                                            
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>

                                        <div class="row" *ngIf="dbResolucion">

                                            <div class="col-md-12">
                                                <table class="sandratbl">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="8" class="text-center" style="padding: 15px;">
                                                                FICHA DE DATOS RESOLUCIONES ( {{ resolucion }} ) </th>
                                                        </tr>
                                                        <tr>
                                                            <th> NUM.</th>
                                                            <th> GRADO</th>
                                                            <th> NOMBRE COMPLETO</th>
                                                            <th style="width: 110px;"> CEDULA</th>
                                                            <th style="width: 90px;"> FECHA</th>
                                                            <th>TIPO</th>
                                                            <th>ASUNTO</th>
                                                            <th>CORRECCION</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let e of lstResolucionesS; index as i">
                                                            <td>{{ i+1 }}</td>
                                                            <td>{{ e.grado_abreviado }}</td>
                                                            <td>{{ e.nombres_apellidos }}</td>
                                                            <td><a class="enlace"
                                                                    (click)="obtenerCedula(e.cedula);volverDatos(1)"
                                                                    style="font-weight: bold; color: brown;">
                                                                    {{e.cedula}} </a></td>

                                                            <td>{{ convertirFecha(e.fecha_resolucion) }}</td>
                                                            <!-- href="{{ obtenerUbicacion(e) }}" -->
                                                            <td><a *ngIf="!validarSeguridad(e)" class="enlace"
                                                                    (click)="dwUrl(e)" target="_blank"
                                                                    style="font-weight: bold; color: brown;"> {{
                                                                    obtenerTipo(e.tipo) }} </a> </td>
                                                            <td *ngIf="validarSeguridad(e)" style="color:brown;">

                                                                <b>DEBE CONSULTAR CON EL DEPARTAMENTO DE
                                                                    RESOLUCIONES</b>
                                                            </td>
                                                            <td *ngIf="!validarSeguridad(e)">
                                                                {{e.administracion}}
                                                                <br>
                                                                {{e.asunto}}
                                                            </td>
                                                            <td>
                                                                <a *ngIf="!validarSeguridad(e)" class="enlace"
                                                                    (click)="dwUrlCorreccion(e)" target="_blank"
                                                                    style="font-weight: bold; color: brown;"> {{
                                                                    getCorreccion(e) }} </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>

                                        </div>


                                    </div>

                                

                            


                        </div>


                    </div>

                    <br><br>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <!-- Fin de Tarjeta Padre -->
</div>





<!-- Adjuntar Imagenes al Documento -->
<ng-template #detalles let-c="close" let-d="dismiss">

    <div class="modal-body">



        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="form-label-custom">Instrucciones especiales</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text icon-box">
                            <mat-icon class="input-icon">assignment</mat-icon>
                        </span>
                    </div>
                    <textarea class="input-custom" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="instrucciones" placeholder="Instrucciones..."></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="form-label-custom">Observaciones</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text icon-box">
                            <mat-icon class="input-icon">comment</mat-icon>
                        </span>
                    </div>
                    <textarea class="input-custom" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="observacion" placeholder="Observaciones..."></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">

                    <thead>
                        <tr style="background-color: #CCC">
                            <th style="text-align: center;">CREADOR POR</th>
                            <th style="text-align: center;">FECHA CREACION</th>

                        </tr>
                        <tr>
                            <td style="text-align: center;">{{autor_creador}}</td>
                            <td style="text-align: center;">{{fecha_registro}}</td>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="form-label-custom">Destino</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text icon-box">
                            <mat-icon class="input-icon">place</mat-icon>
                        </span>
                    </div>
                    <textarea class="input-custom" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="destino" placeholder="Destino..."></textarea>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-pastel text-white " (click)="c('Save')">
            <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>

    </div>
</ng-template>