.titulo {
    font: 800 18px / 1px Roboto, "Helvetica Neue", sans-serif;
}


.mat-form-field {
    width: 100%;
}


input {
    text-transform: uppercase;
}

select {
    text-transform: uppercase;
}

textarea {
    text-transform: uppercase;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.texto-lista {
    margin-top: 13px;
    font-weight: bold;
}


.enlace:hover {
    cursor: pointer;
    color: blue;
}

table {
    font-family: sans-serif;

    th,
    td {
        padding: .25em .5em;
        text-align: left;

        &:nth-child(2) {
            text-align: left;
        }
    }

    th {
        background-color: rgb(102, 102, 222);
        color: #fff;
    }

    tr {
        border-bottom: #b9aeae;
    }

    tr:nth-child(odd) {
        background-color: #f1f1f1;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }
}


.input_container {
    border: 1px solid #e5e5e5;
    text-transform: capitalize;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
    text-transform: capitalize;
}

input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    text-transform: capitalize;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}




.example-button-row {
    display: table-cell;
    width: 490px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}