<div class="header bg-pastel-gradient pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>

<div class="container-fluid mt--9">
  <div class="row" style="margin-top: 30px;">

    <div class="col-xl-3 col-lg-4 col-md-6 mb-4 sub-anim-item" *ngFor="let e of Menu; let i = index"
      [style.animation-delay]="(i * 100) + 'ms'">

      <a routerLinkActive="active" [routerLink]="[e.url]" id="{{ e.url.replaceAll('/','') }}"
        class="text-decoration-none">
        <div class="menu-card h-100">

          <div class="card-body text-center p-4 d-flex flex-column align-items-center justify-content-center">
            <div class="icon-container">
              <i class="ni {{ e.icono ? e.icono : ' ni-collection' }} fa-2x"></i>
            </div>
            <h5 class="text-uppercase font-weight-bold mb-3 text-title">{{e.descripcion || e.nombre}}</h5>
            <div class="mt-auto">
              <span class="badge badge-pill badge-secondary text-muted px-3 py-2"
                style="background-color: #f8f9fe; border: 1px solid #f0f2f5;">
                <i class="fa fa-chevron-right mr-1" style="font-size: 0.8em;"></i> Acceder
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>