<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
      <p></p>
  </div>    
</div>

<div class="container-fluid mt--9">
  <div class="card col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="card mt-4 mb-4">
          <div class="card px-lg-2 py-lg-2">
            <img class="card-img-top" src="./assets/img/brand/documentos.jpg" style="height: 144px;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">CONTROL Y GESTIÓN</h4>
              <p class="card-text">Recepción y registro de documentos del Despacho MPPD.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card mt-4 mb-4">
          <div class="card px-lg-2 py-lg-2">
            <img class="card-img-top" src="./assets/img/brand/secretaria.jpg" style="height: 144px;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">SECRETARÍA</h4>
              <p class="card-text">Procesamiento de solicitudes de puntos de cuenta.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card mt-4 mb-4">
          <div class="card px-lg-2 py-lg-2">
            <img class="card-img-top" src="./assets/img/brand/resoluciones.jpg" style="height: 144px;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">RESOLUCIONES</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card mt-4 mb-4">
          <div class="card px-lg-2 py-lg-2">
            <img class="card-img-top" src="./assets/img/brand/ayudantia2.jpg" style="height: 144px;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">AYUDANTÍA</h4>
              <p class="card-text">Recepción y registro de documentos del Despacho MPPD</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card mt-4 mb-4">
          <div class="card px-lg-2 py-lg-2">
            <img class="card-img-top" src="./assets/img/brand/timonel.jpg" style="height: 144px;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">TIMONEL</h4>
              <p class="card-text">Recepción y gestión de documentos para la firma del MPPD</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card mt-4 mb-4">
          <div class="card px-lg-2 py-lg-2">
            <img class="card-img-top" src="./assets/img/brand/acami.jpg" style="height: 144px;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">ACAMI</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card mt-4 mb-4">
          <div class="card px-lg-2 py-lg-2">
            <img class="card-img-top" src="./assets/img/brand/personal.jpg" style="height: 144px;" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">PERSONAL</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>