<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">


      <div class="card shadow">

        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-11">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
              <h2 class="mb-0">Configuraciones Generales</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                  <div class="example-button-row">
                      <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                          <mat-icon>reply</mat-icon>
                      </button>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-1">
              <ul class="navbar-nav align-items-right d-none d-md-flex">
                  <li class="nav-item" ngbDropdown placement="bottom-right">
                      <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                          <div class="media align-items-center">
                              <div class="example-button-row">
                                  <button mat-icon-button aria-label="">
                                      <mat-icon>more_vert</mat-icon>
                                  </button>
                              </div>
                          </div>
                      </a>
                      <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
                          <a routerLinkActive="active" [routerLink]="['/rsentradas']" class="dropdown-item">
                              <i class="fa fa-plus"></i>
                              <span>Nueva Entrada</span>
                          </a>
                      </div>
                  </li>
              </ul>
          </div> -->

          </div>
        </div>

        <div class="card-body">
          <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3">
                  <a routerLinkActive="active" (click)="desactivar();dbasico=true">
                    <div class="text-center rounded botones">
                      <br>
                        <h2 class="text-center text-green"><i class="fa fa-user-circle" style="font-size: 42px;"></i></h2>
                        <p>Datos Basicos</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3">
                  <a routerLinkActive="active" (click)="desactivar();dmasivo=true">
                    <div class="text-center rounded botones">
                      <br>
                        <h2 class="text-center text-blue"><i class="fa fa-tasks" style="font-size: 42px;"></i></h2>
                        <p>Ascensos</p>
                    </div>
                  </a>
                </div>
    
                <div class="col-md-3">
                  <a routerLinkActive="active" (click)="desactivar();dgeneral=true">
                    <div class="text-center rounded botones">
                      <br>
                        <h2 class="text-center text-red"><i class="fa fa-cog" style="font-size: 42px;"></i></h2>
                        <p>Generales</p>
                    </div>
                  </a>
                </div>
                <div class="col-md-3">
                  <a routerLinkActive="active" (click)="desactivar();dpublicaciones=true">
                    <div class="text-center rounded botones">
                      <br>
                        <h2 class="text-center text-teal"><i class="fa fa-upload" style="font-size: 42px;"></i></h2>
                        <p>Publicaciones</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <app-rscdatosbasicos *ngIf="dbasico"></app-rscdatosbasicos>
              <app-rsccargamasiva *ngIf="dmasivo"></app-rsccargamasiva>
              <app-rscgeneral *ngIf="dgeneral"></app-rscgeneral>
              <app-rscpublicaciones *ngIf="dpublicaciones"></app-rscpublicaciones>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- Fin de Tarjeta Padre -->
</div>