<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">


      <div class="card shadow">

        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-11">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
              <h2 class="mb-0">{{titulo}}</h2>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                  <div class="example-button-row">
                      <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                          <mat-icon>arrow_back</mat-icon>
                      </button>
                  </div>
              </div>
          </div>

          </div>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">

              <div class="row">

                <div class="col-md-2"></div>
                
                <div class="col-md-2">
                  <a routerLinkActive="active" (click)="desactivar('Datos Basicos');dbasico=true">
                    <div class="text-center rounded botones">
                      <br>
                        <h2 class="text-center text-green"><i class="fa fa-user-circle" style="font-size: 42px;"></i></h2>
                        <p>Datos Basicos</p>
                    </div>
                  </a>
                </div>
    
        
                
                <div class="col-md-2">
                  <a routerLinkActive="active" (click)="desactivar('Reportes');dpublicaciones=true">
                    <div class="text-center rounded botones">
                      <br>
                        <h2 class="text-center text-brown"><i class="fa fa-print" style="font-size: 42px;"></i></h2>
                        <p>Reportes</p>
                    </div>
                  </a>
                </div>
                
                <div class="col-md-2"></div>
    
              </div>
    

            </div>
            <div class="col-md-1"></div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-md-12">
              <app-rscdatosbasicos *ngIf="dbasico"></app-rscdatosbasicos>
              <!-- <app-rsccargamasiva *ngIf="dmasivo"></app-rsccargamasiva> -->
              <app-rscgeneral *ngIf="dgeneral"></app-rscgeneral>
              <app-rscpublicaciones *ngIf="dpublicaciones"></app-rscpublicaciones>

            </div>
          </div>
          

        </div>
      </div>
    </div>
  </div>
  <!-- Fin de Tarjeta Padre -->

  <br><br><br><br><br><br><br><br>
</div>



