<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">


            <div class="card shadow">

                <div class="card-header bg-transparent">
                    <div class="row align-items-center">

                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">{{titulo}}</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                   

                    <div *ngIf="bmenu" class="col-md-12 row justify-content-center text-center">
                        <div class="col-md-2"></div>
                        <!-- <div class="col-md-2 cardround" (click)="cambiarFormulario(1)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-red"><i class="fa fa-exclamation"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Codigos Rojos</p>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-2 cardround" (click)="cambiarFormulario(2)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-orange"><i class="fa fa-arrow-down"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Bajas</p>
                            </div>
                        </div> -->

                        <div class="col-md-2 cardround" (click)="cambiarFormulario(3)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-blue"><i class="fa fa-clipboard-check"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Administración</p>
                            </div>
                        </div>

                        <!-- <div class="col-md-2 cardround" (click)="cambiarFormulario(4)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-green"><i class="fa fa-arrow-up"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Ascensos</p>
                            </div>
                        </div> -->

                        <div class="col-md-2"></div>
                    </div>
                    <br>
                    

                    <ngx-ui-loader [loaderId]="'lbuscar'"></ngx-ui-loader>
                    <div  *ngIf="!bmenu"  class="d-flex justify-content-end mb-3 gap-2">

                        <button class="btn  bg-primary text-white" (click)="exportExcel()">
                        <i class="fas fa-file-excel mr-1"></i> Exportar Excel
                        </button>
                        <button class="btn  bg-warning text-white" (click)="volver()">
                            <i class="fas fa-arrow-left mr-1"></i> Mostrar Menu
                        </button>
                    </div>
                    <div *ngIf="!bmenu" class="row">
                        <div class="col-md-12 text-center col-lg-12">

                            <table id="tbl-ejercitos" class="tbl-ejercitos table-container" border="1">
                                <thead>
                                    <tr class="header-principal">
                                        <th class="celda-grado">#</th>
                                        <th class="bloque ejercito">GRADO</th>
                                        <th class="bloque armada">CATEGORIA</th>    
                                        <th class="bloque aviacion">ESPECIALIDAD</th>
                                        <th class="bloque guardia">COMP.</th>
                                        <th class="celda-total">PROM.</th>
                                        <th class="celda-total">NOMBRES Y APELLIDO</th>
                                        <th class="celda-total">CEDULA</th>
                                        <th class="celda-total">TIEMPO ADM.</th>
                                        <!-- <th class="celda-total">TIEMPO EN EL CARGO ACTUAL</th> -->
                                        <th class="celda-total">ENTE</th>
                                        <!-- <th class="celda-total">OBSERVACION</th> -->
                                        <th class="celda-total">RETORNO</th>
                                    </tr>

                                
                                </thead>
                                <tbody>
                                   <tr *ngFor="let e of lst; index as i">
                                    <td>{{ i+1 }}</td>
                                    <td style="font-weight: bold;">{{e.ngrado}}</td>
                                    <td style="font-weight: bold;">{{e.n_categoria}}</td>
                                    <td style="font-weight: bold;">{{e.especialidad | uppercase}}</td>
                                    <td style="font-weight: bold;">{{e.ncomponente}}</td>
                                    <td>{{e.fecha_promocion | date:"yyyy"}}</td>
                                    <td>{{e.nombres_apellidos}}</td>
                                    <td>{{e.cedula}}</td>
                                    <td>{{e.total }}</td>
                                    <td>{{e.des_reserva}}</td>
                                    <!-- <td></td> -->
                                    <td>{{e.fecha_fin_periodo | date:"dd/MM/yyyy"}}</td>
                                   </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>

                    </div>
                    <br><br>
                  
                    
                </div>
            </div>
        </div>
    </div>
</div>