.example-button-row {
    display: table-cell;
    width: 490px;
}

.cardround {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

.card {
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.botones {
    border: 1px solid #f2f2f2;
}

.botones:hover {
    background-color: #fcf7f7;
}

.botones>p {
    font-size: 12px;
    color: #434141;
}