<div class="header bg-gradient-success pb-8 pt-4 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

<div class="container-fluid mt--9">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">


            <div class="card shadow">

                <div class="card-header bg-transparent">
                    <div class="row align-items-center">

                        <div class="col-md-11">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                            <h2 class="mb-0">{{titulo}}</h2>
                        </div>
                        <div class="col-md-1">
                            <div class="media align-items-center">
                                <div class="example-button-row">
                                    <button mat-icon-button title="Volver Atrás" onclick="history.back()">
                                        <mat-icon>arrow_back</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <ngx-ui-loader [loaderId]="'loader-buscar'"></ngx-ui-loader>

                    <div *ngIf="bmenu" class="col-md-12 row justify-content-center text-center">
                        <div class="col-md-2"></div>
                        <div class="col-md-2 cardround" (click)="cambiarFormulario(1)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-red"><i class="fa fa-exclamation"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Codigos Rojos</p>
                            </div>
                        </div>

                        <div class="col-md-2 cardround" (click)="cambiarFormulario(2)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-orange"><i class="fa fa-arrow-down"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Bajas</p>
                            </div>
                        </div>

                        <div class="col-md-2 cardround" (click)="cambiarFormulario(3)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-blue"><i class="fa fa-clipboard-check"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Nombramientos</p>
                            </div>
                        </div>

                        <div class="col-md-2 cardround" (click)="cambiarFormulario(4)">
                            <div class="text-center botones">
                                <br>
                                <h2 class="text-center text-green"><i class="fa fa-arrow-up"
                                        style="font-size: 42px;"></i>
                                </h2>
                                <p>Ascensos</p>
                            </div>
                        </div>

                        <div class="col-md-2"></div>
                    </div>
                    <br>
                    <div  *ngIf="!bmenu" class="row" style="padding-top: 5px">
                        <div class="col-md-9">
                            <h2 style="margin-top: 10px; margin-left: -3px;padding-left: 20px;">
                                REPORTE GENERAL</h2>
                        </div>
                        <div class="col-md-3">

                            <div 
                                class="example-button-row text-right text-white">
                                <button style="background-color: #2a9a17;" mat-icon-button
                                    title="Volver Atrás" (click)="volver()">
                                    <mat-icon>open_in_browser</mat-icon>
                                </button>
                            </div>
                            

                        </div>
                    </div>
                    <div class="row p-4" *ngIf="!bmenu">
                        <div class="col-md-12">
                            <app-rscpublicaciones *ngIf="formularioAGenerar != 0" [formularioAGenerar]="formularioAGenerar" ></app-rscpublicaciones>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>