<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <p></p>
  </div>
</div>

<div class="container-fluid mt--9">
  <ngx-ui-loader [loaderId]="'loader-aceptar'"></ngx-ui-loader>
  <div class="row">
    <div class="col-xl-12 col-md-12 col-lg-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col-md-9">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Ministerial / {{ numControl }}</h6>
              <h2 class="mb-0">Punto de Cuenta</h2>
            </div>
            

            <div class="col-md-1">
              <div class="media align-items-center" *ngIf="dwValidate">
                <div class="example-button-row">
                  <button mat-icon-button title="Ver Documentos" (click)="verArchivos(archivos)">
                    <mat-icon>wallpaper</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Documentos Asociados" (click)="openTMS()">
                    <mat-icon>folder_open</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Redistribuir" (click)="open(observacion, cuenta)">
                    <mat-icon>account_tree</mat-icon>
                  </button>
                </div>
              </div>
            </div> -->
            <div class="col-md-1">
              <div class="media align-items-center">
                <div class="example-button-row">
                  <button mat-icon-button title="Volver Atrás" (click)="_atras()">
                    <mat-icon>reply</mat-icon>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="card-body">
          <form>

            <div class="form-group row">
              <div class="form-group  col-md-4">
                <label>Unidad Minsiterial</label>
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="unidad"
                  value="{{unidad}}" readonly>
              </div>
              <div class="form-group  col-md-4">
                <label>Gran Comando</label>
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="comando"
                  value="{{comando}}" readonly>
              </div>
              <div class="form-group  col-md-2">
                <label>N. De Cuenta</label>
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cuenta"
                  value="{{cuenta}}" readonly>
              </div>
              <div class="form-group  col-md-2">
                <label>Fecha</label>
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha"
                  value="{{ fecha}}" readonly>
              </div>
              <div class="form-group col-md-12">
                <label>Asunto</label>
                <div class="NgxEditor__Wrapper">
                  <!-- <ngx-editor [ngModelOptions]="{standalone: true}" [editor]="editor" [(ngModel)]="asunto"
                    [placeholder]="'Escibe aqui...'">
                  </ngx-editor> -->
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="form-group col-md-12">

                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="font-weight:bold">
                        Detalles de puntos de cuenta
                      </mat-panel-title>
                      <mat-panel-description>
                        Listado general

                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table class="table align-items-center table-flush" style="width:100%">
                      <thead class="thead-light">
                        <th>#</th>
                        <th>GRADO / COMPONENTE</th>
                        <th>Nombres y Apellidos</th>
                        <th>CEDULA</th>
                        <th>Observaciones</th>
                      </thead>
                      <tbody>
                        <tr [ngModelOptions]="{standalone: true}" *ngFor="let el of lstCuenta;let i=index">
                          <td>
                            <input type="hidden" class="form-control"  id="{{ i }}-nomb" value="{{ el.nombre }}">
                            <input type="hidden" class="form-control"  id="{{ i }}-cedu" value="{{ el.cedula }}">
                            <input type="hidden" class="form-control"  id="{{ i }}-carg" value="{{ el.cargo }}">
                            <mat-checkbox class="example-margin texto-lista" 
                              [(ngModel)]="el.completed"  
                              color="warn" 

                              (ngModelChange)="updateAllComplete()">
                            </mat-checkbox>
                          </td>
                          <td style="width:80px">{{ el.cargo }}</td>
                          <td style="width:80px">{{ el.nombre }}</td>
                          <td style="width:60px">{{ el.cedula }}</td>
                          <td>
                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" id="{{i}}-text"> 
                          </td>
                        </tr>

                      </tbody>
                    </table>

                    <div class="form-group col-md-12 text-right">
                      <br>
                      <button mat-raised-button (click)="transfererirResoluciones()">Transferir a Resoluciones</button>
                    </div>

                  </mat-expansion-panel>
                </mat-accordion>


              </div>
              
            </div>



            <div class="form-group row">
              <div class="form-group col-md-4">
                <label>Accion Tomada</label>
                <textarea class="form-control" cols="30" rows="6" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="SubDocumento.accion"></textarea>
              </div>


              <div class="form-group col-md-4">
                <label for="txtobservacion">Historial</label>
                <textarea class="form-control" cols="30" rows="6" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="SubDocumento.historico"></textarea>
              </div>

              <div class="form-group col-md-4">
                <div class="col-md-12">
                  <label>Estatus</label>
                  <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="SubDocumento.estatus"
                    (change)="selFecha()">
                    <option value="0">SELECCIONE</option>
                    <option *ngFor="let e of lstAcciones" value="{{e.valor}}">{{e.texto}}</option>
                  </select>

                </div>
                <br>

                <div class="col-md-12">
                  <label for="tmsCreacion">Plazo </label>
                  <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                      <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="fplazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement"
                        [positionTarget]="buttonEl" readonly>
                      <div class="input-group-append">
                        <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button" disabled></button>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-md-4">
                <div class="form-group  col-md-12">
                  <label>Decision del Ministro</label>
                  <select class="form-control" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="SubDocumento.decision">
                    <option value="0">SELECCIONE</option>
                    <option value="APROBADO">APROBADO</option>
                    <option value="NEGADO">NEGADO</option>
                    <option value="VISTO">VISTO</option>
                    <option value="DIFERIDO">DIFERIDO</option>
                    <option value="OTRO">OTRO</option>
                  </select>
                </div>


              </div>




              <div class="form-group col-md-4">
                <label>Comentario del MPPD</label>
                <textarea class="form-control" cols="30" rows="5" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="SubDocumento.comentario"></textarea>
              </div>

              <div class="form-group col-md-4">
                <label>Archivo</label>
                <textarea class="form-control" cols="30" rows="5" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="SubDocumento.archivo"></textarea>
              </div>


            </div>

            <hr>
            <div class="row">
              <div class="col-md-12">
                <div class="text-right">
                  <button class="btn bg-purple text-white" (click)="open(adjuntar, codigohash)">Adjuntar
                    Documento</button>
                  <button class="btn bg-success text-white" *ngIf="dwSub" (click)="verArchivos(archivos)">Ver
                    Documento</button>
                  <button class="btn bg-primary text-white" (click)="aceptar()">Aceptar</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>





  <ng-template #observacion let-modal>
    <div class="modal-header header bg-gradient-success">
      <h4 class="modal-title text-white" id="modal-basic-title">Tranferencia de departamento</h4>
    </div>
    <div class="modal-body">

      <div class="container">
        <div class="row">
          <div class="form-group col-md-12">
            <label for="txtobservacion">Observaciones</label>
            <textarea class="form-control" cols="30" rows="3" [ngModelOptions]="{standalone: true}"
              [(ngModel)]="Observacion"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Acción</label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="AccionTexto">
              <option *ngFor="let e of lstRedistribucion" value="{{e.valor}}">{{e.texto}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>Area</label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="cmbDestino">
              <option value="S">SELECCIONE</option>
              <option *ngFor="let x of lstEstados" value="{{ x.id }}">{{ x.nomb }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group  col-md-6">
            <label for="tmsCreacion">Plazo / Alerta</label>
            <div class="form-group" style="width:100%">
              <div class="input-group" style="width:100%">
                <input class="form-control" placeholder="AAAA-MM-DD" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="extender_plazo" ngbDatepicker #fd="ngbDatepicker" [placement]="placement" readonly
                  [positionTarget]="buttonEl">
                <div class="input-group-append">
                  <button #buttonEl class="btn calendario" (click)="fd.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="modal-footer">
      <button class="btn bg-gradient-info text-white " (click)="insertarObservacion();modal.close('Save')">
        <span class="fa fa-check"></span>&nbsp;&nbsp;Aceptar </button>
      <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
        <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
  </ng-template>


  <ng-template #adjuntar let-c="close" let-d="dismiss">
    <div class="modal-header header bg-gradient-success">
      <h4 class="modal-title" id="modal-basic-title">Cargar Archivo </h4>

    </div>
    <div class="modal-body">


      <form method="post" enctype="multipart/form-data" id="forma" name="forma">
        <input type="hidden" name="txtFileID" id="txtFileID" value="{{codigohash}}" readonly="readonly">
        <label for="input-folder-2">Seleccionar Archivo</label>
        <div class="file-loading">
          <input id="input-folder-2" (change)="fileSelected($event)" class="file-input" name="input-folder-2"
            type="file" multiple accept=".pdf">
        </div>
        <div id="errorBlock" class="help-block"></div>
      </form>



    </div>
    <div class="modal-footer">
      <button class="btn bg-gradient-success text-white " (click)="SubirArchivo();c('Save')">
        <span class="fa fa-upload"></span>&nbsp;&nbsp;Enviar Archivos </button>
      <button class="btn btn-warning" aria-label="Close" (click)="c('Close')">
        <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
  </ng-template>




  <!-- Adjuntar Imagenes al Documento -->
  <ng-template #archivos let-modal>
    <div class="modal-header header bg-gradient-success">
      <h4 class="modal-title" id="modal-basic-title">Lista de Archivos asociados {{ numControl }}</h4>

    </div>
    <div class="modal-body">


      <div class="form-group col-md-12">
        <div class="card card-profile">
          <div class="card-header bg-info" style="background-image: url('./assets/img/theme/inn.svg'); height: 80px;">
            <div class="card-avatar text-center">
              <a href="javascript:;">
                <img class="img img-raised rounded-circle" src="./assets/img/theme/pdf2.jpeg"
                  style="width:100px;z-index: 1; margin-top: -5px;">3
              </a>
            </div>
          </div>
          <br>

          <div class="card-body pt-0">

            <div class="d-flex justify-content-between">
              <a [href]="download" target="_top" rel="noopener noreferrer" class="btn btn-primary mt-3">Descargar</a>
              <a (click)="activarHistorial()" class="btn btn-default float-right mt-3">Historial</a>
            </div>
            <br><br>
            <div class="text-center">
              <div class="font-weight-50">
                Publicado<span class="font-weight-light">, {{ fcreacion | date:"dd-MM-yy hh:mm:ss"}}</span>
                <br>
                <h5 class="h4" style="font-size: 10px;">{{ creador }}</h5>
              </div>
            </div>
            <div style="margin-left: -10px;height:300px;overflow-x:scroll;width:104%" *ngIf="bHist">
              <table class="table">
                <thead class="thead-light">
                  <th>Documento</th>
                  <th>Usuario</th>
                  <th>Fecha</th>
                </thead>
                <tbody>

                  <tr [ngModelOptions]="{standalone: true}" *ngFor="let el of lstHzAdjunto;let i=index">

                    <td>
                      <a [href]="dwUrl(Doc.ncontrol, el.nombre)" target="_top" rel="noopener noreferrer">
                        {{ el.nombre.substring(20,32) }}
                      </a>
                    </td>
                    <td>{{ el.usuario }}</td>
                    <td>{{ el.fecha | date:"dd/MM/yy hh:mm:ss"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
        <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
  </ng-template>












  <!-- Adjuntar Imagenes al Documento -->
  <ng-template #subarchivos let-modal>
    <div class="modal-header header bg-gradient-success">
      <h4 class="modal-title" id="modal-basic-title">Lista de Archivos asociados {{ numControl }}</h4>

    </div>
    <div class="modal-body">


      <div class="form-group col-md-12">
        <div class="card card-profile">
          <div class="card-header bg-info" style="background-image: url('./assets/img/theme/inn.svg'); height: 80px;">
            <div class="card-avatar text-center">
              <a href="javascript:;">
                <img class="img img-raised rounded-circle" src="./assets/img/theme/pdf2.jpeg"
                  style="width:100px;z-index: 1; margin-top: -5px;">3
              </a>
            </div>
          </div>
          <br>

          <div class="card-body pt-0">

            <div class="d-flex justify-content-between">
              <a [href]="download" target="_top" rel="noopener noreferrer" class="btn btn-primary mt-3">Descargar</a>
              <a (click)="activarHistorialSub()" class="btn btn-default float-right mt-3">Historial</a>
            </div>
            <br><br>
            <div class="text-center">
              <div class="font-weight-50">
                Publicado<span class="font-weight-light">, {{ fcreacionsub | date:"dd-MM-yy hh:mm:ss"}}</span>
                <br>
                <h5 class="h4" style="font-size: 10px;">{{ creadorsub }}</h5>
              </div>
            </div>
            <div style="margin-left: -10px;height:300px;overflow-x:scroll;width:104%" *ngIf="bHist">
              <table class="table">
                <thead class="thead-light">
                  <th>Documento</th>
                  <th>Usuario</th>
                  <th>Fecha</th>
                </thead>
                <tbody>

                  <tr [ngModelOptions]="{standalone: true}" *ngFor="let el of lstHzAdjuntoSub;let i=index">

                    <td>
                      <a [href]="dwUrl(Doc.ncontrol, el.nombre)" target="_top" rel="noopener noreferrer">
                        {{ el.nombre.substring(20,32) }}
                      </a>
                    </td>
                    <td>{{ el.usuario }}</td>
                    <td>{{ el.fecha | date:"dd/MM/yy hh:mm:ss"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" aria-label="Close" (click)="modal.dismiss('Close')">
        <span class="fa fa-times"></span>&nbsp;&nbsp;Cancelar</button>
    </div>
  </ng-template>


  <!-- <button (click)="openTMS()">Open Template Bottom Sheet</button> -->

  <ng-template let-bottomSheetRef="bottomSheetRef" #templateBottomSheet>
    <div >
      <table class="table">
        <thead class="thead-light">
          <th>Número</th>
          <th>Fecha</th>
          <th>Documento</th>
        </thead>
        <tbody>
    
          <tr  *ngFor="let el of lstHzAdjunto">
    
            <td> <a  routerLinkActive="active"  [routerLink]="['/constancia', constancia( el.ncontrol )]">{{ el.ncontrol }} &nbsp;</a></td>
            <td>{{ el.fech }}</td>
            <td>
              <a [href]="dwUrl(el.ncontrol, el.archivo)" target="_top" rel="noopener noreferrer"> 
                {{ el.archivo.substring(22,32) }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>





<div style="display: none">
  <div id="prtNota">
    <section class="content">
      <div class="wrapper">
        <table border="0" style="width:100%">
          <tr>

            <td align="center">
              REPÚBLICA BOLIVARIANA DE VENEZUELA <BR>
              MINISTERIO DEL PODER POPULAR PARA LA DEFENSA<BR>
              AREA DE SECRETARIA
            </td>

          </tr>
        </table>

        <h3 style="text-align:center">NOTA DE ENTREGA DE DOCUMENTO {{ cuenta }}</h3>



        <table style="width:100%" border="1">
          <thead>
            <th>#</th>
            <th>CARGO</th>
            <th>N-CEDULA</th>
            <th>NOMBRE COMPLETO</th>
            <th>OBSERVACION</th>
          </thead>
          <tbody>
            <tr *ngFor="let e of lstNotaEntrega; let i=index;">
              <td>{{i + 1}}</td>
              <td>{{ e.cargo | uppercase }}</td>
              <td align="center">{{e.cedula }}</td>
              <td align="center">{{e.nombre }}</td>
              <td align="center">{{e.observacion | uppercase }}</td>
            </tr>
          </tbody>
        </table>

        <br><br><br>

        NOTA:

        <br>

      </div>
      <div class="footer">
        <hr>
        Ministerio del Poder Popular para la Defensa<br>
        {{llave}}
      </div>
    </section>
  </div>
</div>

