.form-label-custom {
  font-size: 0.8rem;
  font-weight: 600;
  color: #525f7f;
  margin-bottom: 0.5rem;
}

.input-custom {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
  transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-box {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-right: 0;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.625rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb5bd;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.input-icon {
  font-size: 1.2rem;
  color: #adb5bd;
}

.btn-pastel {
  background-color: #5eaaa8;
  border-color: #5eaaa8;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  &:hover {
    background-color: #4c9694;
    border-color: #4c9694;
    transform: translateY(-1px);
  }
}

.btn-pastel-cancel {
  background-color: #ef9a9a;
  border-color: #ef9a9a;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  &:hover {
    background-color: #e57373;
    border-color: #e57373;
    transform: translateY(-1px);
  }
}

.custom-file-upload {
  border: 2px dashed #e0eafc;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f6f9fc;
    border-color: #cfdef3;
  }

  .upload-icon {
    font-size: 3rem;
    color: #5eaaa8;
    margin-bottom: 1rem;
  }

  .upload-text {
    color: #525f7f;
    font-weight: 600;
  }

  .upload-hint {
    color: #8898aa;
    font-size: 0.8rem;
  }
}

input, select, textarea {
    text-transform: uppercase;
}