
<div class="header bg-pastel-gradient pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <p></p>
    </div>
</div>

  <div class="container-fluid mt--9">
    <div class="row">
      <div class="col-xl-12 col-md-12 col-lg-12">
        <div class="card shadow">
  
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col-md-11">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Resoluciones</h6>
                <h2 class="mb-0">Alertas Generales</h2>
              </div>
              <div class="col-md-1">
                <div class="media align-items-center">
                  <div class="example-button-row">
                    <button mat-icon-button title="Volver Atrás" [routerLink]="['/resoluciones']" >
                      <mat-icon>arrow_back</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="card-body">
            <ngx-ui-loader [loaderId]="'loader-buscar'"></ngx-ui-loader>
            <br>
           <div   *ngIf="bmenu"  class="col-md-12 cardround text-center" (click)="ConsultarCodigosRojos()">
                <div class="text-center botones">
                    <br>
                    <h2 class="text-center text-blue"><i class="fa fa-code"
                            style="font-size: 42px;"></i>
                    </h2>
                    <p>Codigos Rojo</p>
                </div>
            </div>





            <ngx-ui-loader [loaderId]="'lbuscar'"></ngx-ui-loader>
            <div  *ngIf="!bmenu"  class="d-flex justify-content-end mb-3 gap-2">

                <button class="btn btn-pastel text-white" (click)="exportExcel()">
                <i class="fas fa-file-excel mr-1"></i> Exportar Excel
                </button>
                <button class="btn btn-pastel-cancel text-white" (click)="volver()">
                    <i class="fas fa-arrow-left mr-1"></i> Mostrar Menu
                </button>
            </div>
            <div *ngIf="!bmenu" class="row">
                <div class="col-md-12 col-lg-12">

                    <table class="sandratbl">
                        <thead style="height: 40px;">
                            <tr >
                                <th>#</th>
                                <th>GRADO</th>
                                <th>COMP.</th>
                                <th>CEDULA</th>
                                <th style="width: 300px;">NOMBRES Y APELLIDO</th>
                                <th>MOTIVO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of lstCodigosRojos; index as i">
                            <td style="font-weight: bold;">{{ i+1 }}</td>
                            <td>{{e.gnombre}}</td>
                            <td>{{e.cnombre}}</td>
                            <td >{{e.cedula}}</td>
                            <td>{{e.nombres_apellidos | uppercase}}</td>
                            <td >{{ limpiarHtml(e.motivo | uppercase)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>

            </div>
            <br><br>
            













          </div>
        </div>
      </div>
    </div>
    <!-- Fin de Tarjeta Padre -->
  </div>
  